<div>

    <div class="row" >
        <div class="col-md-12">
            <div class="form-group">
                <label>選擇員工</label>
                <ui-select ng-model="workHourOverTimeRemedyCtrlVm.workAdd.selected"
                           class="btn-group bootstrap-select form-control"
                           ng-disabled="false"
                           ng-change="fetchWorkOverTimeData($select.selected)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="選擇員工">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="user in workHourOverTimeRemedyCtrlVm.executiveUsers | groupSelectpickerOptions: {name: $select.search}">
                        <span ng-bind-html="user.name| highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <div class="row"
         ng-if="workHourOverTimeRemedyCtrlVm.workAdd.selected"
         id="rowHead">
        <div class="col-md-12"
             id="colHead">
            <div class="form-group">
                <label for="projectName">總案名稱 - 專案名稱 - 子案名稱 - 類型 - 代碼</label>
                <ui-select ng-model="workHourOverTimeRemedyCtrlVm.prjItems.selected"
                           class="btn-group bootstrap-select form-control"
                           id="projectName"
                           ng-change="insertWOTItemViaPrj($select.selected._id)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="選擇(新增)">
                        {{$select.selected.mainName}} -
                        {{$select.selected.prjName}} -
                        {{$select.selected.prjSubName}} -
                        {{prjTypeToName($select.selected.type)}} -
                        {{$select.selected.prjCode}}
                    </ui-select-match>
                    <ui-select-choices
                            ng-model="prjName"
                            repeat="prjItems in workHourOverTimeRemedyCtrlVm.projects |
                            groupSelectpickerOptions: {
                            mainName: $select.search,
                            prjName: $select.search,
                            prjSubName: $select.search,
                            prjCode: $select.search
                            }"
                            group-by="'mainName'">
                        <span ng-bind-html="prjItems.prjName + ' - ' + prjItems.prjSubName + ' - ' + prjTypeToName(prjItems.type) + ' - ' + prjItems.prjCode| highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <br>

    <div class="row col-md-12"
         ng-if="workHourOverTimeRemedyCtrlVm.workAdd.selected">

        <my-month-picker ng-click="listenOTMonth(this)"
                         formatted="YYYY/MM">
        </my-month-picker>
        <br>
        <button type="button" class="btn btn-default btn-icon"
                ng-click="changeWorkOverTimeMonth(-1, this)">
            <i class="ion-chevron-left"></i>
        </button>
        {{myMonth}}
        <button type="button" class="btn btn-default btn-icon"
                ng-click="changeWorkOverTimeMonth(1, this)">
            <i class="ion-chevron-right"></i>
        </button>

        <hr>

        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="white-space:nowrap">
                <td style="vertical-align: inherit; text-align: center" width="80px"></td>
                <td style="vertical-align: inherit; text-align: center" width="100px">專案代碼</td>
                <td style="vertical-align: inherit; text-align: center" width="170px">申請日期</td>
                <td style="vertical-align: inherit; text-align: center">申請說明</td>
                <!--<td style="vertical-align: inherit; text-align: center">星期</td>-->
                <td style="vertical-align: inherit; text-align: center">狀態</td>
            </tr>
            </thead>
            <tbody ng-repeat="table in workOverTimeTablesItems">
            <tr style="vertical-align: inherit; text-align: center">
                <!--序號-->
                <td style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{$index + 1}}</span>
                    <!--<span >{{table.tableID}}</span>-->
                    <button class="btn btn-danger editable-table-button btn-xs"
                            ng-show="!rowform1.$waiting && !table.isSendReview"
                            ng-click="removeWOTItem($index);">移除
                    </button>
                </td>
                <!--專案代碼-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span>{{showPrjCode(table.prjDID)}}</span>
                </td>
                <!--日期-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <my ng-show="!rowform1.$waiting && !table.isSendReview">
                        <work-over-time-date-picker
                                isexecutive="true"
                                formatted="yyyy/MM/dd"
                                default="{{showDate(table)}}"></work-over-time-date-picker>
                    </my>
                    <my ng-show="rowform1.$waiting ||table.isSendReview">
                        {{showDate(table)}}
                    </my>
                    <!--{{table.month}} / {{table.day}}-->
                </td>
                <!--內容說明-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span ng-if="table.isSendReview">{{table.contents}}</span>
                    <input type="text"
                           ng-if="!table.isSendReview"
                           ng-model="table.contents"
                           value="{{table.contents}}"
                           class="form-control input-sm">
                </td>
                <!--星期-->
                <!--<td style="vertical-align: inherit; text-align: center">-->
                    <!--{{showWOTDay(table.day)}}-->
                <!--</td>-->

                <!--狀態-->
                <td style="vertical-align: inherit;" rowspan="2">
                    <!--審查中-->
                    <div ng-if="(table.isSendReview && !table.isManagerCheck && !table.isExecutiveSet)">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            確認作業中
                        </button>
                    </div>
                    <!--審查完成-->
                    <div ng-show="table.isManagerCheck && !table.isExecutiveSet">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            確認完成
                        </button>
                    </div>
                    <!-- 行政補登 -->
                    <div ng-show="(table.isExecutiveSet)">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            補登完成
                        </button>
                    </div>
                    <!--提交-->
                    <div ng-show="!table.isSendReview">
                        <div class="buttons" ng-show="!rowform1.$visible">
                            <button class="btn btn-danger editable-table-button btn-xs"
                                    ng-click="applyWOTItem(table, this, $index) ">
                                行政補登
                            </button>
                        </div>
                    </div>
                    <my ng-if="!table.isSendReview && table.isManagerReject"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false">
                        原因：<i class="ion-clipboard"></i>
                        <span class="tooltiptext">{{table.managerReject_memo}}</span>
                    </my>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="row" ng-if="false">
            <button type="button"
                    ng-click="insertWOTItem()"
                    class="btn btn-info btn-icon">
                <i class="ion-plus-round"/>
            </button>
        </div>
    </div>

</div>





