<div class="horizontal-scroll">
    <table class="table table-hover" st-table="workOffTables">
        <thead>
        <tr class="sortable">
            <th class="table-id" st-sort="date" st-sort-default="true" style="width: 5%">日期</th>
            <th st-sort="day" style="width: 10%">星期</th>
            <th st-sort="workOffType" style="width: 5%">假別</th>
            <th style="width: 10%">時間</th>
            <th style="width: 5%">休假時數</th>
            <!--<th style="width: 5%">年度累積</th>-->
            <th style="width: 5%">本月月薪</th>
            <th style="width: 5%">代理人</th>
        </tr>

        </thead>
        <tbody>

        <tr ng-repeat="tableItem in workOffTables" class="editable-tr-wrap">
            <!--日期-->
            <td class="table-id" style="width: 5%">
                {{showDate(tableItem)}}
                <button class="btn btn-danger editable-table-button btn-xs"
                        ng-show="isFitExecutive()"
                        ng-click="repentWorkItem_executive(workOffTables, tableItem, $index);">
                    核定後退回
                </button>
            </td>
            <!--星期-->
            <td style="width: 10%">{{showDay(tableItem.day)}}</td>
            <!--假別-->
            <td style="width: 5%">{{showWorkOffTypeString(tableItem.workOffType)}}</td>
            <!--時間-->
            <td style="width: 10%">{{tableItem.start_time}} - {{tableItem.end_time}}</td></td>
            <!--休假時數-->
            <td style="width: 5%">{{getHourDiffByTime(tableItem.start_time, tableItem.end_time, tableItem.workOffType)}}</td>
            <!--年度累積-->
            <!--<td class="select-td" style="width: 5%">-->
            <!--該月月薪-->
            <td class="select-td" style="width: 5%">{{tableItem.userMonthSalary}}</td>
            <!--代理人-->
            <td class="select-td" style="width: 5%"> {{showAgentName(tableItem)}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="30" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>