<!-- 2023/07/19 對照PPT 1111104進度管理-12-3(範例)-->
<div class="horizontal-scroll">
    <table class="table table-hover" st-table="projects">
        <thead>
        <tr>
            <td colspan="15" class="text-center">
                <div st-pagination="" st-items-by-page="30" st-displayed-pages="10"></div>
            </td>
        </tr>
        <tr class="sortable">
            <th st-sort="instituteCode" >機關代碼</th>
            <th st-sort="instituteName" st-sort-default="true" style="text-align: left">機關名稱</th>

            <th st-sort="contractCode" >契約編號</th>
            <th st-sort="contractName" >契約名稱</th>

            <th st-sort="caseCode" >工程編號</th>
            <th st-sort="caseName" >工程名稱</th>

            <th st-sort="code" >專案編碼</th>
            <th st-sort="typeName" >專案類型</th>

            <th st-sort="prjManager" >部門主管</th>
            <th st-sort="typeName" >主承辦</th>
            <th st-sort="typeName" >協辦人員</th>
            <th st-sort="typeName" >負責技師</th>
            <th st-sort="typeName" >結案歸檔</th>
        </tr>
        <tr>
            <th><input st-search="instituteCode"
                       placeholder="尋找機關代碼"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="instituteName"
                       placeholder="尋找機關名稱"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>


            <th><input st-search="contractCode"
                       placeholder="尋找契約編號"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="contractName"
                       placeholder="尋找契約名稱"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>


            <th><input st-search="caseCode"
                       placeholder="尋找工程編號"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="caseName"
                       placeholder="尋找工程名稱"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>


            <th><input st-search="code"
                       placeholder="尋找專案編碼"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="typeName"
                       placeholder="尋找專案類型"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

            <th><input st-search="prjManager"
                       placeholder="尋找部門主管"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
        </tr>

        </thead>
        <tbody>

        <tr ng-repeat="prjUnit in projects" class="editable-tr-wrap">

            <!--機關代碼 20230719CHECK-->
            <td style="width: 5%">{{prjUnit.instituteCode}}</td>

            <!--機關名稱 20230719CHECK-->
            <td style="text-align: left; width: 15%">{{prjUnit.instituteName}}</td>

            <!--契約編號 20230719CHECK-->
            <td style="width: 5%">{{prjUnit.contractCode}}</td>

            <!--契約名稱 20230719CHECK-->
            <td style="width: 15%">{{prjUnit.contractName}}</td>


            <!--工程編號-->
            <td style="width: 5%">{{prjUnit.caseCode}}</td>

            <!--工程名稱-->
            <td style="width: 15%">{{prjUnit.caseName}} </td>

            <!--專案編碼-->
            <td style="width: 5%">{{prjUnit.code}}</td>

            <!--專案類型-->
            <td style="width: 5%">{{prjUnit.typeName}} </td>

            <!--部門主管-->
            <td style="width: 5%">
                <span editable-select="prjUnit.managerID"
                      e-name="managerID"
                      e-form="managerID"
                      e-selectpicker
                      e-ng-options="user.value as user.name for user in projectManagers">
                {{ showPrjManager(prjUnit) }}
                </span>
            </td>

            <!--主承辦-->
            <td class="select-td" style="width: 5%">
                <form data-editable-form
                      name="prjMajorSelectForm">
                    <div editable-ui-select="prjUnit.majorID"
                         e-close-on-select="true"
                         data-e-form="prjMajorSelectForm"
                         data-e-name="majorID"
                         name="majorID"
                         e-append-to-body="true"
                         data-e-style="min-width:100px;max-width:500px;white-space:normal;"
                         data-e-ng-model="prjUnit.majorID">
                        {{showPrjMajor(prjUnit)}}
                        <editable-ui-select-match placeholder="請選擇主承辦">
                            {{$select.selected.name}}
                        </editable-ui-select-match>
                        <editable-ui-select-choices repeat="user in projectManagers | filter: $select.search ">
                            <span ng-bind-html="user.name | highlight: $select.search"></span>
                        </editable-ui-select-choices>
                    </div>
                    <br>
                    <div class="buttons">
                        <!-- buttons to submit / cancel form -->
                        <button type="button"
                                ng-disabled="prjMajorSelectForm.$visible"
                                ng-click="prjMajorSelectForm.$show()"
                                ng-show="true"
                                class="btn btn-primary editable-table-button btn-xs">
                            指派主承辦
                        </button>
                        <span ng-show="prjMajorSelectForm.$visible">
                            <br/>
                            <button type="submit" class="btn btn-primary editable-table-button btn-xs"
                                    ng-click="updateMajorEUI(prjMajorSelectForm, this)"
                                    ng-disabled="prjMajorSelectForm.$waiting">
                              確認
                            </button>
                            <button type="button" class="btn btn-default editable-table-button btn-xs"
                                    ng-disabled="prjMajorSelectForm.$waiting"
                                    ng-click="prjMajorSelectForm.$cancel()">
                              取消
                            </button>
                        </span>
                    </div>
                </form>
            </td>


            <!--協辦-->
            <td class="select-td" style="width: 20%">
                <form data-editable-form
                      name="uiSelectForm">
                    <div editable-ui-select="prjUnit.workers"
                         e-multiple
                         e-close-on-select="false"
                         data-e-form="uiSelectForm"
                         data-e-name="workers"
                         name="workers"
                         e-append-to-body="true"
                         data-e-style="min-width:100px;max-width:500px;white-space:normal;"
                         data-e-ng-model="prjUnit.workers">
                        {{showWorkersName(prjUnit.workers)}}
                        <editable-ui-select-match
                                placeholder="請選擇協辦人員">
                            {{$select.selected[$index].name}}
                        </editable-ui-select-match>
                        <editable-ui-select-choices repeat="user in allWorkers | filter: $select.search ">
                            <span ng-bind-html="user.name | highlight: $select.search"></span>
                        </editable-ui-select-choices>
                    </div>
                    <br/>
                    <div class="buttons">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-primary editable-table-button btn-xs"
                                ng-disabled="uiSelectForm.$visible"
                                ng-click="uiSelectForm.$show()"
                                ng-show="true">
                            分派協辦
                        </button>
                        <!-- buttons to submit / cancel form -->
                        <span ng-show="uiSelectForm.$visible">
                        <br/>
                        <button type="submit" class="btn btn-primary editable-table-button btn-xs"
                                ng-click="updateWorkers(uiSelectForm, this)"
                                ng-disabled="uiSelectForm.$waiting">
                          確認
                        </button>
                        <button type="button" class="btn btn-default editable-table-button btn-xs"
                                ng-disabled="uiSelectForm.$waiting"
                                ng-click="uiSelectForm.$cancel()">
                          取消
                        </button>
                      </span>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="15" class="text-center">
                <div st-pagination="" st-items-by-page="30" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>