<style type='text/css'>

    .sumWarning {
        color: red;
        font-weight: bold;
    }

    .sumSpecial {
        color: blue;
        font-weight: bold;
    }

    .sumNormal {
        color: black;
    }

    .gps {
        color: blue;
        font-weight: bold;
    }

    .remedyItem {
        cursor: pointer;
    }

</style>

<div bs-loading-overlay
     bs-loading-overlay-reference-id="overlay_hrMachine">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="個人打卡機資訊"
                 ng-init="fetchData(undefined, undefined, 0)"
                 ng-click="fetchData(undefined, undefined, 0)">
            <div ng-include="'app/pages/myForms/hrMachine/hrMachineForm_mainTab.html'"></div>
        </uib-tab>
        <uib-tab heading="打卡機檢視" ng-if="roleType === '2' || roleType === '6' || roleType === '100'"
                 style="color: blue">
            <div ng-include="'app/pages/myForms/hrMachine/hrMachineForm_UserDataFind.html'"></div>
        </uib-tab>
        <uib-tab heading="打卡機檔案讀取" ng-if="roleType === '100'"
                 style="color: blue">
            <div ng-include="'app/pages/myForms/hrMachine/hrMachineForm_LoadTab.html'"></div>
        </uib-tab>
        <uib-tab heading="打卡機月報表" ng-if="roleType === '100'"
                 style="color: blue">
            <div ng-include="'app/pages/myForms/hrMachine/hrMachineForm_monthReportsTab.html'"></div>
        </uib-tab>
        <uib-tab heading="打卡機補登"
                 ng-if="false"
                 style="color: blue">
            <hr-machine-form-remedy></hr-machine-form-remedy>
        </uib-tab>
        <uib-tab heading="打卡機補登主管審核"
                 ng-show="false"
                 ng-if="roleType === '2' || roleType === '6' || roleType === '100'"
                 style="color: blue">
                <div class="row"
                     ng-controller="hrMachineFormRemedyReviewCtrl">
                    <div class="col-md-12" id="includeHead_review">
                    </div>
                </div>
        </uib-tab>
        <!-- 不用給行政總管 -->
        <uib-tab heading="打卡機補登行政審核" ng-if="false"
                 style="color: blue">
            <div class="row"
                 ng-controller="hrMachineFormRemedyConfirmCtrl">
                <div class="col-md-12" id="includeHead_confirm">
                </div>
            </div>
            <!--<hr-machine-form-remedy-confirm></hr-machine-form-remedy-confirm>-->
        </uib-tab>
    </uib-tabset>

</div>
