<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>選擇員工</label>
            <ui-select ng-model="hrMachineCtrlVm.users_month_report.selected"
                       class="btn-group bootstrap-select form-control"
                       ng-disabled="false"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇員工">
                    {{$select.selected.name}} [{{$select.selected.machineDID}}]
                </ui-select-match>
                <ui-select-choices
                        repeat="user in hrMachineCtrlVm.users_month_report |
                        groupSelectpickerOptions:
                        {
                            name: $select.search
                        }">
                    <span ng-bind-html="user.name + ' [' + user.machineDID + ']'| highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>


<section>
    <div >
        <my-month-picker formatted="YYYY/MM"></my-month-picker>

        <hr>
        {{myMonth}}
        <hr>
        <button ng-click="loadHrMachineMonth(this)"
                style="padding: 0 60px; line-height: 4"
                pb-style="shrink"
                class="btn btn-primary">
            讀取月份
        </button>
        <hr>
    </div>
</section>


<div class="row" >

    <button class="btn btn-info editable-table-button btn-xs no-print"
            ng-click="printPDF_month() ">
        列印
    </button>

    <hr>

    <div id="form_hrmachine_month_pdf">
        <table class="table table-bordered table-hover table-condensed" >
            <thead>

            {{hrMachineCtrlVm.users_month_report.selected.name}} - {{myMonth}}

            <tr style="white-space:nowrap">
                <td style="vertical-align: inherit; text-align: center" width="100px">日期</td>
                <td style="vertical-align: inherit; text-align: center">上班(1)</td>
                <td style="vertical-align: inherit; text-align: center">下班(1)</td>
                <td style="vertical-align: inherit; text-align: center">上班(2)</td>
                <td style="vertical-align: inherit; text-align: center">下班(2)</td>

                <!--1-->
                <td style="vertical-align: inherit; text-align: center">加班(1)</td>
                <td style="vertical-align: inherit; text-align: center">加退(1)</td>
                <!--<td style="vertical-align: inherit; text-align: center">加班時數(1)</td>-->

                <!--2-->
                <td style="vertical-align: inherit; text-align: center">加班(2)</td>
                <td style="vertical-align: inherit; text-align: center">加退(2)</td>
                <!--<td style="vertical-align: inherit; text-align: center">加班時數(2)</td>-->

                <!--3-->
                <td style="vertical-align: inherit; text-align: center">加班(3)</td>
                <td style="vertical-align: inherit; text-align: center">加退(3)</td>
                <!--<td style="vertical-align: inherit; text-align: center">加班時數(3)</td>-->

                <!--4-->
                <!--<td style="vertical-align: inherit; text-align: center">加班</td>-->
                <!--<td style="vertical-align: inherit; text-align: center">加退</td>-->

                <!--上班時數-->
                <td style="vertical-align: inherit; text-align: center">上班時數</td>

                <!--出差時數-->
                <td style="vertical-align: inherit; text-align: center">出差時數</td>

                <!--請假時數-->
                <td style="vertical-align: inherit; text-align: center">請假時數</td>

                <!--上班分鐘數-->
                <!--<td style="vertical-align: inherit; text-align: center">上班分鐘數</td>-->

                <!--加班總時數-->
                <td style="vertical-align: inherit; text-align: center">加班總時數</td>

                <!--加班總時數-->
                <!--<td style="vertical-align: inherit; text-align: center">加班總分鐘數</td>-->

                <!--是否遲到-->
                <td style="vertical-align: inherit; text-align: center">遲到</td>

                <!-- 地址 -->
                <td style="vertical-align: inherit; text-align: center">地址</td>

                <!-- 機身編號 -->
                <td style="vertical-align: inherit; text-align: center">機身</td>

                <!-- 打卡是否異常 -->
                <td style="vertical-align: inherit; text-align: center">異常</td>
            </tr>
            </thead>

            <tbody ng-repeat="tableItem in hrMachineTable_month_reports">
            <!-- 1 row-->
            <tr style="vertical-align: inherit; text-align: center">
                <td style="vertical-align: inherit; text-align: center">
                    {{tableItem[0].date}}
                    ({{showDay(tableItem[0].date)}})
                </td>
                <!--上班 1-->
                <td ng-class="(isGPS(tableItem, 11)) ? 'gps' : 'sunNormal'"
                    class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 11)}}
                </td>
                <!--下班 1-->
                <td ng-class="(isGPS(tableItem, 21)) ? 'gps' : 'sunNormal'"
                    class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 21)}}
                </td>
                <!--上班 2-->
                <td ng-class="(isGPS(tableItem, 12)) ? 'gps' : 'sunNormal'"
                    class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 12)}}
                </td>
                <!--下班 2-->
                <td ng-class="(isGPS(tableItem, 22)) ? 'gps' : 'sunNormal'"
                    class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem,22)}}
                </td>

                <!--加班1-->
                <td class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 31)}}
                </td>
                <!--加退1-->
                <td class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 41)}}
                </td>
                <!--加班時數1-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--{{showWorkOverHour(showHrMachineTime(tableItem, 31),-->
                <!--showHrMachineTime(tableItem, 41))}}-->
                <!--</td>-->
                <!--加班2-->
                <td class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 32)}}
                </td>
                <!--加退2-->
                <td class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 42)}}
                </td>
                <!--加班時數2-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--{{showWorkOverHour(showHrMachineTime(tableItem, 32),-->
                <!--showHrMachineTime(tableItem, 42))}}-->
                <!--</td>-->
                <!--加班3-->
                <td class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 33)}}
                </td>
                <!--加退3-->
                <td class="form-group" style="vertical-align: inherit;">
                    {{showHrMachineTime(tableItem, 43)}}
                </td>
                <!--加班時數3-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--{{showWorkOverHour(showHrMachineTime(tableItem, 33),-->
                <!--showHrMachineTime(tableItem, 43))}}-->
                <!--</td>-->

                <!--加班4-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--{{showHrMachineTime(tableItem, 34)}}-->
                <!--</td>-->
                <!--加退4-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--{{showHrMachineTime(tableItem, 44)}}-->
                <!--</td>-->

                <!--上班時數-->
                <td style="vertical-align: inherit;">
                    <div ng-show="showWorkHour(tableItem,
                        showHrMachineTime(tableItem, 11),
                        showHrMachineTime(tableItem, 21),
                        showHrMachineTime(tableItem, 12),
                        showHrMachineTime(tableItem, 22)) != undefined">
                        {{8 - workOffHour(tableItem)}}
                    </div>
                    <div ng-show="showWorkHour(tableItem,
                        showHrMachineTime(tableItem, 11),
                        showHrMachineTime(tableItem, 21),
                        showHrMachineTime(tableItem, 12),
                        showHrMachineTime(tableItem, 22)) == undefined">

                    </div>

                </td>

                <!--出差時數-->
                <!--20200206-->
                <td ng-class="workTravelApplyHour(tableItem) != '' ? 'sumSpecial' : 'sunNormal'"
                    style="vertical-align: inherit;">
                    {{workTravelApplyHour(tableItem)}}
                </td>

                <!--請假時數-->
                <td ng-class="workOffHour(tableItem) != '' ? 'sumWarning' : 'sunNormal'"
                    style="vertical-align: inherit;">
                    {{workOffHour(tableItem)}}
                </td>

                <!--上班分鐘-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--{{showWorkHour(tableItem,-->
                <!--showHrMachineTime(tableItem, 11),-->
                <!--showHrMachineTime(tableItem, 21),-->
                <!--showHrMachineTime(tableItem, 12),-->
                <!--showHrMachineTime(tableItem, 22))}}-->
                <!--</td>-->

                <!--加班時數-->
                <td class="form-group" style="vertical-align: inherit;">
                    <!--{{showHrMachineTime(tableItem, 51) +-->
                    <!--showHrMachineTime(tableItem, 52) +-->
                    <!--showHrMachineTime(tableItem, 53)}}-->

                    <!--{{showWorkOverHour(showHrMachineTime(tableItem, 31),-->
                    <!--showHrMachineTime(tableItem, 41)) +-->
                    <!--showWorkOverHour(showHrMachineTime(tableItem, 32),-->
                    <!--showHrMachineTime(tableItem, 42)) +-->
                    <!--showWorkOverHour(showHrMachineTime(tableItem, 33),-->
                    <!--showHrMachineTime(tableItem, 43))}}-->

                    {{showWorkOverHourFromMin(showWorkOverMin(showHrMachineTime(tableItem, 31),
                    showHrMachineTime(tableItem, 41)) +
                    showWorkOverMin(showHrMachineTime(tableItem, 32),
                    showHrMachineTime(tableItem, 42)) +
                    showWorkOverMin(showHrMachineTime(tableItem, 33),
                    showHrMachineTime(tableItem, 43)))}}

                    <!--{{showWorkOverMin(showHrMachineTime(tableItem, 31),-->
                    <!--showHrMachineTime(tableItem, 41)) +-->
                    <!--showWorkOverMin(showHrMachineTime(tableItem, 32),-->
                    <!--showHrMachineTime(tableItem, 42)) +-->
                    <!--showWorkOverMin(showHrMachineTime(tableItem, 33),-->
                    <!--showHrMachineTime(tableItem, 43))}}-->
                </td>

                <!--加班分鐘數-->
                <!--<td class="form-group" style="vertical-align: inherit;">-->
                <!--&lt;!&ndash;{{showHrMachineTime(tableItem, 51) +&ndash;&gt;-->
                <!--&lt;!&ndash;showHrMachineTime(tableItem, 52) +&ndash;&gt;-->
                <!--&lt;!&ndash;showHrMachineTime(tableItem, 53)}}&ndash;&gt;-->

                <!--{{showWorkOverMin(showHrMachineTime(tableItem, 31),-->
                <!--showHrMachineTime(tableItem, 41)) +-->
                <!--showWorkOverMin(showHrMachineTime(tableItem, 32),-->
                <!--showHrMachineTime(tableItem, 42)) +-->
                <!--showWorkOverMin(showHrMachineTime(tableItem, 33),-->
                <!--showHrMachineTime(tableItem, 43))}}-->
                <!--</td>-->

                <!--遲到-->
                <td ng-class="(isLate(tableItem, 0) || isLate(tableItem, 1))? 'sumWarning' : 'sunNormal'"
                    style="vertical-align: inherit;">
                    <div ng-show="(isLate(tableItem, 0) || isLate(tableItem, 1))">
                        遲
                    </div>
                </td>

                <!-- 地址 -->
                <td style="vertical-align: inherit;">
                    {{showGPSInfo(tableItem, 0)}}
                </td>

                <!-- 機身編號 -->
                <td style="vertical-align: inherit;">
                    {{showGPSInfo(tableItem, 1)}}
                </td>

                <!-- 打卡是否異常 -->
                <td style="vertical-align: inherit;">
                    {{showGPSInfo(tableItem, 2)}}
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

