<div bs-loading-overlay
     bs-loading-overlay-reference-id="mainPage_project_income">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="專案收支總表" ng-click="reloadSCApplyData(this)">
            <div ng-controller="projectIncomeOverAllCtrl as projectIncomeOverAllCtrlVm"
                 ng-include="'app/pages/myProject/projectIncome/tabs/projectIncome_overAllTab.html'"></div>
        </uib-tab>

        <uib-tab heading="專案收入表" ng-click="checkExecutiveData(this)">
            <div ng-controller="projectIncomeCreateCtrl as projectIncomeCreateCtrlVm"
                 ng-include="'app/pages/myProject/projectIncome/tabs/projectIncome_createTab.html'"></div>
        </uib-tab>

        <uib-tab heading="專案人時支出查詢" ng-click="checkExecutiveData(this)"
                 ng-show="roleType === '2' || roleType === '6' || roleType === '100' || roleType === '1'">
            <div ng-controller="projectIncomeCostCtrl as projectIncomeCostCtrlVm"
                 ng-include="'app/pages/myProject/projectIncome/tabs/projectIncome_costTab.html'"></div>
        </uib-tab>

        <uib-tab heading="總案收支總表" ng-click="checkExecutiveData(this)">
            <div ng-controller="projectIncomeMultiOverAllCtrl as projectIncomeMultiOverAllCtrlVm"
                 ng-include="'app/pages/myProject/projectIncome/tabs/projectIncome_multiOverAllTab.html'"></div>
        </uib-tab>

    </uib-tabset>
</div>

