
<div class="row">

        <!--機關名稱-->
            <div class="col-md-12">
                <div class="form-group row clearfix">
                    <label class="col-md-2 control-label">新機關名稱</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               ng-model="vm.instituteName"
                               placeholder="請輸入新機關名稱">
                    </div>
                </div>
            </div>

        <!--機關代碼-->
            <div class="col-md-12">
                <div class="form-group row clearfix">
                    <label class="col-md-2 control-label">機關代碼 ({{vm.instituteCode.length}})</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               ng-model="vm.instituteCode"
                               placeholder="請輸入機關代碼">
                    </div>
                </div>
            </div>
</div>

<hr>

        <div class="form-group">
            <button type="submit"
                    class="btn btn-danger"
                    id="prjSubmitBtn"
                    ng-click="createInstitute()">建立機關
            </button>
        </div>

        <hr>

<div class="row">
        <div class="row">
            <div class="col-md-12" id="includeHead">
            </div>
        </div>
</div>
