<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="#/dashboard" class="al-logo clearfix"><span>保健視</span>不是保健室</a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

    <div ng-controller="myPageTopController" ng-init="initPageTop()">

        <div >

            <div class="breadcrumb al-breadcrumb" style="text-align: center" >
                <a href="/login.html" class="signout"><i class="fa fa-power-off"/>
                    <br>
                    登出
                    <br>
                </a>
                <span style=" color: #FFFFFFFF">{{username}}</span>
            </div>

            <div class="breadcrumb al-breadcrumb" style="text-align: center" id="registerEntrance">
                <a href="/regNewUser.html" class="signout"><i class="ion-android-person-add"/>
                    <br>
                    新增員工
                    <br>
                </a>
            </div>

            <div class="breadcrumb al-breadcrumb" style="text-align: center" id="registerLineNotify">
                <!--<a href="https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=8KVRmFQC5LQ0bCfjRVzmxV&redirect_uri=http://localhost:3000/api/post_line_notify_auth_register&scope=notify&state={{userDID}}" class="signout">-->
                <a href="https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=8KVRmFQC5LQ0bCfjRVzmxV&redirect_uri=https://vhc.ichenprocin.dsmynas.com/api/post_line_notify_auth_register&scope=notify&state={{userDID}}" class="signout">
                    <i class="ion-android-person-add"/>
                    <br>
                    連動 Line 通知
                    <br>
                </a >
            </div>

            <!--<div class="breadcrumb al-breadcrumb" style="text-align: center; padding-right: 20px" ng-if="roleType == 2 || roleType ==100">-->
                <!--<span ng-if="roleType == 2 || roleType ==100"-->
                      <!--style=" color: #FFFFFFFF">經理需審核人數：{{managerNotification}}</span>-->
                <!--<br/>-->
                <!--<span ng-if="roleType ==100"-->
                      <!--style=" color: #FFFFFFFF">行政總管需審核人數：{{executiveNotification}}</span>-->
            <!--</div>-->

            <my-msg-center></my-msg-center>
            <!--<msg-center></msg-center>-->

        </div>

        <!--<div class="user-profile clearfix">-->
            <!--<div class="al-user-profile" uib-dropdown>-->
                <!--<a uib-dropdown-toggle class="profile-toggle-link">-->
                    <!--<img ng-src="{{::( userDID | profilePicture )}}">-->
                <!--</a>-->
                <!--<ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>-->
                    <!--<li><i class="dropdown-arr"></i></li>-->
                    <!--<li><a href="#/cgWorkManage/userEdit"><i class="fa fa-user"></i>Profile</a></li>-->
                    <!--<li><a href="/login.html" class="signout"><i class="fa fa-power-off"></i>登出</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<msg-center></msg-center>-->
        <!--</div>-->

    </div>

</div>

