<uib-accordion ng-repeat="case in tableData">
    <uib-accordion-group heading="{{case.name}} - {{case.code}}"
                         ng-click="showCaseInformation(case)"
                         panel-class="bootstrap-panel accordion-panel panel-default">
        <table class="table table-bordered table-hover table-condensed" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">工程編號</th>
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">工程名稱</th>

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">工程地點</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">機關承辦</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">核定金額</th><!--管理部人員-->

                    <!--<th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">契約工程數量</th>-->
                    <!--<th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">已執行金額</th>-->

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >基設日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >細設日期</th><!--管理部人員-->

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >決標日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >決標金額</th><!--管理部人員-->

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >變更日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >請款日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >請款類型</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >請款金額</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >開發票</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >結案歸檔</th><!--管理部人員-->

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">更新狀態</th>

                </tr>
            </thead>

            <!--<tbody ng-repeat="item in fetchFormDataFromScope(table)">-->
            <tbody >
                <tr style="vertical-align: inherit; text-align: center;">
                    <!--工程編號-->
                    <td style="vertical-align: inherit; text-align: center;" >
                        <span >{{case.code}}</span>
                    </td>

                    <!--工程名稱-->
                    <td style="vertical-align: inherit; text-align: center;" ><span >{{case.name}}</span></td>

                    <!--工程地點-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.position}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.position"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--機關承辦-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.caseBoss}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.caseBoss"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--核定金額-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.approved_mount}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.approved_mount"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--基設日期-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.date_1}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.date_1"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--細設日期-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.date_2}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.date_2"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--決標日期-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.date_3}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.date_3"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--決標金額-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.date_3_mount}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.date_3_mount"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--變更日期-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.date_4}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.date_4"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--請款日期-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.date_5}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.date_5"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--請款類型-->
                    <td style="vertical-align: inherit; text-align: center;">
                        <div style="margin-top: 0px;color: black">
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       ng-model="case.pay_type_1"
                                       ng-disabled="!isDepG">
                                <span style="color:black">鑽探</span>
                            </label>
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       ng-model="case.pay_type_2"
                                       ng-disabled="!isDepG">
                                <span style="color:black">設計</span>
                            </label>
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       ng-model="case.pay_type_3"
                                       ng-disabled="!isDepG">
                                <span style="color:black">監造</span>
                            </label>
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       ng-model="case.pay_type_4"
                                       ng-disabled="!isDepG">
                                <span style="color:black">尾款</span>
                            </label>
                        </div>
                    </td>

                    <!--請款金額-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{case.pay_mount}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="case.pay_mount"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td>

                    <!--開發票-->
                    <td style="vertical-align: inherit; text-align: center;">
                        <div style="margin-top: 0px;color: black">
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       id="checkboxSuccess"
                                       ng-model="case.is_bill_apply"
                                       ng-disabled="!isDepG">
                                <span style="color:black">請款</span>
                            </label>
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       id="checkboxWarning"
                                       ng-model="case.is_bill_count"
                                       ng-disabled="!isDepG">
                                <span style="color:black">入帳</span>
                            </label>
                        </div>
                    </td>


                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        <span ng-if="case.enable">
                            未結
                        </span>
                        <span ng-if="!case.enable">
                            已結案
                        </span>
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <div style="margin-top: 15px">
                            <ba-switcher style="horiz-align: center; vertical-align: center"
                                         ng-click="changeCaseStatus(case)"
                                         ng-model="case.enable"
                                         switcher-style="primary"
                                         switcher-value="case.enable"/>
                            <br>
                            <p class="mytooltip" ng-if="case.enable">
                                <i class="ion-information-circled"/>
                                <span class="tooltiptext">
                                    設定開發票選項勾選入帳，才可關閉
                                </span>
                            </p>
                        </div>
                    </td><!--結案-->

                    <td style="vertical-align: inherit; text-align: center;"><span >{{case.userUpdateTs}}</span></td><!--更新日期-->
                </tr>
            </tbody>

            <tbody id="tableItemBody_{{$index}}"
                   ng-if="isDepG"
                   ng-repeat="memo in case.caseMemo">
                    <tr style="vertical-align: inherit; text-align: center;">
                        <td> ( {{$index + 1}} ) </td>
                        <td colspan="2"></td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.mount_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.ext_mount_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>
                        </td>
                        <td colspan="2"></td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_1"-->
                                   <!--placeholder="0"-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--服務費率-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_2"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--評選日期-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_3"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--決標日期-->
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.data3_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>
                            <!--議價日期-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_5"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--訂約日期-->
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.data5_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>

                            <!--履約期限-->
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.data6_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>

                            <!--保險期限-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_8"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--機關承辦-->
                        </td>
                    </tr>
            </tbody>
        </table>
        <div style="margin-top: 10px" ng-if="isDepG">
        <!--<div style="margin-top: 10px" ng-if="true">-->
            <button type="button"
                    ng-click="insertCaseMemo(case)"
                    class="btn btn-info btn-icon">
                <i class="ion-plus-round"/>
            </button>
        </div>
        <div style="margin-top: 10px" ng-if="isDepG">
        <!--<div style="margin-top: 10px" ng-if="true">-->
            <button ng-click="updateCase(case)"
                    style="float: left; padding: 0 30px; line-height: 4"
                    id="btnReview"
                    pb-style="shrink"
                    class="btn btn-primary">
                <span>
                    儲存
                </span>
            </button>
        </div>

    </uib-accordion-group>
</uib-accordion>