<div bs-loading-overlay
     bs-loading-overlay-reference-id="mainPage_subContractorPay">

    <uib-tabset active="$tabSetStatus.activeTab">

        <uib-tab heading="廠商請款" >
            <div
                 ng-controller="subContractorPayCtrl as subContractorPayCtrlVm"
                 ng-include="'app/pages/myForms/subContractorPay/tabs/subContractor_payTab.html'"></div>
        </uib-tab>

        <uib-tab heading="請款審核" ng-click="fetchReviewData(this)">
            <div
                ng-controller="subContractorPayReviewCtrl as subContractorPayReviewCtrlVm"
                ng-include="'app/pages/myForms/subContractorPay/tabs/subContractor_pay_reviewTab.html'"></div>
        </uib-tab>

        <uib-tab heading="行政撥款" ng-click="fetchExecutiveData(this)" ng-if="roleType === '100'">
            <div
                ng-controller="subContractorPayExecutiveCtrl as subContractorPayExecutiveCtrlVm"
                ng-include="'app/pages/myForms/subContractorPay/tabs/subContractor_pay_executiveTab.html'"></div>
        </uib-tab>

        <uib-tab heading="廠商請款查詢" >
            <div
                ng-controller="subContractorPaySearchCtrl as subContractorPaySearchCtrlVm"
                ng-include="'app/pages/myForms/subContractorPay/tabs/subContractor_pay_searchTab.html'"></div>
        </uib-tab>

    </uib-tabset>
</div>

