<style type='text/css'>

    .modal::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .workAdd {
        cursor: pointer;
    }

    .sumWarning {
        color: red;
        font-weight: bold;
    }

    .sumNormal {
        color: black;
    }

    .mytooltip {
        position: relative;
        display: inline-block;
        /*overflow : hidden;*/
        text-overflow : ellipsis;
        cursor: pointer;
        /*white-space : nowrap;*/
    }

    /* Tooltip text */
    .mytooltip .tooltiptext, .mytooltip .tooltiptextprj{
        visibility: hidden;
        width: 360px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -180px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .mytooltip .tooltiptext::after, .mytooltip .tooltiptextprj:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .mytooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    textarea:focus, input:focus{
        outline: none;
    }

    *:focus {
        outline: none;
    }

    .mytooltip:focus .tooltiptextprj {
        visibility: visible;
        opacity: 1;
    }

    .uib-datepicker-popup table tbody tr:hover{
        background-color: #99c7ee;
    }

</style>

<div bs-loading-overlay
     bs-loading-overlay-reference-id="mainPage_001listProject">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="執行專案"
                 ng-click="apiProxy(this, 'listProject')">
            <div ng-controller="_001_listProjectCtrl as vm"
                    ng-include="'app/custom/com001/pages/project/listProject/tab/listProject/001listProject.html'"></div>
        </uib-tab>
        <uib-tab heading="隱藏專案"
                 ng-click="apiProxy(this, 'listHiddenProject')">
            <div ng-controller="_001_listHiddenProjectCtrl as vm"
                 ng-include="'app/custom/com001/pages/project/listProject/tab/hiddenProject/001listHiddenProject.html'"></div>
        </uib-tab>

        <!--<uib-tab heading="建立機關" ng-click="apiProxy(this, 'createInstitute')">-->
            <!--<div ng-controller="_001_createInstituteCtrl as vm"-->
                    <!--ng-include="'app/custom/com001/pages/project/createProject/tab/createInstitute/001createInstitute.html'"></div>-->
        <!--</uib-tab>-->
        <!--<uib-tab heading="建立契約" ng-click="apiProxy(this, 'createContract')">-->
            <!--<div ng-controller="_001_createContractCtrl as vm"-->
                    <!--ng-include="'app/custom/com001/pages/project/createProject/tab/createProjectContract/001createProjectContract.html'"></div>-->
        <!--</uib-tab>-->
        <!--<uib-tab heading="建立工程" ng-click="apiProxy(this, 'createCase')">-->
            <!--<div ng-controller="_001_createCaseCtrl as vm"-->
                    <!--ng-include="'app/custom/com001/pages/project/createProject/tab/createProjectCase/001createProjectCase.html'"></div>-->
        <!--</uib-tab>-->

    </uib-tabset>

</div>
