<div class="row col-md-12" >

    <table class="table table-hover"
           st-table="subContractorApplyPeriods"
           id="form_main_pdf">
        <thead>
        <tr style="white-space:nowrap" class="sortable">
            <td  style="vertical-align: inherit; text-align: center" width="80px"></td>
            <td class="table-id"
                st-sort="prjCode" style="vertical-align: inherit; text-align: center" width="100px">專案代碼</td>
            <td st-sort="mainName"
                style="vertical-align: inherit; text-align: center" width="250px">專案名稱</td>
            <td style="vertical-align: inherit; text-align: center" width="250px">委外廠商</td>
            <td style="vertical-align: inherit; text-align: center" width="250px">委外項目</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">訂約時間</td>
            <td style="vertical-align: inherit; text-align: center" width="250px">說明</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">訂約金額</td>
            <td st-sort="applierName"
                style="vertical-align: inherit; text-align: center" width="150px">訂約人</td>
            <td st-sort="managerName"
                style="vertical-align: inherit; text-align: center" width="150px">經理確認</td>
        </tr>
        <tr>
            <th/>
            <th>
                <input st-search="prjCode"
                       placeholder="專案代碼"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

            <th>
                <input st-search="mainName"
                       placeholder="專案名稱"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

            <th>
                <!--<input st-search="receiveType"-->
                       <!--placeholder="輸入文號字"-->
                       <!--class="input-sm form-control search-input"-->
                       <!--type="search"/>-->
            </th>
            <th>
                <!--<input st-search="receiveNumber"-->
                       <!--placeholder="輸入文號編號"-->
                       <!--class="input-sm form-control search-input"-->
                       <!--type="search"/>-->
            </th>

            <th/>
            <th>
                <!--<input st-search="chargerName"-->
                       <!--placeholder="輸入承辦人"-->
                       <!--class="input-sm form-control search-input"-->
                       <!--type="search"/>-->
            </th>
            <th>
                <!--<input st-search="handlerName"-->
                       <!--placeholder="輸入待辦人"-->
                       <!--class="input-sm form-control search-input"-->
                       <!--type="search"/>-->
            </th>

            <th>
                <input st-search="applierName"
                       placeholder="訂約人"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

            <th>
                <input st-search="managerName"
                       placeholder="經理"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

        </tr>
        </thead>
        <tbody ng-repeat="applyItem in subContractorApplyPeriods">
        <tr style="vertical-align: inherit; text-align: center">
            <!--序號-->
            <td style="vertical-align: inherit; text-align: center">
                <span id="prjCode">{{$index + 1}}</span>
                <br>
                <button class="btn btn-danger editable-table-button btn-xs"
                    ng-if="applyItem.isManagerCheck && roleType == 100"
                    ng-click="recoverSCApplyItemOne(applyItem);">退回
                </button>
                <!--<button class="btn btn-danger editable-table-button btn-xs"-->
                        <!--ng-if="!applyItem.isSendReview"-->
                        <!--ng-click="removeSCApplyItemOne(applyItem);">移除-->
                <!--</button>-->

            </td>
            <!--專案代碼-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span>{{applyItem.prjCode}}</span>
            </td>
            <!--專案名稱-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span>{{applyItem.mainName}}</span>
            </td>
            <!--日期-->
            <!--<td style="vertical-align: inherit; text-align: center">-->
                <!--<span ng-if="item.isSendReview">{{item.payDate}}</span>-->
                <!--<input type="text"-->
                       <!--ng-if="!item.isSendReview"-->
                       <!--ng-model="item.payDate"-->
                       <!--value="{{item.payDate}}"-->
                       <!--class="form-control expenditureTargetDateInput input-sm">-->
            <!--</td>-->
            <!--委外廠商-->
            <td style="vertical-align: inherit; text-align: center">
                <my ng-show="!applyItem.isSendReview">
                    <sub-contractor-vendor-selector itemName="{{applyItem.vendorDID}}"></sub-contractor-vendor-selector>
                </my>
                <my ng-show="applyItem.isSendReview">
                    {{showSCVendorName(applyItem.vendorDID)}}
                </my>
            </td>
            <!--委外項目-->
            <td style="vertical-align: inherit; text-align: center">
                <my ng-show="!applyItem.isSendReview">
                    <!--<target-selector itemName="{{applyItem.targetDID}}"></target-selector>-->
                    <sub-contractor-item-selector itemName="{{applyItem.itemDID}}"></sub-contractor-item-selector>
                </my>
                <my ng-show="applyItem.isSendReview">
                    <!--{{showTargetName(item.targetDID)}}-->
                    {{showSCItemName(applyItem.itemDID)}}
                </my>
            </td>
            <!--訂約時間-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="applyItem.isSendReview">{{applyItem.contractDate}}</span>
                <input type="text"
                       ng-if="!applyItem.isSendReview"
                       ng-model="applyItem.contractDate"
                       value="{{applyItem.contractDate}}"
                       class="form-control subContractDateInput input-sm">
            </td>

            <!--備註-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="applyItem.isSendReview">{{applyItem.contents}}</span>
                <input type="text"
                       ng-if="!applyItem.isSendReview"
                       ng-model="applyItem.contents"
                       value="{{applyItem.contents}}"
                       class="form-control input-sm">
            </td>

            <!--訂約金額-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="applyItem.isSendReview">{{applyItem.contractAmount}}</span>
                <input type="text"
                       ng-if="!applyItem.isSendReview"
                       ng-model="applyItem.contractAmount"
                       value="{{applyItem.contractAmount}}"
                       class="form-control input-sm">
            </td>

            <!--訂約人-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="applyItem.isSendReview">{{applyItem.applierName}}</span>
            </td>

            <!-- 經理簽章 -->
            <td style="vertical-align: inherit;">

                <div ng-if="(applyItem.isSendReview && !applyItem.isManagerCheck)">
                    <button class="btn btn-warning editable-table-button btn-xs"
                            style="color: black">
                        {{ applyItem.managerName}}
                        <br>
                        確認作業中
                    </button>
                </div>
                <div ng-if="applyItem.isManagerCheck">
                    <div >
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ applyItem.managerName}}
                            <br>
                            確認完成
                        </button>
                    </div>
                </div>
                <div ng-if="!applyItem.isSendReview && applyItem.isManagerReject">
                    <button class="btn btn-warning editable-table-button btn-xs"
                            style="color: black">
                        {{ applyItem.managerName}}
                        <br>
                        退回
                    </button>
                </div>
                <my ng-if="!applyItem.isSendReview && applyItem.isManagerReject"
                    ng-class="{workAdd: hover}"
                    class="mytooltip"
                    ng-mouseover="hover = true"
                    ng-mouseleave="hover = false">
                    原因：<i class="ion-clipboard"></i>
                    <span class="tooltiptext">{{applyItem.managerReject_memo}}</span>
                </my>
            </td>
        </tr>
        </tbody>
        <!--<tfoot>-->
            <!--<tr style="vertical-align: inherit; text-align: center">-->
                <!--<td colspan="5" style="vertical-align: inherit;">-->
                    <!--小計-->
                <!--</td>-->
                <!--<td style="vertical-align: inherit;">-->
                    <!--{{calculateSum()}}-->
                <!--</td>-->
            <!--</tr>-->
        <!--</tfoot>-->
    </table>

    <hr>

    <!--<button type="submit"-->
            <!--style="float: left; margin-right: 10px"-->
            <!--ng-click="saveEEItems()"-->
            <!--class="btn btn-primary">-->
        <!--表單暫存-->
    <!--</button>-->
</div>



