<div>
    <h3 class="with-line">支出項目選單</h3>

    <div class="row" ng-init="fetchAllTargets()">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="white-space:nowrap">
                <td style="vertical-align: inherit; text-align: center" width="80px"></td>
                <td style="vertical-align: inherit; text-align: center">選項</td>
            </tr>
            </thead>
            <tbody ng-repeat="target in executiveExpenditureTargets">
            <tr style="vertical-align: inherit; text-align: center">
                <!--序號-->
                <td style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{$index + 1}}</span>
                    <button class="btn btn-danger editable-table-button btn-xs"
                            ng-show="target.isEnable"
                            ng-click="removeTargetItemCheck(target);">
                        移除
                    </button>
                    <!--設定-->
                    <div ng-if="!target.isEnable">
                        <div class="buttons">
                            <button class="btn btn-info editable-table-button btn-xs"
                                    ng-click="setTargetName(target, this) ">
                                設定
                            </button>
                        </div>
                    </div>
                </td>
                <!--名稱-->
                <td style="vertical-align: inherit; text-align: center">
                    <form data-editable-form
                          name="contentForm">
                        <my ng-show="!target.isEnable || contentForm.$visible">
                            <input type="text"
                                   data-e-form="contentForm"
                                   class="form-control"
                                   placeholder="{{target.targetName}}"
                                   ng-model="target.targetName"
                                   value="{{target.targetName}}"
                                   style="color: #000000;">
                        </my>
                        <my ng-show="target.isEnable && !contentForm.$visible">
                            {{target.targetName}}
                        </my>
                        <br>
                        <button class="btn btn-info editable-table-button btn-xs"
                                ng-show="target.isEnable"
                                ng-disabled="contentForm.$visible"
                                ng-click="contentForm.$show()">
                            修改
                        </button>
                        <button type="submit" class="btn btn-primary editable-table-button btn-xs"
                                ng-hide="!contentForm.$visible"
                                ng-show="contentForm.$visible"
                                ng-click="updateTarget(contentForm, this)"
                                ng-disabled="contentForm.$waiting">
                            確認
                        </button>
                        <!--<button type="button" class="btn btn-default editable-table-button btn-xs"-->
                                <!--ng-hide="!contentForm.$visible"-->
                                <!--ng-show="contentForm.$visible"-->
                                <!--ng-disabled="contentForm.$waiting"-->
                                <!--ng-click="contentForm.$cancel()">-->
                            <!--取消-->
                        <!--</button>-->
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <button type="button"
                ng-click="addTargetItem()"
                class="btn btn-info btn-icon">
            <i class="ion-plus-round"/>
        </button>
    </div>
</div>
