<div bs-loading-overlay
     bs-loading-overlay-reference-id="mainPage_workOff">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="個人填寫"
                 ng-click="getWorkOffTable()">
            <!--20200518 check right-->
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_main_Tab.html'"></div>
        </uib-tab>
        <uib-tab heading="員工請假單" ng-click="initWorkOffMonthCheck()">
            <!--20200518 check right-->
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_All_Tab.html'"></div>
        </uib-tab>

        <uib-tab heading="代理人審核" ng-click="fetchAllAgentItems()">
            <!--20200518 check right-->
             <work-off-agent ></work-off-agent>
        </uib-tab>
        <!--20200518 check right-->
        <uib-tab heading="主管審核" ng-if="roleType === '2' || roleType === '100' || roleType === '6'"
                 ng-click="initUser()">
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_BossTab.html'"></div>
        </uib-tab>
        <!--20200518 check right-->
        <uib-tab heading="行政確認" ng-if="roleType === '100' || userDID === '5d197f16a6b04756c893a162'"
                 ng-click="initUser()">
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_ExecutiveTab.html'"></div>
        </uib-tab>
        <!--20200518 check right-->
        <uib-tab heading="假期確認" ng-if="roleType === '100'"
                 ng-click="initUser()"
                 style="color: blue">
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_HolidayTab.html'"></div>
        </uib-tab>
        <!--20200518 check right-->
        <uib-tab heading="國定假日設定" ng-if="roleType === '100'">
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_NationalHolidayTab.html'"></div>
        </uib-tab>
        <!--20200518 check right-->
        <uib-tab heading="補班日設定" ng-if="roleType === '100'">
            <div ng-include="'app/pages/myForms/workOffForm/tabs/workOffForm_OverTimeDayTab.html'"></div>
        </uib-tab>
        <!--20200518 check right-->
        <uib-tab heading="補休特休兌換" ng-click="getWorkOffExchangeTable()" ng-if="roleType === '100'">
            <work-off-exchange></work-off-exchange>
        </uib-tab>

    </uib-tabset>
</div>

