<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>選擇員工</label>
            <ui-select ng-model="workOffFormCtrlVm.user.selected"
                       class="btn-group bootstrap-select form-control"
                       ng-disabled="false"
                       ng-change="getWorkOffTable(workOffFormCtrlVm.user.selected._id)"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇員工">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                        repeat="user in workOffFormCtrlVm.users | groupSelectpickerOptions: {name: $select.search}">
                    <span ng-bind-html="user.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-condensed"
       ng-if="workOffFormCtrlVm.user.selected">
    <thead>
    <tr style="white-space:nowrap">
        <td style="vertical-align: inherit; text-align: center" width="100px"></td>
        <td style="vertical-align: inherit; text-align: center">病假(時)</td>
        <td style="vertical-align: inherit; text-align: center">事假(時)</td>
        <td style="vertical-align: inherit; text-align: center">補休(時)</td>

        <td style="vertical-align: inherit; text-align: center">特休(天)</td>
        <td style="vertical-align: inherit; text-align: center">婚假(天)</td>
        <td style="vertical-align: inherit; text-align: center">喪假(天)</td>
        <td style="vertical-align: inherit; text-align: center">公假(時)</td>
        <td style="vertical-align: inherit; text-align: center">公傷假(天)</td>
        <td style="vertical-align: inherit; text-align: center">產假(天)</td>
        <td style="vertical-align: inherit; text-align: center">陪產(檢)假(天)</td>
        <td style="vertical-align: inherit; text-align: center">其他(時)</td>
    </tr>
    </thead>

    <tbody>
    <!-- 1 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            起始日
        </td>

        <td class="form-group" style="vertical-align: inherit;">
            <!--<input type="number"-->
                   <!--class="form-control workOffFormNumberInput input-sm"-->
                   <!--step="0.5">-->
        </td>
        <td style="vertical-align: inherit;">
            <!--<input type="number"-->
                   <!--class="form-control workOffFormNumberInput input-sm"-->
                   <!--step="0.5">-->
        </td>
        <td style="vertical-align: inherit;">
            <!--<input type="number"-->
                   <!--class="form-control workOffFormNumberInput input-sm"-->
                   <!--step="0.5">-->
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_special"
                   value="{{workOffFormCtrlVm.holidayForm.start_special}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_married"
                   value="{{workOffFormCtrlVm.holidayForm.start_married}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_mourning"
                   value="{{workOffFormCtrlVm.holidayForm.start_mourning}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_official"
                   value="{{workOffFormCtrlVm.holidayForm.start_official}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_workinjury"
                   value="{{workOffFormCtrlVm.holidayForm.start_workinjury}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_maternity"
                   value="{{workOffFormCtrlVm.holidayForm.start_maternity}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_paternity"
                   value="{{workOffFormCtrlVm.holidayForm.start_paternity}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.start_others"
                   value="{{workOffFormCtrlVm.holidayForm.start_others}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
    </tr>
    <!--2 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            截止日
        </td>

        <td class="form-group " style="vertical-align: inherit;">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_special"
                   value="{{workOffFormCtrlVm.holidayForm.end_special}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_married"
                   value="{{workOffFormCtrlVm.holidayForm.end_married}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_mourning"
                   value="{{workOffFormCtrlVm.holidayForm.end_mourning}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_official"
                   value="{{workOffFormCtrlVm.holidayForm.end_official}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_workinjury"
                   value="{{workOffFormCtrlVm.holidayForm.end_workinjury}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_maternity"
                   value="{{workOffFormCtrlVm.holidayForm.end_maternity}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_paternity"
                   value="{{workOffFormCtrlVm.holidayForm.end_paternity}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   ng-model="workOffFormCtrlVm.holidayForm.end_others"
                   value="{{workOffFormCtrlVm.holidayForm.end_others}}"
                   class="form-control workOffFormDateInput input-sm">
        </td>
    </tr>

    <!--3 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            已休假
        </td>
        <!-- 病假 -->
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(1)}}
        </td>
        <!-- 事假 -->
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(0)}}
        </td>
        <!-- 補休 -->
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(2)}}
        </td>
        <!-- 特休 -->
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(3) +
            showWorkOffCount_lastYear(3)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(4)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(5)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(6)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(7)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(8)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(9)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{showWorkOffCount(1001)}}
        </td>
    </tr>

    <!--4 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            未休假
        </td>

        <!-- 病假 -->
        <td class="form-group " style="vertical-align: inherit;">
        </td>
        <!-- 事假 -->
        <td class="form-group " style="vertical-align: inherit;">
        </td>
        <!-- 補休 -->
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{workOffFormCtrlVm.holidayForm.rest_observed +
                workOffFormCtrlVm.holidayForm.rest_observed_lastYear +
                workOffFormCtrlVm.holidayForm.person_residual_rest_hour -
                showWorkOffCount(2) -
                loginUser_exchange_observed -
                showWorkOffCount_lastYear(2)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_special -
            workOffFormCtrlVm.holidayForm.calculate_special -
            showWorkOffCount_lastYear(3) -
            (specificUser_exchange_special / 8)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_married-
            workOffFormCtrlVm.holidayForm.calculate_married}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_mourning-
            workOffFormCtrlVm.holidayForm.calculate_mourning}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_official-
            workOffFormCtrlVm.holidayForm.calculate_official}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_workinjury-
            workOffFormCtrlVm.holidayForm.calculate_workinjury}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_maternity-
            workOffFormCtrlVm.holidayForm.calculate_maternity}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_paternity-
            workOffFormCtrlVm.holidayForm.calculate_paternity}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            {{workOffFormCtrlVm.holidayForm.rest_others-
            workOffFormCtrlVm.holidayForm.calculate_others}}
        </td>
    </tr>

    <!--5 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            休假總數
        </td>

        <td class="form-group " style="vertical-align: inherit;">
            <!--<t>{{total(workOffFormCtrlVm.holidayForm.calculate_sick,-->
                <!--workOffFormCtrlVm.holidayForm.rest_sick)}}-->
            <!--</t>-->
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <!--<t>{{total(workOffFormCtrlVm.holidayForm.calculate_private,-->
                <!--workOffFormCtrlVm.holidayForm.rest_private)}}-->
            <!--</t>-->
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <!-- 填單來的-->
            <t>{{workOffFormCtrlVm.holidayForm.rest_observed +
                workOffFormCtrlVm.holidayForm.rest_observed_lastYear +
                workOffFormCtrlVm.holidayForm.person_residual_rest_hour -
                showWorkOffCount_lastYear(2)
                }}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_special"
                   value="{{workOffFormCtrlVm.holidayForm.rest_special}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_married"
                   value="{{workOffFormCtrlVm.holidayForm.rest_married}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_mourning"
                   value="{{workOffFormCtrlVm.holidayForm.rest_mourning}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_official"
                   value="{{workOffFormCtrlVm.holidayForm.rest_official}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_workinjury"
                   value="{{workOffFormCtrlVm.holidayForm.rest_workinjury}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_maternity"
                   value="{{workOffFormCtrlVm.holidayForm.rest_maternity}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_paternity"
                   value="{{workOffFormCtrlVm.holidayForm.rest_paternity}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_others"
                   value="{{workOffFormCtrlVm.holidayForm.rest_others}}">
        </td>
    </tr>

    </tbody>

</table>

<h3 class="with-line">{{year}} 年 (ERM 只更新 病假、事假、補休)</h3>
<h3 class="with-line"></h3>
<div class="form-group">
    <button type="submit"
            ng-click="updateUserHolidayData()"
            class="btn btn-info">儲存 {{workOffFormCtrlVm.user.selected.name}} 資料
    </button>
</div>