
<!--<div class="col-md-12">-->
    <!--月<my-month-picker></my-month-picker>{{myMonth}}-->
<!--</div>-->
<div>

    <div class="row" >
        <div class="col-md-6" >
            <div
                    ba-panel
                    ba-panel-title="時間選擇"
                    ba-panel-class="with-scroll">
                <!--<div class="row">-->
                <!--<div class="col-md-3">-->
                <!--<div class="section-block">-->
                <!--<my-year-picker></my-year-picker>-->
                <!--&lt;!&ndash;<h1>{{myYear}}</h1>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label for="inputYear" class="col-md-3 control-label">年</label>-->
                <!--<input type="text"-->
                <!--class="form-control"-->
                <!--id="inputYear"-->
                <!--style="color: #000000;"-->
                <!--ng-model="myYear"-->
                <!--disabled="true"-->
                <!--value="{{myYear}}">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label for="inputMonth" class="col-md-3 control-label">月</label>-->
                <!--<input type="text"-->
                <!--class="form-control"-->
                <!--id="inputMonth"-->
                <!--placeholder="月份空白則為全部月份"-->
                <!--style="color: #000000;"-->
                <!--ng-model="month"-->
                <!--value="{{month}}">-->
                <!--</div>-->

                <div class="form-group">
                    <label for="inputStartDay" class="col-md-3 control-label">起始日</label>
                    <input type="text"
                           class="form-control statisticsDate"
                           id="inputStartDay"
                           placeholder="YYYY/MM/DD"
                           style="color: #000000;"
                           ng-model="startDay"
                           value="{{startDay}}">
                </div>

                <div class="form-group">
                    <label for="inputEndDay" class="col-md-3 control-label">結束日</label>
                    <input type="text"
                           class="form-control statisticsDate"
                           id="inputEndDay"
                           placeholder="YYYY/MM/DD"
                           style="color: #000000;"
                           ng-model="endDay"
                           value="{{endDay}}">
                </div>

                <div class="input-demo radio-demo row">
                    <div class="col-md-4">
                        <label class="radio-inline custom-radio nowrap">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <span>Type 1</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline custom-radio nowrap">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <span>Type 2</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline custom-radio nowrap">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <span>Type 3</span>
                        </label>
                    </div>
                </div>

                <button ng-click="CJTest()"
                        style="float: right; padding: 0 60px; line-height: 4"
                        id="btnReview"
                        pb-style="shrink"
                        class="btn btn-primary">
                    搜尋
                </button>
            </div>

        </div>
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="專案選擇"
                    ba-panel-class="with-scroll">
                <div class="row"
                     id="rowHead">
                    <div class="col-md-12"
                         id="colHead">
                        <div class="form-group">
                            <label for="projectName">總案名稱 - 專案名稱 - 子案名稱 - 代碼</label>
                            <ui-select ng-model="workStatisticsCJCtrlVm.prjItems.selected"
                                       class="btn-group bootstrap-select form-control"
                                       id="projectName"
                                       ng-disabled="false"
                                       ng-change="projectSelected($select.selected);"
                                       append-to-body="true"
                                       search-enabled="true">
                                <ui-select-match placeholder="選擇">
                                    {{$select.selected.mainName}} -
                                    {{$select.selected.prjName}} -
                                    {{$select.selected.prjSubName}} -
                                    {{prjTypeToName($select.selected.type)}} -
                                    {{$select.selected.prjCode}}
                                </ui-select-match>
                                <ui-select-choices
                                        ng-model="prjName"
                                        repeat="prjItems in workStatisticsCJCtrlVm.allProjectCache |
                                            groupSelectpickerOptions: {
                                            mainName: $select.search,
                                            prjName: $select.search,
                                            prjSubName: $select.search,
                                            prjCode: $select.search
                                        } | limitTo: 100"
                                        group-by="'mainName'">
                                <span ng-bind-html="prjItems.prjName + ' - ' +
                                prjItems.prjSubName + ' - ' +
                                prjTypeToName(prjItems.type) + ' - ' +
                                prjItems.prjCode | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="form-group">
                    <label for="prjBranch" class="col-md-3 control-label">分支主題</label>
                    <input type="text"
                           class="form-control"
                           id="prjBranch"
                           placeholder="分支主題空白則為全部"
                           style="color: #000000;"
                           ng-model="_branch">
                </div>

                <div class="form-group">
                    <label for="prjYear" class="col-md-3 control-label">年度</label>
                    <input type="text"
                           class="form-control"
                           id="prjYear"
                           placeholder="年度空白則為全部"
                           style="color: #000000;"
                           ng-model="_year">
                </div>

                <div class="form-group">
                    <label for="prjCode_statistic" class="col-md-3 control-label">總案</label>
                    <input type="text"
                           class="form-control"
                           id="prjCode_statistic"
                           placeholder="總案空白則為全部"
                           style="color: #000000;"
                           ng-model="_code">
                </div>

                <div class="form-group">
                    <label for="prjNumber" class="col-md-3 control-label">專案編號</label>
                    <input type="text"
                           class="form-control"
                           id="prjNumber"
                           placeholder="專案編號空白則為全部"
                           style="color: #000000;"
                           ng-model="_number">
                </div>

                <div class="form-group">
                    <label for="prjSubNumber" class="col-md-3 control-label">子案編號</label>
                    <input type="text"
                           class="form-control"
                           id="prjSubNumber"
                           placeholder="子案編號空白則為全部"
                           style="color: #000000;"
                           ng-model="_subNumber">
                </div>

                <div class="form-group">
                    <label for="prjType" class="col-md-12 control-label">類型[1.設計 2.監造 3.規劃 4.專管 5.總案 6.服務 7.行政 8.投標 9.其他]</label>
                    <input type="text"
                           class="form-control"
                           id="prjType"
                           placeholder="類型空白則為全部"
                           style="color: #000000;"
                           ng-model="_type">
                </div>
            </div>
        </div>
    </div>

    <div bs-loading-overlay
         bs-loading-overlay-reference-id="mainPage_statistics">

        <div class="row" >
            <div class="col-md-12" id="includeHead">
            </div>
        </div>

    </div>
</div>




