<div>
    <my-year-picker ng-click="listenYear(this)"></my-year-picker>

    <h3 class="with-line">{{year}} 年度公司利潤列表</h3>

    <div class="row" >



    </div>

    <hr>

    <div bs-loading-overlay
         bs-loading-overlay-reference-id="mainPage_kpi_companyProfits_result">
        <div class="row" >
            <div class="col-md-12" id="includeHead_kpi_companyProfits_result">
            </div>
        </div>
    </div>

    <div class="row" ng-if="year">
        <button type="button"
                ng-click="addKPIElement('profits')"
                class="btn btn-info btn-icon">
            <i class="ion-plus-round"/>
        </button>
        <button type="submit"
                style="margin: 5px"
                ng-click="saveKPIElements()"
                class="btn btn-primary">
            儲存
        </button>
    </div>
</div>
