<!-- todo: remove whole block -->
<div ba-panel>
  <section id="cd-timeline" class="cd-container cssanimations" ng-controller="TimelineCtrl">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg warning"><img ng-src="{{::( 'Shop' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content warning">
        <h5>第16次租用</h5>

        <p>出租地點：50嵐（金龍店）</p>
        <p>環保人：F.D</p>
        <span class="cd-date">2019/06/10</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'recycling-svgrepo-com' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content danger">
        <h5>回收</h5>

        <p>回收地點：StarBucks（仁寶門市）</p>
        <span class="cd-date">2019/06/12</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg primary"><img ng-src="{{::( 'Checklist' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>清潔</h5>

        <p>清潔廠商：有良心清潔服務</p>
        <span class="cd-date">2019/06/14</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg warning"><img ng-src="{{::( 'Bell' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content warning">
        <h5>物流派送</h5>

        <p>抵達門市：Louisa（舊宗門市）</p>
        <span class="cd-date">2019/06/15</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Online-Shopping' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content danger">
        <h5>第17次租用</h5>

        <p>出租地點：Louisa（舊宗門市）</p>
        <p>環保人：F.D</p>
        <span class="cd-date">2019/06/15</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg primary"><img ng-src="{{::( 'Money-Increase' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Title of section 6</h5>

        <p>Praesent bibendum ante mattis augue consectetur, ut commodo turpis consequat. Donec ligula eros, porta in
          iaculis vel, semper ac sem. Integer at mauris lorem.</p>
        <span class="cd-date">Feb 23</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg warning"><img ng-src="{{::( 'Vector' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content warning">
        <h5>Title of section 7</h5>

        <p>Vivamus ut laoreet erat, vitae eleifend eros. Sed varius id tellus non lobortis. Sed dolor ante, cursus non
          scelerisque sed, euismod id eros.</p>
        <span class="cd-date">Feb 24</span>
      </div>
    </div>
  </section>
</div>