<div>
    <div class="modal-header bg-info">
        <i class="ion-android-info modal-icon"></i>
        <strong>會員資料</strong>
    </div>
    <div class="modal-body text-center ">
        <label style="float:left">會員號碼</label>
        <input  type="text" class="form-control"
                style="border: 1px solid #ff855f"
                placeholder="會員號碼"
                value="{{member.user_number}}"
                ng-disabled="!isAddMember"
                ng-change="checkUserNumber(this)"
                ng-model="member.user_number"
                required>
        <br>
        <label style="float:left">姓名</label>
        <input  type="text" class="form-control"
                style="border: 1px solid #ff855f"
                placeholder="姓名"
                value="{{member.user_name}}"
                ng-disabled="!isAddMember"
                ng-model="member.user_name"
                required>
        <br>
        <label style="float:left">生日</label>
        <input  type="text" class="form-control"
                placeholder="生日"
                value="{{member.user_birth}}"
                ng-disabled="false"
                ng-model="member.user_birth"
                required>
        <br>
        <label style="float:left">手機</label>
        <input  type="text" class="form-control"
                style="border: 1px solid #ff855f"
                placeholder="手機"
                value="{{member.user_mobile}}"
                ng-disabled="false"
                ng-model="member.user_mobile"
                required>
        <br>
        <label style="float:left">Email</label>
        <input  type="text" class="form-control"
                placeholder="Email"
                value="{{member.user_email}}"
                ng-disabled="false"
                ng-model="member.user_email"
                required>
        <br>
        <label style="float:left">地址</label>
        <input  type="text" class="form-control"
                placeholder="地址"
                value="{{member.user_address}}"
                ng-disabled="false"
                ng-model="member.user_address"
                required>
        <br>
        <label style="float:left">Memo</label>
        <input  type="text" class="form-control"
                placeholder="Memo"
                value="{{member.user_memo}}"
                ng-disabled="false"
                ng-model="member.user_memo"
                required>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                ng-if="!isAddMember"
                ng-click="saveVhcMember()">儲存
        </button>
        <button type="button" class="btn btn-success"
                id="addBtn"
                ng-if="isAddMember"
                ng-click="addVhcMember()">新增
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-click="closeDialog()">取消
        </button>
    </div>
</div>
