<div >
    <div
       style="width: 35%;">
        <input id="intTextBox"
               type="text"
               class="form-control disableTimeRangesExample input-sm"
               ng-change="getHourDiff(this)"
               ng-model="tableTimeStart"/>
    </div>
    <div style="width: 30%;">
        -
    </div>
    <div
       style="width: 35%;">
        <input type="text"
               class="form-control disableTimeRangesExample input-sm"
               ng-change="getHourDiff(this)"
               ng-model="tableTimeEnd"/>
    </div>
</div>