<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="prjCode" class="col-md-2 control-label">專案代碼: </label>
                <p id="prjCode" class="col-md-10">
                    {{createNewProjectCtrlVm.branch.value}} <!-- 分支O-->
                    {{year}} <!-- 年度 OOO-->
                    {{mainProject.code}} <!-- 總案 OO-->
                    {{mainProject.number.code}} <!-- 專案 OO-->
                    {{mainProject.subNumber.code}} <!-- 子案 OO-->
                    {{mainProject.type.selected.value}} <!-- 類型 O-->
                </p>
                <p id="prjCodeSet" class="col-md-10">
                    {{mainProject.codeSet}}
                </p>
            </div>
            <form class="form-horizontal">
                <!--分支主題-->

                <div class="form-group">
                    <label for="projectType" class="col-md-2 control-label">分支主題</label>
                    <div class="col-md-10">
                        <ui-select ng-model="createNewProjectCtrlVm.branch"
                                   class="btn-group bootstrap-select form-control"
                                   append-to-body="true"
                                   search-enabled="true">
                            <ui-select-match placeholder="請選擇分支主題">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="option in createNewProjectCtrlVm.prjBranch">
                                <span ng-bind-html="option.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!--總案名稱-->
                <div class="form-group" id="prjNameDiv">
                    <label for="projectName" class="col-md-2 control-label">總案名稱</label>
                    <div class="col-md-10">
                        <ui-select ng-model="mainProject.selected"
                                   class="btn-group bootstrap-select form-control"
                                   id="projectName"
                                   ng-change="triggerChangeMainProject()"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="true">
                            <ui-select-match placeholder="選擇總案">
                                {{$select.selected.mainName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="prjItems in createNewProjectCtrlVm.projects | groupSelectpickerOptions: {mainName: $select.search}"
                                    group-by="'mainName'">
                                <span ng-bind-html="prjItems.mainName| highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="newPrjNameDiv">
                    <label for="newProjectName" class="col-md-2 control-label">新總案名稱</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               id="newProjectName"
                               ng-model="mainProject.new"
                               ng-change="triggerChangePrjNewName()"
                               placeholder="請輸入新總案名稱">
                    </div>
                </div>

                <div class="form-group" style="display: none" id="setPrjCodeDiv">
                    <label for="setPrjCode" class="col-md-2 control-label">自訂總案編號(2)</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               id="setPrjCode"
                               ng-model="mainProject.setCode"
                               ng-change="triggerChangePrjCode()"
                               placeholder="請輸入自訂總案編號">
                    </div>
                </div>

                <div class="form-group" ng-show="mainProject.selected">
                    <label class="col-md-2 control-label">專案(2)</label>
                    <div class="col-md-10">
                        <ui-select ng-model="mainProject.number.selected"
                                   class="btn-group bootstrap-select form-control"
                                   ng-change="triggerChangePrjNumber()"
                                   append-to-body="true"
                                   search-enabled="true">
                            <ui-select-match placeholder="請選擇專案">
                                {{$select.selected.label}}-{{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="option in createNewProjectCtrlVm.prjNumbers | filter: $select.search">
                                <span ng-bind-html="option.label | highlight: $select.search"></span>-<span ng-bind-html="option.value | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="newPrjNumberDiv">
                    <label for="newProjectName" class="col-md-2 control-label">新專案名稱</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               id="newProjectNumber"
                               ng-model="mainProject.numberNew"
                               required
                               placeholder="請輸入新專案名稱">
                    </div>
                </div>

                <div class="form-group" ng-show="mainProject.number.selected">
                    <label for="projectType" class="col-md-2 control-label">子案(2)</label>
                    <div class="col-md-10">
                        <ui-select ng-model="mainProject.subNumber.selected"
                                   class="btn-group bootstrap-select form-control"
                                   ng-change="triggerChangePrjSubNumber()"
                                   append-to-body="true"
                                   search-enabled="true">
                            <ui-select-match placeholder="請選擇子案">
                                {{$select.selected.label}}-{{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="option in createNewProjectCtrlVm.prjSubNumbers | filter: $select.search">
                                <span ng-bind-html="option.label | highlight: $select.search"></span>-<span ng-bind-html="option.value | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="newPrjSubNumberDiv">
                    <label class="col-md-2 control-label">新子案名稱</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               ng-model="mainProject.subNumberNew"
                               required
                               placeholder="請輸入新子案名稱">
                    </div>
                </div>

                <div class="form-group" ng-show="mainProject.subNumber.selected">
                    <label for="projectType" class="col-md-2 control-label">類型(1)</label>
                    <div class="col-md-10">
                        <select class="form-control selectpicker"
                                id="projectType"
                                title="請選擇類型"
                                ng-change="triggerChangePrjType()"
                                ng-model="mainProject.type.selected"
                                ng-options="item as item.label for item in createNewProjectCtrlVm.prjTypes"
                                selectpicker
                                required
                        >
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="mainProject.type.selected">
                    <label for="projectManager" class="col-md-2 control-label">承辦經理</label>
                    <div class="col-md-10">
                        <ui-select ng-model="mainProject.manager"
                                   class="btn-group bootstrap-select form-control"
                                   id="projectManager"
                                   required
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="true">
                            <ui-select-match placeholder="請選擇承辦經理">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="multipleItem in createNewProjectCtrlVm.managersItem | filter: $select.search">
                                <span ng-bind-html="multipleItem.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-show="mainProject.type.selected">
                    <label for="projectName" class="col-md-2 control-label">負責技師</label>
                    <div class="col-md-10">
                        <ui-select multiple
                                   ng-model="mainProject.techs"
                                   ng-disabled="false"
                                   ng-change="triggerChangePrjTechs()"
                                   search-enabled="true"
                                   append-to-body="true"
                                   class="form-control "
                                   array-required
                        >

                            <ui-select-match placeholder="請選擇技師">
                                {{$item.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="multipleItem in createNewProjectCtrlVm.techsItems | filter: $select.search">
                                <span ng-bind-html="multipleItem.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label">專案結束日期</label>-->
                <!--<div class="col-md-10"-->
                <!--ng-include="'app/pages/myInput/widgets/datePickerPopup/datePickerPopup.html'"></div>-->
                <!--</div>-->

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-danger"
                            id="prjSubmitBtn"
                            ng-click="createSubmit()">建立專案
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //    function formNotFullFill() {
    //        new Noty({
    //            text: '輸入資訊未完整 !',
    //            layout: 'center',
    //            theme: 'light',
    //            type: 'alert',
    //        }).show();
    //    }

</script>