<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>選擇員工</label>
                <ui-select ng-model="workOffAgentCtrlVm.agentItem.selected"
                           class="btn-group bootstrap-select form-control"
                           ng-disabled="false"
                           ng-change="findWorkOffItemByUserDID_agent($select.selected)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="選擇員工">
                        {{$select.selected.name}} ({{$select.selected.count}})
                    </ui-select-match>
                    <ui-select-choices
                            repeat="user in agentUsers | groupSelectpickerOptions: {name: $select.search}">
                        <span ng-bind-html="user.name + '(' + user.count + ')'| highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <div class="row" ng-if="workOffAgentCtrlVm.agentItem.selected">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="white-space:nowrap">
                <td style="vertical-align: inherit; text-align: center" width="80px"></td>
                <td style="vertical-align: inherit; text-align: center" width="150px">日期</td>
                <td style="vertical-align: inherit; text-align: center">星期</td>
                <td style="vertical-align: inherit; text-align: center">假別</td>

                <td style="vertical-align: inherit; text-align: center" width="180px">時間</td>
                <td style="vertical-align: inherit; text-align: center">時數</td>
                <td style="vertical-align: inherit; text-align: center">代理人確認</td>
                <td style="vertical-align: inherit; text-align: center">夾帶檔案</td>
            </tr>
            </thead>
            <tbody ng-repeat="table in agentCheckWorkOffItems">
            <tr style="vertical-align: inherit; text-align: center">
                <!--序號-->
                <td style="vertical-align: inherit; text-align: center">
                    <span>{{$index + 1}}</span>
                </td>
                <!--日期-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <my ng-show="!table.isBossCheck">
                        {{showDate(table)}}
                    </my>
                    <!--{{table.month}} / {{table.day}}-->
                </td>
                <!--星期-->
                <td style="vertical-align: inherit; text-align: center">
                    {{showDay(table.day)}}
                </td>
                <!--假別-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <my ng-show="!table.isBossCheck">
                        {{showWorkOffTypeString(table.workOffType)}}
                    </my>
                </td>
                <!--時間-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <my ng-show="!table.isBossCheck">
                        {{table.start_time}} - {{table.end_time}}
                    </my>
                </td>
                <!--時數/天數-->
                <td class="form-group has-success" style="vertical-align: inherit;">
                    {{getHourDiffByTime(table.start_time, table.end_time, table.workOffType)}}
                </td>
                <!--行政確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <div ng-show="!table.isBossCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                ng-click="reviewAgentItem(table, $index)"
                                style="color: black">
                            同意
                        </button>
                    </div>
                    <div ng-show="!table.isBossCheck">
                        <button class="btn btn-danger editable-table-button btn-xs"
                                ng-click="disagreeItem_agent(table, $index)"
                                style="color: black">
                            退回
                        </button>
                    </div>
                </td>

                <!-- 夾帶檔案 -->
                <td>
                    <section>

                        <div class="attachedzone" ng-init="fetchWorkOffPDFFiles(table, workOffAgentCtrlVm.agentItem.selected._id)"  ng-show="pdfList[table.fileMapNumber] != undefined">

                            <my ng-if="pdfList[table.fileMapNumber] != undefined" ng-repeat="pdfItem in pdfList[table.fileMapNumber]">
                                <div class="pdf-item" ng-click="showWorkOffPDF(this, table.fileMapNumber, workOffAgentCtrlVm.agentItem.selected._id)">
                                    <div class="pdf-img">
                                        <img src="assets/img/pdf-svgrepo-com.svg"/>
                                    </div>
                                    <div class="pdf-detail">
                                        <div class="pdf-size"><span data-pdf-size="">{{pdfItem.size}}</span></div>
                                        <div class="pdf-filename"><span data-pdf-name="">{{pdfItem.name}}</span></div>
                                    </div>
                                    <div class="pdf-delete-buttons" ng-if="false">
                                        <button class="btn btn-danger" ng-click="deleteFile(this)">刪除</button>
                                    </div>
                                </div>
                            </my>

                        </div>
                        <div ng-if="!rowform1.$waiting && !table.isSendReview"
                             ng-init="initDropZone($index, table.tableID)"></div>
                    </section>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div id="preview-template" style="display: none;">
        <div class="dz-preview dz-file-preview">
            <div class="dz-image"><img data-dz-thumbnail=""></div>
            <div class="dz-details">
                <div class="dz-size"><span data-dz-size=""></span></div>
                <div class="dz-filename"><span data-dz-name=""></span></div>
            </div>
            <div class="dz-progress"><span class="dz-upload"
                                           data-dz-uploadprogress=""></span></div>
            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
            <div class="dz-success-mark">
                <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <title>Check</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                              id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475"
                              fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                    </g>
                </svg>
            </div>
            <div class="dz-error-mark">
                <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <title>error</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474" stroke-opacity="0.198794158"
                           fill="#FFFFFF" fill-opacity="0.816519475">
                            <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                                  id="Oval-2" sketch:type="MSShapeGroup"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>

