<div>
    <my class="input-group">
        <input type="text"
               class="form-control myYearPicker"
               uib-datepicker-popup="{{format}}"
               datepicker-options=myYearOptions
               ng-model="myYear"
               is-open="opened"
               ng-change="shiftYear(this)"
               ng-required="true"
               style="display: none"
               close-text="Close"
               show-button-bar="false"/>
        <button type="button" class="btn btn-default btn-icon"
                ng-click="openYearPicker()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </my>
</div>