<div class="row"
     id="rowHead">
    <div class="col-md-12"
         id="colHead">
        <div class="form-group">
            <label for="projectName">總案名稱 - 專案名稱 - 子案名稱 - 類型 - 代碼</label>
            <ui-select ng-model="subContractorApplyCtrlVm.prjItems.selected"
                       class="btn-group bootstrap-select form-control"
                       id="projectName"
                       ng-change="insertSCApplyItem($select.selected._id)"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇(新增)">
                    {{$select.selected.mainName}} -
                    {{$select.selected.prjName}} -
                    {{$select.selected.prjSubName}} -
                    {{prjTypeToName($select.selected.type)}} -
                    {{$select.selected.prjCode}}
                </ui-select-match>
                <ui-select-choices
                        ng-model="prjName"
                        repeat="prjItems in subContractorApplyCtrlVm.projects |
                            groupSelectpickerOptions: {
                            mainName: $select.search,
                            prjName: $select.search,
                            prjSubName: $select.search,
                            prjCode: $select.search
                            } | limitTo: 100"
                        group-by="'mainName'">
                    <span ng-bind-html="prjItems.prjName + ' - ' + prjItems.prjSubName + ' - ' + prjTypeToName(prjItems.type) + ' - ' + prjItems.prjCode| highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<br>

<div class="row col-md-12" ng-init="fetchSCApplyData()">

    <!--<my-year-picker ng-click="listenYear(this)"></my-year-picker>-->

    <!--<h3 class="with-line">{{year}} 年</h3>-->

    <h3 class="with-line">{{username}} 訂約申請</h3>

    <hr>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr style="white-space:nowrap">
            <td style="vertical-align: inherit; text-align: center" width="80px"></td>
            <td style="vertical-align: inherit; text-align: center" width="100px">專案代碼</td>
            <td style="vertical-align: inherit; text-align: center" width="250px">委外廠商</td>
            <td style="vertical-align: inherit; text-align: center" width="250px">委外項目</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">訂約時間</td>
            <td style="vertical-align: inherit; text-align: center" width="250px">說明</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">訂約金額</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">經理確認</td>
        </tr>
        </thead>
        <tbody ng-repeat="applyItem in displaySubContractorApplyItems">
        <tr style="vertical-align: inherit; text-align: center">
            <!--序號-->
            <td style="vertical-align: inherit; text-align: center">
                <span id="prjCode">{{$index + 1}}</span>
                <br>
                <button class="btn btn-primary editable-table-button btn-xs"
                        ng-if="!applyItem.isSendReview"
                        ng-click="setSCApplyItem(applyItem);">提交
                </button>
                <button class="btn btn-danger editable-table-button btn-xs"
                        ng-if="!applyItem.isSendReview"
                        ng-click="removeSCApplyItemOne(applyItem);">移除
                </button>
                <!--<button class="btn btn-danger editable-table-button btn-xs"-->
                        <!--ng-if="applyItem.isManagerCheck"-->
                        <!--ng-click="recoverSCApplyItemOne(applyItem);">退回-->
                <!--</button>-->
            </td>
            <!--專案代碼-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span>{{showPrjCodeWithCombine(applyItem.prjDID)}}</span>
            </td>
            <!--日期-->
            <!--<td style="vertical-align: inherit; text-align: center">-->
                <!--<span ng-if="item.isSendReview">{{item.payDate}}</span>-->
                <!--<input type="text"-->
                       <!--ng-if="!item.isSendReview"-->
                       <!--ng-model="item.payDate"-->
                       <!--value="{{item.payDate}}"-->
                       <!--class="form-control expenditureTargetDateInput input-sm">-->
            <!--</td>-->
            <!--委外廠商-->
            <td style="vertical-align: inherit; text-align: center">
                <my ng-if="!applyItem.isSendReview">
                    <sub-contractor-vendor-selector itemName="{{applyItem.vendorDID}}"></sub-contractor-vendor-selector>
                </my>
                <my ng-if="applyItem.isSendReview">
                    {{showSCVendorName(applyItem.vendorDID)}}
                </my>
            </td>
            <!--委外項目-->
            <td style="vertical-align: inherit; text-align: center">
                <my ng-if="!applyItem.isSendReview">
                    <!--<target-selector itemName="{{applyItem.targetDID}}"></target-selector>-->
                    <sub-contractor-item-selector itemName="{{applyItem.itemDID}}"></sub-contractor-item-selector>
                </my>
                <my ng-if="applyItem.isSendReview">
                    <!--{{showTargetName(item.targetDID)}}-->
                    {{showSCItemName(applyItem.itemDID)}}
                </my>
            </td>
            <!--訂約時間-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="applyItem.isSendReview">{{applyItem.contractDate}}</span>
                <input type="text"
                       ng-if="!applyItem.isSendReview"
                       ng-model="applyItem.contractDate"
                       value="{{applyItem.contractDate}}"
                       class="form-control subContractDateInput input-sm">
            </td>

            <!--備註-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="applyItem.isSendReview">{{applyItem.contents}}</span>
                <input type="text"
                       ng-if="!applyItem.isSendReview"
                       ng-model="applyItem.contents"
                       value="{{applyItem.contents}}"
                       class="form-control input-sm">
            </td>

            <!--訂約金額-->
            <td class="form-group" style="vertical-align: inherit; text-align: right">
                <span ng-if="applyItem.isSendReview">{{(applyItem.contractAmount*1).toLocaleString()}}</span>
                <input type="text"
                       ng-if="!applyItem.isSendReview"
                       ng-model="applyItem.contractAmount"
                       value="{{applyItem.contractAmount}}"
                       class="form-control input-sm">
            </td>

            <!-- 經理簽章 -->
            <td style="vertical-align: inherit;">

                <div ng-if="(applyItem.isSendReview && !applyItem.isManagerCheck)">
                    <button class="btn btn-warning editable-table-button btn-xs"
                            style="color: black">
                        {{ showProjectManager(applyItem.prjDID)}}
                        <br>
                        確認作業中
                    </button>
                </div>
                <div ng-if="applyItem.isManagerCheck">
                    <div >
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(applyItem.prjDID)}}
                            <br>
                            確認完成
                        </button>
                    </div>
                </div>
                <div ng-if="!applyItem.isSendReview && applyItem.isManagerReject">
                    <button class="btn btn-warning editable-table-button btn-xs"
                            style="color: black">
                        {{ showProjectManager(applyItem.prjDID)}}
                        <br>
                        退回
                    </button>
                </div>
                <my ng-if="!applyItem.isSendReview && applyItem.isManagerReject"
                    ng-class="{workAdd: hover}"
                    class="mytooltip"
                    ng-mouseover="hover = true"
                    ng-mouseleave="hover = false">
                    原因：<i class="ion-clipboard"></i>
                    <span class="tooltiptext">{{applyItem.managerReject_memo}}</span>
                </my>
            </td>
        </tr>
        </tbody>
        <!--<tfoot>-->
            <!--<tr style="vertical-align: inherit; text-align: center">-->
                <!--<td colspan="5" style="vertical-align: inherit;">-->
                    <!--小計-->
                <!--</td>-->
                <!--<td style="vertical-align: inherit;">-->
                    <!--{{calculateSum()}}-->
                <!--</td>-->
            <!--</tr>-->
        <!--</tfoot>-->
    </table>

    <hr>

    <!--<button type="submit"-->
            <!--style="float: left; margin-right: 10px"-->
            <!--ng-click="saveEEItems()"-->
            <!--class="btn btn-primary">-->
        <!--表單暫存-->
    <!--</button>-->
</div>



