<div ba-panel ba-panel-class="profile-page">
    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="個人更新">
            <div class="panel-content">
                <h3 class="with-line">Personal Information</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-md-3 control-label">大頭貼</label>

                            <div class="col-md-9">
                                <div class="userpic">
                                    <div class="userpic-wrapper">
                                        <img ng-src="{{ picture }}" ng-click="selectAvatar()">
                                    </div>
                                    <!--<i class="ion-ios-close-outline" ng-click="removeAvatar()" ng-if="!noPicture"></i>-->
                                    <a href class="change-userpic" ng-click="selectAvatar()"
                                       style="color: white">變更大頭貼</a>
                                    <input type="file" ng-show="false" id="uploadFile"
                                           my-file-select="onFileSelect($files)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-md-3 control-label">姓名</label>

                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   id="inputFirstName"
                                   placeholder=""
                                   disabled="true"
                                   value="{{username}}">
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="with-line">變更密碼</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputPassword" class="col-md-3 control-label">新密碼</label>

                        <div class="col-md-9">
                            <input type="password"
                                   class="form-control"
                                   id="inputPassword"
                                   value="{{password}}"
                                   placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputConfirmPassword" class="col-md-3 control-label">確認密碼</label>

                        <div class="col-md-9">
                            <input type="password"
                                   class="form-control"
                                   id="inputConfirmPassword"
                                   placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <button type="button"
                    ng-click="changePassword()"
                    class="btn btn-primary btn-with-icon save-profile ">儲存密碼
            </button>
        </uib-tab>
        <uib-tab heading="人事輸入" ng-if="roleType === '100'">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="userName">選擇員工</label>
                            <ui-select ng-model="userEditCtrlVm.user.selected"
                                       class="btn-group bootstrap-select form-control"
                                       id="userName"
                                       ng-change="selectUserProfile(userEditCtrlVm.user.selected)"
                                       ng-disabled="false"
                                       append-to-body="true"
                                       search-enabled="true">
                                <ui-select-match placeholder="選擇員工">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="user in userEditCtrlVm.users | groupSelectpickerOptions: {name: $select.search}">
                                    <span ng-bind-html="user.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <h3 class="with-line"></h3>
                <!--姓名-->
                <div class="row" ng-if="userEditCtrlVm.user.selected">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-md-3 control-label">姓名</label>

                            <div class="col-md-9">
                                <input type="text"
                                       id="userNewName"
                                       class="form-control"
                                       placeholder=""
                                       required
                                       value=" {{userEditCtrlVm.user.selected.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <!--角色-->
                <div class="row" ng-if="userEditCtrlVm.user.selected">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label class="col-md-3 control-label">員工角色</label>
                            <div class="col-md-9">
                                <ui-select ng-model="userEditCtrlVm.userRole"
                                           class="btn-group bootstrap-select form-control"
                                           append-to-body="true"
                                           search-enabled="true">
                                    <ui-select-match placeholder="請選擇員工角色">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="option in userEditCtrlVm.roleOptions | filter: $select.search">
                                        <span ng-bind-html="option.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--主管-->
                <div class="row" ng-if="userEditCtrlVm.user.selected">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label class="col-md-3 control-label" style="color:red">{{userEditCtrlVm.user.selected.name}} 的主管</label>
                            <div class="col-md-9">
                                <ui-select ng-model="userEditCtrlVm.userBoss"
                                           class="btn-group bootstrap-select form-control"
                                           required
                                           ng-disabled="false"
                                           append-to-body="true"
                                           search-enabled="true">
                                    <ui-select-match placeholder="請選擇 {{userEditCtrlVm.user.selected.name}} 的主管">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="multipleItem in userEditCtrlVm.managersList | filter: $select.search">
                                        <span ng-bind-html="multipleItem.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--時薪-->
                <div class="row" ng-if="userEditCtrlVm.user.selected">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-md-3 control-label">時薪</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon addon-left input-group-addon-success">NTD</span>
                                    <input type="number"
                                           ng-model="userEditCtrlVm.userHourSalary"
                                           class="form-control with-success-addon"
                                           min="0"
                                           id="userHourSalary"
                                           onkeypress="return event.charCode >= 48"
                                           placeholder="請輸入金額"
                                           aria-label="Amount (to the nearest dollar)"
                                           value=" {{userEditCtrlVm.userHourSalary}}"
                                           required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="with-line"></h3>
                <div class="form-group">
                    <button type="submit"
                            ng-click="updateUser()"
                            class="btn btn-info">儲存人事資料
                    </button>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>







