<div bs-loading-overlay
     bs-loading-overlay-reference-id="mainPage_kpi_personal">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="年度績效" >
            <div ng-controller="kpiTechCtrl as kpiTechCtrlVM"
                    ng-include="'app/pages/kpi/tech/tabs/kpiTechMainTab.html'"></div>
        </uib-tab>

        <uib-tab heading="年度總表" ng-if="false">
            <div ng-controller="kpiTechYearlyCtrl as kpiTechYearlyCtrlVM"
                 ng-include="'app/pages/kpi/tech/tabs/kpiTechYearlyMainTab.html'"></div>
        </uib-tab>

        <uib-tab heading="技師個人">
            <div ng-controller="kpiTechPVCtrl as kpiTechPVCtrlVM"
                 ng-include="'app/pages/kpi/tech/tabs/kpiTechPersonViewTab.html'"></div>
        </uib-tab>

        <uib-tab heading="技師年度總表" ng-if="false">
            <div ng-controller="kpiTechYearlyPVCtrl as kpiTechYearlyPVCtrlVM"
                 ng-include="'app/pages/kpi/tech/tabs/kpiTechYearlyPersonViewTab.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>

