<div class="horizontal-scroll">
    <table class="table table-bordered table-hover table-condensed"
           style="width:100%">
        <thead >

            <tr style="vertical-align: inherit; text-align: center; white-space:nowrap">
                <!--項目-->
                <th style="vertical-align: inherit; text-align: center" rowspan="3">
                    年月
                    <br>
                    <span ng-if="financialResult.isPrjClose" style="color: red;">[已結算]</span>
                    <span ng-if="!financialResult.isPrjClose" style="color: blue;">[尚未結算]</span>
                    <br>
                    <button type="submit"
                            ng-if="!financialResult.isPrjClose"
                            style="margin: 5px"
                            ng-click="saveOverAll(financialResult)"
                            class="btn btn-primary">
                        設定
                    </button>
                </th>
                <!-- 收入 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    預計淨收入
                </th>
                <!-- 預計收入 -->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="financialResult.isPrjClose">{{financialResult.preIncome}}</span>
                    <input type="text"
                           style="text-align: center"
                           ng-if="!financialResult.isPrjClose"
                           ng-model="financialResult.preIncome"
                           value="{{financialResult.preIncome}}"
                           class="form-control input-sm">
                </th>
                <!-- 固定支出 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    固定支出
                    <span style="color:red">{{calcRates()}}</span> %
                    <br>
                    (技師、行政、風險)
                </th>

                <!-- 預計收入 * 技師、行政、風險 -->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    {{(calcRates() * financialResult.preIncome / 100).toLocaleString()}}
                </th>

                <!-- 預計支出 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    預計支出
                </th>

                <!-- 預計支出 -->
                <!-- 專案經理輸入 -->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="financialResult.isPrjClose">{{financialResult.preCost}}</span>
                    <input type="text"
                           style="text-align: center"
                           ng-if="!financialResult.isPrjClose"
                           ng-model="financialResult.preCost"
                           value="{{financialResult.preCost}}"
                           class="form-control input-sm">
                </th>

                <!-- 預計結餘 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    預計結餘
                </th>

                <!-- 預計結餘 -->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    <span >{{(financialResult.preIncome - (calcRates() * financialResult.preIncome / 100) - financialResult.preCost).toLocaleString()}}</span>
                </th>

                <!-- 備註 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    備註
                </th>
            </tr>

            <tr style="vertical-align: inherit; text-align: center; white-space:nowrap">
                <th style="vertical-align: inherit; text-align: center" rowspan="2">
                    實際淨收入
                    <br>
                    發票金額 / 1.05 * (1- {{calcRates() / 100}})
                </th>

                <!--支出-->
                <th class="form-group" style="vertical-align: inherit; text-align: center" colspan="6">
                    實際支出
                </th>

                <!-- 實際盈餘 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center" rowspan="2">
                    實際盈餘
                </th>

                <!-- 備註 -->
                <th class="form-group" style="vertical-align: inherit; text-align: center" rowspan="3">
                    <span ng-if="financialResult.isPrjClose">{{financialResult.overAllMemo}}</span>
                    <textarea type="text"
                           style="text-align: center"
                           ng-if="!financialResult.isPrjClose"
                           ng-model="financialResult.overAllMemo"
                           value="{{financialResult.overAllMemo}}"
                           class="form-control input-sm"/>
                </th>
            </tr>

            <tr style="vertical-align: inherit; text-align: center; white-space:nowrap">
                <th style="vertical-align: inherit; text-align: center">
                    人時支出
                </th>
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    墊付款
                </th>
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    廠商請款
                </th>
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    其他支出
                </th>
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    罰款
                </th>
                <th class="form-group" style="vertical-align: inherit; text-align: center">
                    匯費
                </th>
            </tr>

            <!-- main -->
            <tr style="vertical-align: inherit; text-align: right; white-space:nowrap">
                <th style="vertical-align: inherit; text-align: center">
                    合計
                </th>
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    {{calIncome(2).toLocaleString()}}
                </th>
                <!--人時支出-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    <!--{{calcCost(1)}}-->
                    {{calcCost_special20201207(1).toLocaleString()}}
                </th>
                <!--墊付款-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    <!--{{calcCost(2)}}-->
                    {{calcCost_special20201207(2).toLocaleString()}}
                </th>
                <!--廠商請款-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    {{calSubContractorPay().toLocaleString()}}
                </th>
                <!--其他支出-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    <!--{{calcCost(3)}}-->
                    {{calcCost_special20201207(3).toLocaleString()}}
                </th>
                <!--罰款-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    {{calFines().toLocaleString()}}
                </th>
                <!--匯費-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    {{calFee().toLocaleString()}}
                </th>
                <!--實際盈餘-->
                <th class="form-group" style="vertical-align: inherit; text-align: right">
                    {{calProfit().toLocaleString()}}
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="item in overall_data">
        <tr style="vertical-align: inherit; text-align: right; white-space:nowrap">
            <th style="vertical-align: inherit; text-align: center">
                {{item._date}}
            </th>

            <!-- 收入 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 4).toLocaleString()}}
            </th>

            <!-- 人時 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 7).toLocaleString()}}
            </th>

            <!-- 墊付款 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 2).toLocaleString()}}
            </th>

            <!-- 廠商請款 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 5).toLocaleString()}}
            </th>

            <!--  其他 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 3).toLocaleString()}}
            </th>

            <!-- 罰款 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 6).toLocaleString()}}
            </th>

            <!-- 匯費 -->
            <th class="form-group" style="vertical-align: inherit; text-align: right">
                {{calcItem(item, 8).toLocaleString()}}
            </th>

            <th class="form-group" style="vertical-align: inherit; text-align: right">
            </th>

            <th class="form-group" style="vertical-align: inherit; text-align: right">
            </th>
        </tr>
        </tbody>
    </table>
</div>