<div>
    <my class="input-group">
        <input type="text"
               class="form-control myWeeklyDatePicker"
               uib-datepicker-popup="{{format}}"
               datepicker-options=myOptions
               ng-model="myDT"
               is-open="opened"
               ng-change="shiftToFirstDayOfWeek(this); callAttrFunction(function1, viewType)"
               ng-required="true"
               style="display: none"
               close-text="Close"
               show-button-bar="false"/>
            <button type="button" class="btn btn-default btn-icon"
                    ng-click="openWeeklyDatePicker()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
    </my>
</div>