<div bs-loading-overlay
     bs-loading-overlay-reference-id="mainPage_project_financial">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="費率預設" ng-if="userDID === '5eec6f1902a94a4eebf2af7d' ">
        <!--<uib-tab heading="費率預設" >-->
            <div ng-controller="projectFinancialRateCtrl as projectFinancialRateCtrlVm"
                 ng-include="'app/pages/myProject/projectFinancial/tabs/projectFinancial_rateTab.html'"></div>
        </uib-tab>

        <uib-tab heading="專案結算" ng-if="userDID === '5eec6f1902a94a4eebf2af7d' ">
        <!--<uib-tab heading="專案結算" >-->
            <div ng-controller="projectFinancialResultCtrl as projectFinancialResultCtrlVm"
                 ng-include="'app/pages/myProject/projectFinancial/tabs/projectFinancial_resultTab.html'"></div>
        </uib-tab>

        <uib-tab heading="專案結算分配" ng-if="userDID === '5eec6f1902a94a4eebf2af7d' ">
        <!--<uib-tab heading="專案結算分配" >-->
            <div ng-controller="projectFinancialDistributeCtrl as projectFinancialDistributeCtrlVm"
                 ng-include="'app/pages/myProject/projectFinancial/tabs/projectFinancial_distributeTab.html'"></div>
        </uib-tab>

        <uib-tab heading="分配查詢" ng-if="roleType === '2' || roleType === '100' || roleType === '6' || roleType === '1'">
            <!--<uib-tab heading="專案結算分配" >-->
            <div ng-controller="projectFinancialDistributeEmployeeCtrl as projectFinancialDistributeEmployeeCtrlVm"
                 ng-include="'app/pages/myProject/projectFinancial/tabs/projectFinancial_distribute_employeeTab.html'"></div>
        </uib-tab>

        <uib-tab heading="結算查詢" ng-if="roleType === '2' || roleType === '100' || roleType === '6' || roleType === '1'">
            <!-- 只有主管 -->
            <div ng-controller="projectFinancialSearchCtrl as projectFinancialSearchCtrlVm"
                 ng-include="'app/pages/myProject/projectFinancial/tabs/projectFinancial_searchTab.html'"></div>
        </uib-tab>

    </uib-tabset>
</div>

