<div class="horizontal-scroll">
    <table class="table table-hover" st-table="projects">
        <thead>
        <tr class="sortable">
            <th class="table-id" st-sort="prjCode" st-sort-default="true">代碼</th>
            <th st-sort="name">名稱</th>
            <th st-sort="majorID">經理</th>
            <th st-sort="majorID">主承辦</th>
            <th st-sort="creator">協辦人員</th>
            <th st-sort="age">技師</th>
        </tr>
        <tr>
            <th><input st-search="prjCode" placeholder="尋找代碼" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="name" placeholder="輸入名稱" class="input-sm form-control search-input"
                       type="search"/></th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="prj in projects" class="editable-tr-wrap">
            <td class="table-id">{{prj.prjCode}}</td>
            <td>{{prj.name}} - {{prjTypeToName(prj.type)}}</td>
            <td>{{ showManager(prj) }}</td>
            <td class="select-td">
                <span editable-select="prj.majorID"
                      e-name="majorID"
                      e-form="rowform"
                      e-selectpicker
                      e-ng-options="user.value as user.name for user in projectManagers">
                {{ showMajor(prj) }}
                </span>
                <br>
                <button type="button"
                        ng-disabled="rowform.$visible"
                        ng-click="rowform.$show()"
                        class="btn btn-primary editable-table-button btn-xs">
                    Edit
                </button>
            </td>
            <!--<td>{{prj.workers}}</td>-->
            <td class="select-td">
                <form data-editable-form
                      name="uiSelectForm">
                    <div editable-ui-select="prj.workers"
                         e-multiple
                         data-e-form="uiSelectForm"
                         data-e-name="workers"
                         name="workers"
                         data-e-style="min-width:150px;max-width:500px"
                         data-e-ng-model="prj.workers">
                        {{showWorkers(prj.workers)}}
                        <editable-ui-select-match placeholder="請選擇協辦人員">
                            {{$select.selected[$index].name}}
                        </editable-ui-select-match>
                        <editable-ui-select-choices repeat="user in allWorkers | filter: $select.search ">
                            {{user.name}}
                        </editable-ui-select-choices>
                    </div>
                    <br/>
                    <div class="buttons">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-primary editable-table-button btn-xs"
                                ng-click="uiSelectForm.$show()"
                                ng-show="!uiSelectForm.$visible">
                            Edit
                        </button>
                        <!-- buttons to submit / cancel form -->
                        <span ng-show="uiSelectForm.$visible">
                        <br/>
                        <button type="submit" class="btn btn-primary editable-table-button btn-xs"
                                ng-click="aaaaa(uiSelectForm)"
                                ng-disabled="uiSelectForm.$waiting">
                          Save
                        </button>
                        <button type="button" class="btn btn-default editable-table-button btn-xs"
                                ng-disabled="uiSelectForm.$waiting"
                                ng-click="uiSelectForm.$cancel()">
                          Cancel
                        </button>
                      </span>
                    </div>
                </form>
            </td>
            <td>{{showTechs(prj.technician)}}</td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>