<div class="horizontal-scroll">
    <table class="table table-hover" st-table="institutes">
        <thead>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="30" st-displayed-pages="10"></div>
            </td>
        </tr>
        <tr class="sortable">
            <th class="table-id" st-sort="code" st-sort-default="true">代碼</th>
            <th st-sort="name" >機關名稱</th>
        </tr>
        <tr>
            <th><input st-search="code"
                       placeholder="尋找代碼"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="name"
                       placeholder="尋找機關"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
        </tr>

        </thead>
        <tbody>

        <tr ng-repeat="item in institutes" class="editable-tr-wrap">

            <!--代碼-->
            <td class="table-id" style="width: 50%">
                <form data-editable-form
                      name="uInstituteCodeForm">
                    <div editable-textarea="item.code"
                         data-e-form="instituteCode"
                         data-e-name="instituteCode"
                         data-e-ng-model="item.code">
                        {{item.code}}
                    </div>
                    <br/>
                    <div class="buttons">
                        <button type="button"
                                ng-disabled="uInstituteCodeForm.$visible"
                                ng-click="uInstituteCodeForm.$show()"
                                ng-show="!uInstituteCodeForm.$visible;"
                                class="btn btn-primary editable-table-button btn-xs">
                            更換
                        </button>
                        <span ng-show="uInstituteCodeForm.$visible">
                            <br/>
                            <button type="submit" class="btn btn-primary editable-table-button btn-xs"
                                    ng-click="changeInstituteCode(uInstituteCodeForm, this)"
                                    ng-disabled="uInstituteCodeForm.$waiting">
                              確認
                            </button>
                            <button type="button" class="btn btn-default editable-table-button btn-xs"
                                    ng-disabled="uInstituteCodeForm.$waiting"
                                    ng-click="uInstituteCodeForm.$cancel()">
                              取消
                            </button>
                        </span>
                    </div>
                </form>
            </td>

            <!--機關名稱-->
            <td style="width: 50%">
                <form data-editable-form
                      name="uInstituteNameForm">
                    <div editable-textarea="item.name"
                         data-e-form="instituteName"
                         data-e-name="instituteName"
                         data-e-ng-model="item.name">
                        {{item.name}}
                    </div>
                    <br/>
                    <div class="buttons">
                        <button type="button"
                                ng-disabled="uInstituteNameForm.$visible"
                                ng-click="uInstituteNameForm.$show()"
                                ng-show="!uInstituteNameForm.$visible;"
                                class="btn btn-primary editable-table-button btn-xs">
                            更換
                        </button>
                        <span ng-show="uInstituteNameForm.$visible">
                            <br/>
                            <button type="submit" class="btn btn-primary editable-table-button btn-xs"
                                    ng-click="changeInstituteName(uInstituteNameForm, this)"
                                    ng-disabled="uInstituteNameForm.$waiting">
                              確認
                            </button>
                            <button type="button" class="btn btn-default editable-table-button btn-xs"
                                    ng-disabled="uInstituteNameForm.$waiting"
                                    ng-click="uInstituteNameForm.$cancel()">
                              取消
                            </button>
                        </span>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="30" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>