<!-- 執行專案 -->
<div class="horizontal-scroll">
    <table class="table table-hover" st-table="members">
        <thead>
        <tr>
            <td>
                <button class="btn btn-primary btn-auth" ng-click="ttttt()">新增會員</button>
            </td>
            <td colspan="8" class="text-center">
                <div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
            </td>
        </tr>
        <tr class="sortable">
            <th class="table-id" st-sort="user_number" st-sort-default="true" style="width: 10%">會員號碼</th>
            <th st-sort="user_name" style="width: 10%">姓名</th>
            <!--<th st-sort="user_sex" style="width: 20%">性別</th>-->
            <th st-sort="user_birth" style="width: 13%">生日</th>
            <th st-sort="user_mobile" style="width: 13%">手機</th>
            <!--<th st-sort="user_homephone" style="width: 13%">手機</th>-->
            <!--<th st-sort="user_officephone" style="width: 13%">手機</th>-->
            <th st-sort="user_email" style="width: 13%">Email</th>
            <th st-sort="user_address" style="width: 20%">住址</th>
            <th st-sort="user_memo" style="width: 13%">備註</th>
        </tr>
        <tr>
            <th><input st-search="user_number"
                       placeholder="尋找會員號碼"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="user_name"
                       placeholder="輸入姓名"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="user_birth"
                       placeholder="輸入生日"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="user_mobile"
                       placeholder="輸入手機"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="user_email"
                       placeholder="輸入Email"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="user_address"
                       placeholder="輸入住址"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="user_memo"
                       placeholder="輸入備註"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

        </tr>

        </thead>
        <tbody>

        <tr ng-repeat="mem in members" class="editable-tr-wrap"
            ng-class="{vhcMember: hover}"
            ng-mouseover="hover = true"
            ng-mouseleave="hover = false"
            ng-click="editMember(mem)">

            <!--會員ID-->
            <td class="table-id" style="width: 5%">{{mem.user_number}}</td>
            <!--姓名-->
            <td style="width: 20%">
                {{mem.user_name}}
            </td>

            <!--性別-->
            <!--<td style="width: 20%">-->
                <!--{{mem.user_sex}}-->
            <!--</td>-->
            <!--生日-->
            <td style="width: 13%">
                {{mem.user_birth}}
            </td>
            <!--手機-->
            <td style="width: 13%">
                {{mem.user_mobile}}
            </td>
            <!--家裡電話-->
            <!--<td style="width: 13%">-->
                <!--{{mem.user_homephone}}-->
            <!--</td>-->
            <!--辦公室電話-->
            <!--<td style="width: 13%">-->
                <!--{{mem.user_officephone}}-->
            <!--</td>-->
            <!--Email-->
            <td style="width: 13%">
                {{mem.user_email}}
            </td>
            <!--住址-->
            <td style="width: 13%">
                {{mem.user_address}}
            </td>
            <!--備註-->
            <td style="width: 13%">
                {{mem.user_memo}}
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>