<div class="row" >

    <!--機關名稱-->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">機關名稱</label>
        </div>
    </div>

    <!--契約名稱-->
    <div class="col-md-4">
        <div class="form-group row clearfix">
            <label class="col-md-4 control-label">契約名稱</label>
        </div>
    </div>

    <!--工程名稱-->
    <div class="col-md-4">
        <div class="form-group row clearfix">
            <label class="col-md-4 control-label">工程名稱</label>
        </div>
    </div>


    <!--類型-->
    <!--<div class="col-md-3">-->
        <!--<div class="form-group row clearfix">-->
            <!--<label class="col-md-4 control-label">類型</label>-->
        <!--</div>-->
    <!--</div>-->


</div>
<div class="row" >
    <!--機關名稱-->
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <ui-select ng-model="vm.filter.institute"
                           class="btn-group bootstrap-select form-control"
                           ng-change="changeInstitute(vm.filter.institute)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="請選擇機關">
                        {{$select.selected.name}} - {{$select.selected.code}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="option in vm.instituteOptions | filter: $select.search">
                                <span ng-bind-html="option.name + ' - ' + option.code
                                | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <!--契約名稱-->
    <div class="col-md-4">
        <!--單選-->
        <div class="form-group row clearfix">
            <div class="col-md-12">
                <ui-select ng-model="vm.filter.projectContract"
                           class="btn-group bootstrap-select form-control"
                           ng-change="changeContract(vm.filter.projectContract, vm.filter.institute)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="請選擇契約">
                        {{$select.selected.name}} - {{$select.selected.code}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="option in vm.contractOptions | filter: $select.search">
                                    <span ng-bind-html="option.name + ' - ' + option.code
                                    | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>



    <!--工程名稱-->
    <div class="col-md-4">
        <div class="form-group row clearfix">
            <div class="col-md-12">
                <ui-select ng-model="vm.filter.projectCase"
                           class="btn-group bootstrap-select form-control"
                           ng-change="changeCase(vm.filter.projectCase)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="請選擇工程">
                        {{$select.selected.name}} - {{$select.selected.code}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="option in vm.caseOptions | filter: $select.search">
                                    <span ng-bind-html="option.name + ' - ' + option.code
                                    | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>


    <!--類型-->
    <!--<div class="col-md-3">-->
        <!--<div class="form-group row clearfix">-->
            <!--<div class="col-md-12">-->
                <!--<ui-select ng-model="vm.filter.projectType"-->
                           <!--class="btn-group bootstrap-select form-control"-->
                           <!--ng-change="changeType(vm)"-->
                           <!--append-to-body="true"-->
                           <!--search-enabled="true">-->
                    <!--<ui-select-match placeholder="請選擇類型">-->
                        <!--{{$select.selected.label}}-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices-->
                            <!--repeat="option in vm.prjTypeOptionsAll | filter: $select.search">-->
                                    <!--<span ng-bind-html="option.label-->
                                    <!--| highlight: $select.search"></span>-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


</div>

<hr>


<div class="col-md-12" id="includeHead_listCase">
</div>