<form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label >選擇員工</label>
                <ui-select ng-model="vm.user.selected"
                           class="btn-group bootstrap-select form-control"
                           id="userName"
                           ng-change="selectUserProfile(vm.user.selected)"
                           ng-disabled="false"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="選擇員工">
                        {{vm.user.selected.name}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="user in vm.users | groupSelectpickerOptions: {name: $select.search}">
                        <span ng-bind-html="showUserStatus(user) | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <!--<h3 class="with-line"></h3>-->
    <div class="row" ng-if="vm.user.selected">
        <div class="col-md-12">
            <div class="form-group row">

                <div class="col-md-1">
                    <label class="control-label">新密碼</label>
                </div>
                <div class="col-md-2">
                    <input type="password"
                           class="form-control"
                           ng-model="oldPWD"
                           placeholder="">
                </div>
                <div class="col-md-1" >
                    <label class="control-label">確認密碼</label>
                </div>
                <div class="col-md-2">
                    <input type="password"
                           class="form-control"
                           ng-model="newPWD"
                           placeholder="">
                </div>
                <div class="col-md-4">
                    <button type="button"
                            ng-click="dispatchPassword(this)"
                            class="btn btn-primary btn-with-icon">
                        變更 {{vm.user.selected.name}} 密碼
                    </button>
                </div>
            </div>

            </div>
        </div>
    </div>



    <!--姓名-->
    <!--<div class="row" ng-if="vm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label">姓名</label>-->

                <!--<div class="col-md-9">-->
                    <!--<input type="text"-->
                           <!--ng-change="selectUserProfile(vm.user.selected)"-->
                           <!--id="userNewName"-->
                           <!--class="form-control"-->
                           <!--placeholder=""-->
                           <!--required-->
                           <!--value=" {{vm.user.selected.name}}">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--帳號-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label">系統帳號</label>-->

                <!--<div class="col-md-9">-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--ng-model="userEditCtrlVm.email"-->
                           <!--placeholder=""-->
                           <!--required-->
                           <!--value="{{userEditCtrlVm.email}}">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--CJ MAil-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label">崇峻信箱</label>-->

                <!--<div class="col-md-9">-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--ng-model="userEditCtrlVm.cjMail"-->
                           <!--placeholder=""-->
                           <!--style="color: #000000;"-->
                           <!--value="{{userEditCtrlVm.cjMail}}">-->
                    <!--<button type="button"-->
                            <!--ng-click="sendTestMail()"-->
                            <!--class="btn btn-primary btn-with-icon save-profile">測試信-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--角色-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label">員工角色</label>-->
                <!--<div class="col-md-9">-->
                    <!--<ui-select ng-model="userEditCtrlVm.userRole"-->
                               <!--class="btn-group bootstrap-select form-control"-->
                               <!--append-to-body="true"-->
                               <!--search-enabled="true">-->
                        <!--<ui-select-match placeholder="請選擇員工角色">-->
                            <!--{{$select.selected.name}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices-->
                                <!--repeat="option in userEditCtrlVm.roleOptions | filter: $select.search">-->
                            <!--<span ng-bind-html="option.name"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--主管-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label" style="color:red">{{userEditCtrlVm.user.selected.name}}-->
                    <!--的主管</label>-->
                <!--<div class="col-md-9">-->
                    <!--<ui-select ng-model="userEditCtrlVm.userBoss"-->
                               <!--class="btn-group bootstrap-select form-control"-->
                               <!--required-->
                               <!--ng-disabled="false"-->
                               <!--append-to-body="true"-->
                               <!--search-enabled="true">-->
                        <!--<ui-select-match placeholder="請選擇 {{userEditCtrlVm.user.selected.name}} 的主管">-->
                            <!--{{$select.selected.name}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices-->
                                <!--repeat="multipleItem in userEditCtrlVm.managersList | filter: $select.search">-->
                            <!--<span ng-bind-html="multipleItem.name | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--月薪-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label">月薪</label>-->
                <!--<div class="col-md-9">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon addon-left input-group-addon-success">NTD</span>-->
                        <!--<input type="number"-->
                               <!--ng-model="userEditCtrlVm.userMonthSalary"-->
                               <!--class="form-control with-success-addon"-->
                               <!--min="0"-->
                               <!--id="userMonthSalary"-->
                               <!--onkeypress="return event.charCode >= 48"-->
                               <!--placeholder="請輸入金額"-->
                               <!--aria-label="Amount (to the nearest dollar)"-->
                               <!--value=" {{userEditCtrlVm.userMonthSalary}}"-->
                               <!--required>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--打卡機編號-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row clearfix">-->
                <!--<label class="col-md-3 control-label">打卡機編號</label>-->
                <!--<div class="col-md-9">-->
                    <!--<input type="text"-->
                           <!--ng-model="userEditCtrlVm.machineDID"-->
                           <!--id="userMachineDID"-->
                           <!--class="form-control"-->
                           <!--placeholder="請輸入打卡機編號"-->
                           <!--value=" {{userEditCtrlVm.machineDID}}">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--補休-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row">-->
                <!--<label class="col-md-3 control-label" style="color:blue">補休預設時數</label>-->
                <!--<div class="col-md-3" >-->
                    <!--<input type="text"-->
                           <!--ng-model="userEditCtrlVm.residualRestHour"-->
                           <!--id="userResidualRestHour"-->
                           <!--ng-disabled="userEditCtrlVm.isSetResidualRestHour"-->
                           <!--class="form-control workOffFormNumberInput"-->
                           <!--placeholder="請輸入補休預設時數"-->
                           <!--value=" {{userEditCtrlVm.residualRestHour}}">-->
                <!--</div>-->
                <!--<label class="col-md-6 control-label"-->
                       <!--ng-show="userEditCtrlVm.isSetResidualRestHour"-->
                       <!--style="color:red">-->
                    <!--已設定過，不可更改-->
                <!--</label>-->
                <!--<div class="col-md-3" ng-if="!userEditCtrlVm.isSetResidualRestHour">-->
                    <!--<button type="button" class="btn btn-danger btn-with-icon"-->
                            <!--ng-click="setUserResidualRestHour()">-->
                        <!--<i class="ion-android-warning"></i>-->
                        <!--設定（注意：設定後即不可更動）-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--ERM狀態-->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row">-->
                <!--<label class="col-md-3 control-label" style="color:blue">ERM狀態</label>-->
                <!--<div class="col-md-9" >-->
                    <!--<switch-->
                            <!--class="wide"-->
                            <!--ng-model="userEditCtrlVm.workStatus"-->
                            <!--on="可登入"-->
                            <!--off="不可登入"-->
                            <!--value="{{userEditCtrlVm.workStatus}}"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- 收發功能 -->
    <!--<div class="row" ng-if="userEditCtrlVm.user.selected">-->
        <!--<div class="col-md-6">-->
            <!--<div class="form-group row">-->
                <!--<label class="col-md-3 control-label" style="color:blue">公文收發模組</label>-->
                <!--<div class="col-md-9" >-->
                    <!--<switch-->
                            <!--class="wide"-->
                            <!--ng-model="userEditCtrlVm.feature_official_doc"-->
                            <!--on="開啟"-->
                            <!--off="關閉"-->
                            <!--value="{{userEditCtrlVm.feature_official_doc}}"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <h3 class="with-line"></h3>
    <!--<div class="form-group">-->
        <!--<button type="submit"-->
                <!--ng-click="updateUser()"-->
                <!--class="btn btn-info">儲存人事資料-->
        <!--</button>-->
    <!--</div>-->

</form>