<!--<div class="row"-->
     <!--id="rowHead">-->
    <!--<div class="col-md-12"-->
         <!--id="colHead">-->
        <!--<div class="form-group">-->
            <!--<label for="projectName">總案名稱 - 專案名稱 - 子案名稱 - 類型 - 代碼</label>-->
            <!--<ui-select ng-model="paymentFormSearchCtrlVm.prjItems.selected"-->
                       <!--class="btn-group bootstrap-select form-control"-->
                       <!--id="projectName"-->
                       <!--ng-change="searchPaymentItemSearch($select.selected._id, null, null)"-->
                       <!--append-to-body="true"-->
                       <!--search-enabled="true">-->
                <!--<ui-select-match placeholder="選擇(查詢)">-->
                    <!--{{$select.selected.mainName}} - -->
                    <!--{{$select.selected.prjName}} - -->
                    <!--{{$select.selected.prjSubName}} - -->
                    <!--{{prjTypeToName($select.selected.type)}} - -->
                    <!--{{$select.selected.prjCode}}-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices-->
                        <!--ng-model="prjName"-->
                        <!--repeat="prjItems in paymentFormSearchCtrlVm.projects |-->
                            <!--groupSelectpickerOptions: {-->
                            <!--mainName: $select.search,-->
                            <!--prjName: $select.search,-->
                            <!--prjSubName: $select.search,-->
                            <!--prjCode: $select.search-->
                            <!--}"-->
                        <!--group-by="'mainName'">-->
                    <!--<span ng-bind-html="prjItems.prjName + ' - ' + prjItems.prjSubName + ' - ' + prjTypeToName(prjItems.type) + ' - ' + prjItems.prjCode| highlight: $select.search"></span>-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<br>

<div class="row col-md-12" >

    <my-month-picker ng-click="listenMonth_searchMonthly(this)"
                     formatted="YYYY/MM">
    </my-month-picker>
    <br>
    <button type="button" class="btn btn-default btn-icon" ng-init="changePaymentMonth_searchMonthly(0, this)"
            ng-click="changePaymentMonth_searchMonthly(-1, this)">
        <i class="ion-chevron-left"></i>
    </button>
    {{myMonth}}
    <button type="button" class="btn btn-default btn-icon"
            ng-click="changePaymentMonth_searchMonthly(1, this)">
        <i class="ion-chevron-right"></i>
    </button>

    <div id="form_monthly_search_pdf">

        <h3 class="with-line"></h3>

        <button class="btn btn-info editable-table-button btn-xs no-print"
                ng-click="printPDF_person() ">
            列印
        </button>

        <hr class="no-print">



        <table class="table table-bordered table-hover table-condensed" id="form_main_pdf">
            <thead>
            <tr style="white-space:nowrap">
                <td style="vertical-align: inherit; text-align: center" width="80px"></td>
                <td style="vertical-align: inherit; text-align: center" width="100px">墊付人</td>
                <td style="vertical-align: inherit; text-align: center" width="100px">核定編號</td>
                <td style="vertical-align: inherit; text-align: center" width="100px">專案代碼</td>
                <td style="vertical-align: inherit; text-align: center" width="150px">發票日期</td>
                <td style="vertical-align: inherit; text-align: center" width="150px">發票號碼</td>
                <td style="vertical-align: inherit; text-align: center">內容說明</td>
                <td style="vertical-align: inherit; text-align: center" width="100px">墊付金額</td>
                <td style="vertical-align: inherit; text-align: center">小計（上）</td>
                <td style="vertical-align: inherit; text-align: center">小計（下）</td>
                <td style="vertical-align: inherit; text-align: center">總共墊付</td>
                <td style="vertical-align: inherit; text-align: center">墊付（上）</td>
                <td style="vertical-align: inherit; text-align: center">墊付（下）</td>
            </tr>
            </thead>
            <tbody ng-repeat="item in searchPaymentsItems">
            <tr style="vertical-align: inherit; text-align: center">
                <!--序號-->
                <td style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{$index + 1}}</span>
                    <!--<button class="btn btn-danger editable-table-button btn-xs"-->
                    <!--ng-if="!item.isSendReview"-->
                    <!--ng-click="removePaymentItem(item, 0);">移除-->
                    <!--</button>-->
                </td>
                <!--墊付人-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span ng-if="checkDataShow($index, item.creatorDID)">
                    {{showUser(item.creatorDID)}}
                </span>
                </td>
                <!--核定編號-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <div>
                        {{item.itemIndex}}
                    </div>
                </td>
                <!--專案代碼-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span>{{showPrjCodeWithCombine(item.prjDID)}}</span>
                </td>
                <!--發票日期-->
                <td style="vertical-align: inherit; text-align: center">
                    <span>{{item.payDate}}</span>
                </td>
                <!--發票號碼-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span >{{item.receiptCode}}</span>
                </td>
                <!--內容說明-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span >{{item.contents}}</span>
                </td>
                <!--墊付金額-->
                <td class="form-group" style="vertical-align: inherit; text-align: right">
                    <span >{{(item.amount*1).toLocaleString()}}</span>
                </td>
                <!--小計（上）-->
                <td class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="checkDataShow($index, item.creatorDID)">{{(showMonthlyData(item.creatorDID, 1)*1).toLocaleString()}}</span>
                </td>
                <!--小計（下）-->
                <td class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="checkDataShow($index, item.creatorDID)">{{(showMonthlyData(item.creatorDID, 2)*1).toLocaleString()}}</span>
                </td>
                <!--總共墊付-->
                <td class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="checkDataShow($index, item.creatorDID)">{{(showMonthlyData(item.creatorDID, 0)*1).toLocaleString()}}</span>
                </td>
                <!--墊付（上）-->
                <td class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="checkDataShow($index, item.creatorDID)">{{(showMonthlyData(item.creatorDID, 1)*1).toLocaleString()}}</span>
                </td>
                <!--墊付（下）-->
                <td class="form-group" style="vertical-align: inherit; text-align: right">
                    <span ng-if="checkDataShow($index, item.creatorDID)">{{(showMonthlyData(item.creatorDID, 2)*1).toLocaleString()}}</span>
                </td>

            </tr>
            </tbody>
            <tfoot>
            <tr style="vertical-align: inherit; text-align: center">
                <td colspan="7" style="vertical-align: inherit;">
                    小計
                </td>
                <td style="vertical-align: inherit; text-align: right">
                    {{calculateSum(4).toLocaleString()}}
                </td>
            </tr>
            </tfoot>
        </table>

        <hr>

        <button type="submit"
                style="float: right; margin-right: 10px; display: none"
                ng-click="printPDF()"
                class="btn btn-danger">
            列印
        </button>

        <button type="submit"
                style="float: right; margin-right: 10px; display: none"
                ng-click="sendReview(this)"
                class="btn btn-warning">
            提交審查
        </button>

        <button type="submit"
                style="float: left; margin-right: 10px; display: none"
                ng-click="saveItems(0)"
                class="btn btn-primary">
            表單暫存
        </button>

    </div>


</div>



