<div class="row" >
    <div class="col-md-12">
        <div class="form-group">
            <label>選擇員工</label>
            <ui-select ng-model="paymentFormCtrlVm.executiveAddUser.selected"
                       class="btn-group bootstrap-select form-control"
                       ng-disabled="false"
                       ng-click="initDate_executiveAdd()"
                       ng-change="fetchPaymentsData($select.selected._id, 2)"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇員工">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                        repeat="user in paymentFormCtrlVm.executiveAddUsers |
                            groupSelectpickerOptions: {name: $select.search}">
                    <span ng-bind-html="user.name| highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<div class="row"
     ng-if="paymentFormCtrlVm.executiveAddUser.selected"
     id="rowHead">
    <div class="col-md-12"
         id="colHead">
        <div class="form-group">
            <label for="projectName">總案名稱 - 專案名稱 - 子案名稱 - 類型 - 代碼</label>
            <ui-select ng-model="paymentFormCtrlVm.prjItems_executiveAdd.selected"
                       class="btn-group bootstrap-select form-control"
                       id="projectName"
                       ng-disabled="false"
                       ng-change="insertPaymentItemF($select.selected._id, 2)"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇(新增)">
                    {{$select.selected.mainName}} -
                    {{$select.selected.prjName}} -
                    {{$select.selected.prjSubName}} -
                    {{prjTypeToName($select.selected.type)}} -
                    {{$select.selected.prjCode}}
                </ui-select-match>
                <ui-select-choices
                        ng-model="prjName"
                        repeat="prjItems_executiveAdd in paymentFormCtrlVm.projects_executiveAdd |
                            groupSelectpickerOptions: {
                            mainName: $select.search,
                            prjName: $select.search,
                            prjSubName: $select.search,
                            prjCode: $select.search
                            } | limitTo: 100"
                        group-by="'mainName'">
                    <span ng-bind-html="prjItems_executiveAdd.prjName + ' - ' +
                    prjItems_executiveAdd.prjSubName + ' - ' +
                    prjTypeToName(prjItems_executiveAdd.type) + ' - ' +
                    prjItems_executiveAdd.prjCode | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<div class="row col-md-12"
     ng-if="paymentFormCtrlVm.executiveAddUser.selected"
     ng-init="fetchPaymentsData(null, 0)">

    <my-month-picker ng-click="listenMonth_executiveAdd(this)"
                     formatted="YYYY/MM">
    </my-month-picker>
    <br>
    <button type="button" class="btn btn-default btn-icon"
            ng-click="changePaymentMonth_executiveAdd(-1, this)">
        <i class="ion-chevron-left"></i>
    </button>
    {{myMonth}}
    <button type="button" class="btn btn-default btn-icon"
            ng-click="changePaymentMonth_executiveAdd(1, this)">
        <i class="ion-chevron-right"></i>
    </button>

    <hr>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr style="white-space:nowrap">
            <td style="vertical-align: inherit; text-align: center" width="80px"></td>
            <td style="vertical-align: inherit; text-align: center" width="100px">專案代碼</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">發票日期</td>
            <td style="vertical-align: inherit; text-align: center" width="150px">發票號碼</td>
            <td style="vertical-align: inherit; text-align: center">內容說明</td>
            <td style="vertical-align: inherit; text-align: center" width="100px">墊付金額</td>
            <td style="vertical-align: inherit; text-align: center">經理簽章</td>
            <td style="vertical-align: inherit; text-align: center" width="20px">核定編號</td>
            <td style="vertical-align: inherit; text-align: center" width="35px">切分</td>
            <td style="vertical-align: inherit; text-align: center" width="50px">更新時間</td>
        </tr>
        </thead>
        <tbody ng-repeat="item in displayPaymentItems_executiveAdd">
        <tr style="vertical-align: inherit; text-align: center">
            <!--序號-->
            <td style="vertical-align: inherit; text-align: center">
                <span id="prjCode">{{$index + 1}}</span>
                <button class="btn btn-danger editable-table-button btn-xs"
                        ng-click="removePaymentItem(item, 2);">移除
                </button>
            </td>
            <!--專案代碼-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <span>{{showPrjCodeWithCombine(item.prjDID)}}</span>
            </td>
            <!--發票日期-->
            <td style="vertical-align: inherit; text-align: center">
                <input type="text"
                       ng-model="item.payDate"
                       value="{{item.payDate}}"
                       class="form-control input-sm">
            </td>
            <!--發票號碼-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <input type="text"
                       ng-model="item.receiptCode"
                       value="{{item.receiptCode}}"
                       class="form-control input-sm">
            </td>
            <!--內容說明-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <input type="text"
                       ng-model="item.contents"
                       value="{{item.contents}}"
                       class="form-control input-sm">
            </td>
            <!--墊付金額-->
            <td class="form-group" style="vertical-align: inherit; text-align: right">
                <input type="text"
                       ng-model="item.amount"
                       value="{{(item.amount*1).toLocaleString()}}"
                       class="form-control input-sm">
            </td>
            <!--經理簽章-->
            <td rowspan="2" style="vertical-align: inherit;">
                <div ng-if="(item.isSendReview && !item.isManagerCheck)">
                    <button class="btn btn-warning editable-table-button btn-xs"
                            style="color: black">
                        {{ showProjectManager(item.prjDID)}}
                        <br>
                        確認作業中
                    </button>
                </div>
                <div ng-if="item.isManagerCheck">
                    <div ng-if="!item.isExecutiveAdd">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(item.prjDID)}}
                            <br>
                            確認完成
                        </button>
                    </div>
                    <div ng-if="item.isExecutiveAdd">
                        <button class="btn btn-primary editable-table-button btn-xs"
                                style="color: black">
                            行政修訂
                        </button>
                    </div>
                </div>
                <div ng-if="!item.isSendReview && item.isManagerReject">
                    <button class="btn btn-warning editable-table-button btn-xs"
                            style="color: black">
                        {{ showProjectManager(item.prjDID)}}
                        <br>
                        退回
                    </button>
                </div>
                <my ng-if="!item.isSendReview && item.isManagerReject"
                    ng-class="{workAdd: hover}"
                    class="mytooltip"
                    ng-mouseover="hover = true"
                    ng-mouseleave="hover = false">
                    原因：<i class="ion-clipboard"></i>
                    <span class="tooltiptext">{{item.managerReject_memo}}</span>
                </my>
                <button class="btn btn-danger editable-table-button btn-xs"
                        ng-click="executiveModifiedPaymentItem(item);">修訂
                </button>
            </td>
            <!--核定編號-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <input type="text"
                       id="paymentItemIndexInput"
                       ng-model="item.itemIndex"
                       value="{{item.itemIndex}}"
                       class="form-control input-sm">
            </td>

            <!--切分-->
            <td class="form-group" style="vertical-align: inherit; text-align: center">
                <cj-switcher
                        ng-if="roleType == '100'"
                        ng-click="changeSCItemStatus(this, item)"
                        ng-model="item.isFrontHalfMonth"
                        switcher-on="上半月"
                        switcher-off="下半月"
                        switcher-style="primary"
                        switcher-value="item.isFrontHalfMonth"/>
            </td>

            <!--更新時間-->
            <td style="vertical-align: inherit;">
                <span ng-if="item.updateTs != undefined">
                    {{item.updateTs}}
                </span>
                <br>
                <span ng-if="item.updateTs != undefined">
                    {{showUpdateAction(item.updateAction)}}
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr style="vertical-align: inherit; text-align: center">
            <td colspan="5" style="vertical-align: inherit;">
                小計
            </td>
            <td style="vertical-align: inherit; text-align: right">
                {{calculateSum(2).toLocaleString()}}
            </td>
        </tr>
        </tfoot>
    </table>

    <hr>

    <button type="submit"
            style="float: right; margin-right: 10px"
            ng-click="printPDF()"
            ng-if="false"
            class="btn btn-danger">
        列印
    </button>

    <button type="submit"
            style="float: right; margin-right: 10px"
            ng-click="sendReview(this)"
            ng-if="false"
            class="btn btn-warning">
        提交審查
    </button>

    <button type="submit"
            style="float: left; margin-right: 10px"
            ng-click="saveItems(2)"
            class="btn btn-primary">
        表單暫存
    </button>
</div>



