
<div style="color:red">
    項目『送審』經過『經理簽章』完成，『行政核定』完成，才會顯示在頁面上。
</div>

<div class="row col-md-12" ng-init="initDate_person()">

    <my-month-picker ng-click="listenMonth_person(this)"
                     formatted="YYYY/MM">
    </my-month-picker>
    <br>
    <button type="button" class="btn btn-default btn-icon"
            ng-click="changePaymentMonth_person(-1, this)">
        <i class="ion-chevron-left"></i>
    </button>
    {{myMonth}}
    <button type="button" class="btn btn-default btn-icon"
            ng-click="changePaymentMonth_person(1, this)">
        <i class="ion-chevron-right"></i>
    </button>

    <div id="form_person_pdf">

        <h3 class="with-line">
            {{username}} {{myMonth}} 墊付款</h3>

        <button class="btn btn-info editable-table-button btn-xs no-print"
                ng-click="printPDF_person() ">
            列印
        </button>

        <hr class="no-print"/>

        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="white-space:nowrap">
                <td style="vertical-align: inherit; text-align: center" width="80px">核定編號</td>
                <td style="vertical-align: inherit; text-align: center" width="100px">專案代碼</td>
                <td style="vertical-align: inherit; text-align: center">發票日期</td>
                <td style="vertical-align: inherit; text-align: center">發票號碼</td>
                <td style="vertical-align: inherit; text-align: center" width="180px">內容說明</td>
                <td style="vertical-align: inherit; text-align: center">墊付金額</td>
                <td style="vertical-align: inherit; text-align: center" class="no-print">經理簽章</td>
                <td style="vertical-align: inherit; text-align: center" class="no-print">行政核定</td>
            </tr>
            </thead>
            <tbody ng-repeat="item in displayPaymentItems_person">
            <tr style="vertical-align: inherit; text-align: center"
                ng-if="item.isManagerCheck && item.isExecutiveCheck">
                <!--序號-->
                <td style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{item.itemIndex}}</span>
                </td>
                <!--專案代碼-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span>{{showPrjCode(item.prjDID)}}</span>
                </td>
                <!--發票日期-->
                <td style="vertical-align: inherit; text-align: center">
                    <span ng-if="item.isSendReview">{{item.payDate}}</span>
                </td>
                <!--發票號碼-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span ng-if="item.isSendReview">{{item.receiptCode}}</span>
                </td>
                <!--內容說明-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span ng-if="item.isSendReview">{{item.contents}}</span>
                </td>
                <!--墊付金額-->
                <td class="form-group" style="vertical-align: inherit; text-align: center">
                    <span ng-if="item.isSendReview">{{item.amount}}</span>
                </td>
                <!--經理簽章-->
                <td class="form-group no-print" style="vertical-align: inherit; text-align: center">
                    <div ng-if="item.isManagerCheck">
                        <div ng-if="!item.isExecutiveAdd">
                            <button class="btn btn-info editable-table-button btn-xs"
                                    style="color: black">
                                {{ showProjectManager(item.prjDID)}}
                                <br>
                                簽章完成
                            </button>
                        </div>
                        <div ng-if="item.isExecutiveAdd">
                            <button class="btn btn-primary editable-table-button btn-xs"
                                    style="color: black">
                                行政修訂
                            </button>
                        </div>

                    </div>
                </td>
                <!--行政核定-->
                <td class="form-group no-print" style="vertical-align: inherit; text-align: center">
                    <div ng-if="item.isExecutiveCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            確認完成
                        </button>
                    </div>
                    <div ng-if="!item.isExecutiveCheck">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            核定中
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
            <tfoot>
            <tr style="vertical-align: inherit; text-align: center">
                <td colspan="5" style="vertical-align: inherit;">
                    小計
                </td>
                <td style="vertical-align: inherit;">
                    {{calculateSum(3)}}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>



</div>



