<style type='text/css'>

    .sumWarning {
        color: red;
        font-weight: bold;
    }

    .sumNormal {
        color: black;
    }

</style>


<uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab heading="個人打卡機資訊"
             ng-init="fetchData()"
             ng-click="fetchData()">

        <div class="row">

            <!--<div>-->
                <!--<my-month-picker-->
                        <!--formatted="MM"></my-month-picker>-->
                <!--<button type="button" class="btn btn-default btn-icon" ng-click="changeHrMachineMonth(-1, this)">-->
                    <!--<i class="ion-chevron-left"></i></button>-->
                <!--{{myMonth}}-->
                <!--<button type="button" class="btn btn-default btn-icon" ng-click="changeHrMachineMonth(1, this)">-->
                    <!--<i class="ion-chevron-right"></i></button>-->
            <!--</div>-->

            <hr>

            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr style="white-space:nowrap">
                    <td style="vertical-align: inherit; text-align: center" width="100px">日期</td>
                    <td style="vertical-align: inherit; text-align: center">上班(1)</td>
                    <td style="vertical-align: inherit; text-align: center">下班(1)</td>
                    <td style="vertical-align: inherit; text-align: center">上班(2)</td>
                    <td style="vertical-align: inherit; text-align: center">下班(2)</td>

                    <!--1-->
                    <td style="vertical-align: inherit; text-align: center">加班(1)</td>
                    <td style="vertical-align: inherit; text-align: center">加退(1)</td>
                    <!--<td style="vertical-align: inherit; text-align: center">加班時數(1)</td>-->

                    <!--2-->
                    <td style="vertical-align: inherit; text-align: center">加班(2)</td>
                    <td style="vertical-align: inherit; text-align: center">加退(2)</td>
                    <!--<td style="vertical-align: inherit; text-align: center">加班時數(2)</td>-->

                    <!--3-->
                    <td style="vertical-align: inherit; text-align: center">加班(3)</td>
                    <td style="vertical-align: inherit; text-align: center">加退(3)</td>
                    <!--<td style="vertical-align: inherit; text-align: center">加班時數(3)</td>-->

                    <!--4-->
                    <!--<td style="vertical-align: inherit; text-align: center">加班</td>-->
                    <!--<td style="vertical-align: inherit; text-align: center">加退</td>-->

                    <!--上班時數-->
                    <td style="vertical-align: inherit; text-align: center">上班時數</td>

                    <!--請假時數-->
                    <td style="vertical-align: inherit; text-align: center">請假時數</td>

                    <!--上班分鐘數-->
                    <td style="vertical-align: inherit; text-align: center">上班分鐘數</td>

                    <!--加班總時數-->
                    <td style="vertical-align: inherit; text-align: center">加班總時數</td>

                    <!--是否遲到-->
                    <td style="vertical-align: inherit; text-align: center">遲到</td>
                </tr>
                </thead>

                <tbody ng-repeat="tableItem in hrMachineTable">
                <!-- 1 row-->
                <tr style="vertical-align: inherit; text-align: center">
                    <td style="vertical-align: inherit; text-align: center">
                        {{tableItem[0].date}}
                        ({{showDay(tableItem[0].date)}})
                    </td>
                    <!--上班 1-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 11)}}
                    </td>
                    <!--下班 1-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 21)}}
                    </td>
                    <!--上班 2-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 12)}}
                    </td>
                    <!--下班 2-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem,22)}}
                    </td>

                    <!--加班1-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 31)}}
                    </td>
                    <!--加退1-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 41)}}
                    </td>
                    <!--加班時數1-->
                    <!--<td class="form-group" style="vertical-align: inherit;">-->
                        <!--{{showHrMachineTime(tableItem, 51)}}-->
                    <!--</td>-->
                    <!--加班2-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 32)}}
                    </td>
                    <!--加退2-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 42)}}
                    </td>
                    <!--加班時數2-->
                    <!--<td class="form-group" style="vertical-align: inherit;">-->
                        <!--{{showHrMachineTime(tableItem, 52)}}-->
                    <!--</td>-->
                    <!--加班3-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 33)}}
                    </td>
                    <!--加退3-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 43)}}
                    </td>
                    <!--加班時數3-->
                    <!--<td class="form-group" style="vertical-align: inherit;">-->
                        <!--{{showHrMachineTime(tableItem, 53)}}-->
                    <!--</td>-->
                    <!--&lt;!&ndash;加班4&ndash;&gt;-->
                    <!--<td class="form-group" style="vertical-align: inherit;">-->
                        <!--{{showHrMachineTime(tableItem, 34)}}-->
                    <!--</td>-->
                    <!--&lt;!&ndash;加退4&ndash;&gt;-->
                    <!--<td class="form-group" style="vertical-align: inherit;">-->
                        <!--{{showHrMachineTime(tableItem, 44)}}-->
                    <!--</td>-->

                    <!--上班時數-->
                    <td ng-class="workOffHour(tableItem) != '' ? 'sumWarning' : 'sunNormal'"
                            style="vertical-align: inherit;">
                        <div ng-show="workHour(tableItem) != undefined">
                            {{8 - workOffHour(tableItem)}}
                        </div>
                        <div ng-show="workHour(tableItem) == undefined">

                        </div>

                    </td>

                    <!--請假時數-->
                    <td style="vertical-align: inherit;">
                        {{workOffHour(tableItem)}}
                    </td>

                    <!--上班分鐘-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{workHour(tableItem)}}
                    </td>

                    <!--加班時數-->
                    <td class="form-group" style="vertical-align: inherit;">
                        {{showHrMachineTime(tableItem, 51) +
                        showHrMachineTime(tableItem, 52) +
                        showHrMachineTime(tableItem, 53)}}
                    </td>

                    <!--遲到-->
                    <td ng-class="isLate(tableItem) ? 'sumWarning' : 'sunNormal'"
                        style="vertical-align: inherit;">
                        <div ng-show="isLate(tableItem)">
                            遲
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </uib-tab>
    <uib-tab heading="打卡機補登" ng-if=false
             style="color: blue">
        <div ng-include="'app/pages/myForms/forms/hrMachineForm_LoadTab.html'"></div>
    </uib-tab>
    <uib-tab heading="打卡機補登審核" ng-if=false
             style="color: blue">
        <div ng-include="'app/pages/myForms/forms/hrMachineForm_LoadTab.html'"></div>
    </uib-tab>
    <uib-tab heading="打卡機檔案讀取" ng-if="roleType === '100'"
             style="color: blue">
        <div ng-include="'app/pages/myForms/forms/hrMachineForm_LoadTab.html'"></div>
    </uib-tab>
</uib-tabset>


