<form id="formHead">
    <div class="row"
         id="rowHead">
        <div class="col-md-12"
             id="colHead">
            <div class="form-group">
                <label for="projectName">專案名稱 - 類型 - 代碼</label>
                <ui-select ng-model="paymentFormCtrlVm.prjItems.selected"
                           class="btn-group bootstrap-select form-control"
                           id="projectName"
                           ng-disabled="false"
                           ng-change="addPayment($select.selected.name, prjCodeToName($select.selected.type), $select.selected.prjCode, $select.selected._id)"
                           append-to-body="true"
                           search-enabled="true">
                    <ui-select-match placeholder="選擇專案">
                        {{$select.selected.name}} - {{prjCodeToName($select.selected.type)}} -
                        {{$select.selected.prjCode}}
                    </ui-select-match>
                    <ui-select-choices
                            ng-model="prjName"
                            repeat="prjItems in paymentFormCtrlVm.projects | groupSelectpickerOptions: {name: $select.search, prjCode: $select.search}"
                            group-by="'name'">
                        <span ng-bind-html="prjItems.name + ' - ' + prjCodeToName(prjItems.type) + ' - ' + prjItems.prjCode| highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <hr>
        </div>
    </div>
    <hr>
    <div> <!-- Parent Div -->
        <div id="space-for-buttons"></div>
    </div>
    <button type="submit"
            ng-click="sssaa()"
            class="btn btn-danger">提交墊付款</button>
</form>