<!--<div class="add-row-editable-table">-->
<!--<button class="btn btn-primary" ng-click="addWorkItem()">新增項目</button>-->
<!--</div>-->
<style type='text/css'>
    .workAdd {
        cursor: pointer;
    }

    .mytooltip {
        position: relative;
        display: inline-block;
        /*overflow : hidden;*/
        text-overflow : ellipsis;
        /*white-space : nowrap;*/
        width : 240px;
    }

    /* Tooltip text */
    .mytooltip .tooltiptext {
        visibility: hidden;
        width: 360px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -180px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .mytooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .mytooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>

<uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab heading="個人填寫" ng-click="getTable()">
        <div class="row"
             ng-init="getTable()"
             id="rowHead">
            <div class="col-md-12"
                 id="colHead">
                <div class="form-group">
                    <label for="projectName">總案名稱 - 專案名稱 - 子案名稱 - 類型 - 代碼</label>
                    <ui-select ng-model="workHourTableCtrlVm.prjItems.selected"
                               class="btn-group bootstrap-select form-control"
                               id="projectName"
                               ng-disabled="false"
                               ng-change="addWorkItem($select.selected);"
                               append-to-body="true"
                               search-enabled="true">
                        <ui-select-match placeholder="選擇(新增)">
                            {{$select.selected.mainName}} -
                            {{$select.selected.prjName}} -
                            {{$select.selected.prjSubName}} -
                            {{prjTypeToName($select.selected.type)}} -
                            {{$select.selected.prjCode}}
                        </ui-select-match>
                        <ui-select-choices
                                ng-model="prjName"
                                repeat="prjItems in workHourTableCtrlVm.relatedProjects | groupSelectpickerOptions: {mainName: $select.search, prjCode: $select.search}"
                                group-by="'mainName'">
                            <span ng-bind-html="prjItems.mainName + ' - ' + prjItems.prjName + ' - ' + prjItems.prjSubName + ' - ' + prjTypeToName(prjItems.type) + ' - ' + prjItems.prjCode| highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <hr>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-icon" ng-click="decreaseWeek()"><i
                    class="ion-chevron-left"></i></button>
            {{firstDate}} ~ {{lastDate}}
            <button type="button" class="btn btn-default btn-icon" ng-click="addWeek()"><i
                    class="ion-chevron-right"></i></button>
        </div>
        <br>

        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">代碼</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center"width="240px">名稱</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">經理</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">類型</td>

                <td colspan="2" style="vertical-align: inherit; text-align: center">{{monDate}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{tueDate}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{wesDate}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{thuDate}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{friDate}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{satDate}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{sunDate}}</td>

                <td rowspan="3" style="vertical-align: inherit; text-align: center">合計</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">狀態</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">經理確認</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">行政確認</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期一</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期二</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期三</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期四</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期五</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期六</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期日</td>
            </tr>

            </thead>

            <tbody id="majorBody"
                    ng-repeat="table in tablesItems">
            <tr style="vertical-align: inherit; text-align: center">
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{showPrjCode(table.prjDID)}}</span>
                    <span style="display: none;" id="prjDID">{{table.prjDID}}</span>
                    <br>
                    <button class="btn btn-danger editable-table-button btn-xs"
                            ng-show="!rowform1.$waiting && !table.isSendReview"
                            ng-click="deleteCheck(table, $index);">
                        移除
                    </button>
                </td>
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <p class="mytooltip">{{showPrjName(table.prjDID)}}
                        <span class="tooltiptext">{{showPrjName(table.prjDID)}}</span>
                    </p>
                </td>

                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span>{{ showProjectManager(table.prjDID)}}</span>
                </td>

                <td rowspan="2" style="vertical-align: inherit;">
                    <span>
                        正常
                        <br>
                        加班/換休
                    </span>
                </td>

                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.mon_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="mon_hour"
                          e-required>{{ table.mon_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                   <span editable-textarea="table.mon_memo"
                         e-form="rowform1"
                         id="mon_memo"
                         e-required>{{ table.mon_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.tue_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="tue_hour"
                          e-required>{{ table.tue_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.tue_memo"
                          e-form="rowform1"
                          id="tue_memo"
                          e-required>{{ table.tue_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.wes_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="wes_hour"
                          e-required>{{ table.wes_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.wes_memo"
                          e-form="rowform1"
                          id="wes_memo"
                          e-required>{{ table.wes_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.thu_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="thu_hour"
                          e-required>{{ table.thu_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.thu_memo"
                          e-form="rowform1"
                          id="thu_memo"
                          e-required>{{ table.thu_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.fri_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="fri_hour"
                          e-required>{{ table.fri_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                   <span editable-textarea="table.fri_memo"
                         e-form="rowform1"
                         id="fri_memo"
                         e-required>{{ table.fri_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.sat_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="sat_hour"
                          e-required>{{ table.sat_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sat_memo"
                          e-form="rowform1"
                          id="sat_memo"
                          e-required>{{ table.sat_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.sun_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          e-step="0.5"
                          id="sun_hour"
                          e-required>{{ table.sun_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sun_memo"
                          e-form="rowform1"
                          id="sun_memo"
                          e-required>{{ table.sun_memo}}</span>
                </td>

                <!--合計-->
                <td style="vertical-align: inherit;">
                    <span e-form="rowform1"
                          e-required>{{table.hourTotal}}</span>
                </td>
                <!--狀態-->
                <td style="vertical-align: inherit;" rowspan="2">
                    <!--審查中-->
                    <div ng-show="rowform1.$waiting || (table.isSendReview && (!table.isManagerCheck || !table.isExecutiveCheck))">
                        <button class="btn btn-warning editable-table-button btn-xs">
                            審查中
                        </button>
                    </div>
                    <div ng-show="table.isSendReview && table.isManagerCheck && table.isExecutiveCheck">
                        <button class="btn btn-success editable-table-button btn-xs">
                            審查完成
                        </button>
                    </div>
                    <!--可編輯-->
                    <div ng-show="!rowform1.$waiting && !table.isSendReview">
                        <form editable-form name="rowform1" ng-show="rowform1.$visible"
                              class="form-buttons form-inline">
                            <button type="submit"
                                    ng-click="saveTemp()"
                                    class="btn btn-primary editable-table-button btn-xs">
                                暫存
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform1.$visible">
                            <button class="btn btn-info editable-table-button btn-xs"
                                    ng-click="rowform1.$show();bindNumberFormat()">編輯
                            </button>
                        </div>
                        <!--<div class="buttons" ng-show="!rowform1.$visible">-->
                            <!--<button class="btn btn-danger editable-table-button btn-xs"-->
                                    <!--ng-click="review(table, this) ">提交審查-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </td>
                <!--經理確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <div ng-show="rowform1.$waiting || (table.isSendReview && !table.isManagerCheck)">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            確認作業中
                        </button>
                    </div>
                    <div ng-show="table.isManagerCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            確認完成
                        </button>
                    </div>
                    <div ng-show="!table.isSendReview && table.isManagerReject">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            退回
                            <br>
                            原因：{{table.managerReject_memo}}
                        </button>
                    </div>
                </td>
                <!--行政確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <div ng-show="rowform1.$waiting || table.isSendReview && !table.isExecutiveCheck">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            確認作業中
                        </button>
                    </div>
                    <div ng-show="table.isExecutiveCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            確認完成
                        </button>
                    </div>
                    <div ng-show="!table.isSendReview && table.isExecutiveReject">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            退回
                            <br>
                            原因：{{table.executiveReject_memo}}
                        </button>
                    </div>
                </td>

            </tr>
            <!--加班 / 換休-->
            <tr class="row1" style="vertical-align: inherit; text-align: center">
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.mon_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.mon_hour_add, table, 1)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.mon_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="mon_hour_add"
                          e-required>{{ table.mon_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 1, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.mon_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                   <span editable-textarea="table.mon_memo_add"
                         e-form="rowform1"
                         id="mon_memo_add"
                         e-required>{{ table.mon_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.tue_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.tue_hour_add, table, 2)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.tue_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="tue_hour_add"
                          e-required>{{ table.tue_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 2, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.tue_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.tue_memo_add"
                          e-form="rowform1"
                          id="tue_memo_add"
                          e-required>{{ table.tue_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.wes_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.wes_hour_add, table, 3)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.wes_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="wes_hour_add"
                          e-required>{{ table.wes_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 3, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.wes_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.wes_memo_add"
                          e-form="rowform1"
                          id="wes_memo_add"
                          e-required>{{ table.wes_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.thu_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.thu_hour_add, table, 4)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.thu_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="thu_hour_add"
                          e-required>{{ table.thu_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 4, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.thu_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.thu_memo_add"
                          e-form="rowform1"
                          id="thu_memo_add"
                          e-required>{{ table.thu_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.fri_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.fri_hour_add, table, 5)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.fri_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="fri_hour_add"
                          e-required>{{ table.fri_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 5, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.fri_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                   <span editable-textarea="table.fri_memo_add"
                         e-form="rowform1"
                         id="fri_memo_add"
                         e-required>{{ table.fri_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.sat_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.sat_hour_add, table, 6)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.sat_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="sat_hour_add"
                          e-required>{{ table.sat_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 6, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.sat_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sat_memo_add"
                          e-form="rowform1"
                          id="sat_memo_add"
                          e-required>{{ table.sat_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.sun_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.sun_hour_add, table, 7)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                    <span editable-number="table.sun_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          e-style="display: none"
                          id="sun_hour_add"
                          e-required>{{ table.sun_hour_add || 0}}</span>
                    <button type="button" ng-disabled="rowform1.$waiting"
                            ng-show="rowform1.$visible"
                            ng-click="showWorkAddModal(table, 7, true)"
                            class="btn btn-primary editable-table-button btn-xs">
                        {{ table.sun_hour_add || 0}}
                    </button>
                </td>
                <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sun_memo_add"
                          e-form="rowform1"
                          id="sun_memo_add"
                          e-required>{{ table.sun_memo_add}}</span>
                </td>
                <!--合計-->
                <td style="vertical-align: inherit;">
                    <span e-form="rowform1"
                          e-required>{{table.hourAddTotal}}</span>
                </td>

            </tr>
            </tbody>

            <tfoot>
            <!--休假-->
            <tr>
                <td colspan="2" rowspan="3"></td>

                <td colspan="2">
                    <span>
                        休假
                    </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>{{monOffTotal}}</span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>{{tueOffTotal}}</span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>{{wesOffTotal}}</span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>{{thuOffTotal}}</span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>{{friOffTotal}}</span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>{{satOffTotal}}</span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>{{sunOffTotal}}</span>
                </td>
            </tr>

            <!--國定假日-->
            <tr>
                <td colspan="2">
                    <span>
                        國定假日
                    </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{monNH}}
                    </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{tueNH}}
                    </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{wesNH}}
                    </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{thuNH}}
                    </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{friNH}}
                    </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{satNH}}
                    </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{sunNH}}
                    </span>
                </td>
            </tr>

            <!--小計-->
            <tr>
                <td colspan="2">
                    <span>
                        小計
                    </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 1, 1)}}
                    </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 2, 1)}}
                    </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 3, 1)}}
                    </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 4, 1)}}
                    </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 5, 1)}}
                    </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 6, 1)}}
                    </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 7, 1)}}
                    </span>
                </td>
                <!-- summation-->
                <td style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesItems, 1001, 1)}}
                    </span>
                    <br>
                    <span>
                        {{showCalculateHour(tablesItems, 2001, 1)}}
                    </span>
                </td>
            </tr>
            </tfoot>
        </table>
        <hr>
        <section class="col-md-12">
            <button progress-button="createSubmit(1500, false)"
                    style="float: inherit;"
                    id="btnCreate"
                    pb-style="shrink"
                    class="btn btn-warning">
                Save
            </button>

            <button ng-click="reviewFormCheck()"
                    style="float: right;"
                    id="btnReview"
                    pb-style="shrink"
                    class="btn btn-primary">
                提交審查
            </button>
        </section>

    </uib-tab>
    <!--<uib-tab heading="個人加班單">-->
        <!--<div ng-include="'app/pages/myForms/forms/workHourTableForm_managerTab.html'"></div>-->
    <!--</uib-tab>-->
    <uib-tab heading="經理審核" ng-if="roleType === '2' || roleType === '100'" ng-click="fetchManagerRelatedMembers()">
        <div ng-include="'app/pages/myForms/forms/workHourTableForm_managerTab.html'"></div>
    </uib-tab>
    <uib-tab heading="行政確認" ng-if="roleType === '100'">
        <div ng-include="'app/pages/myForms/forms/workHourTableForm_executiveTab.html'"></div>
    </uib-tab>
    <uib-tab heading="歷史檢視" ng-if="roleType === '2' || roleType === '100'" ng-click="turnOnHistoryMode()">
        <div ng-include="'app/pages/myForms/forms/workHourTableForm_historyTab.html'"></div>
    </uib-tab>
    <uib-tab heading="加班單核薪" ng-if="roleType === '100'">
        <div ng-include="'app/pages/myForms/forms/workHourTableForm_executive_workAddTab.html'"></div>
    </uib-tab>
</uib-tabset>


