<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>選擇員工</label>
            <ui-select ng-model="workOffFormCtrlVm.user.selected"
                       class="btn-group bootstrap-select form-control"
                       ng-disabled="false"
                       ng-change="findHolidayFormByUserDID()"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇員工">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                        repeat="user in workOffFormCtrlVm.users | groupSelectpickerOptions: {name: $select.search}">
                    <span ng-bind-html="user.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-condensed"
       ng-init="getWorkOffTable(workOffFormCtrlVm.user.selected._id)"
       ng-if="workOffFormCtrlVm.user.selected">
    <thead>
    <tr style="white-space:nowrap">
        <td style="vertical-align: inherit; text-align: center" width="100px"></td>
        <td style="vertical-align: inherit; text-align: center">病假(時)</td>
        <td style="vertical-align: inherit; text-align: center">事假(時)</td>
        <td style="vertical-align: inherit; text-align: center">補假(時)</td>

        <td style="vertical-align: inherit; text-align: center">特休(天)</td>
        <td style="vertical-align: inherit; text-align: center">婚假(時)</td>
        <td style="vertical-align: inherit; text-align: center">喪假(天)</td>
        <td style="vertical-align: inherit; text-align: center">公假(時)</td>
        <td style="vertical-align: inherit; text-align: center">公傷假(天)</td>
        <td style="vertical-align: inherit; text-align: center">產假(時)</td>
        <td style="vertical-align: inherit; text-align: center">陪產假(時)</td>
    </tr>
    </thead>

    <tbody>
    <!-- 1 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            起始日
        </td>

        <td class="form-group" style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormDateInput input-sm">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>

    </tr>
    <!--2 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            截止日
        </td>

        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="number"
                   class="form-control workOffFormNumberInput input-sm"
                   step="0.5">
        </td>
    </tr>

    <!--3 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            累積休假
        </td>
        <!-- 病假 -->
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_sick"
                   value="{{showWorkOffCount(1)}}">
            {{showWorkOffCount(1)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_private"
                   value="{{showWorkOffCount(0)}}">
            {{showWorkOffCount(0)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_observed"
                   value="{{showWorkOffCount(2)}}">
            {{showWorkOffCount(2)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_special"
                   value="{{showWorkOffCount(3)}}">
            {{showWorkOffCount(3)}}
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_married"
                   value="{{workOffFormCtrlVm.holidayForm.calculate_married}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_mourning"
                   value="{{workOffFormCtrlVm.holidayForm.calculate_mourning}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_official"
                   value="{{workOffFormCtrlVm.holidayForm.calculate_official}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_workinjury"
                   value="{{workOffFormCtrlVm.holidayForm.calculate_workinjury}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_maternity"
                   value="{{workOffFormCtrlVm.holidayForm.calculate_maternity}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.calculate_paternity"
                   value="{{workOffFormCtrlVm.holidayForm.calculate_paternity}}">
        </td>
    </tr>

    <!--4 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            尚餘休假
        </td>

        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_sick"
                   value="{{workOffFormCtrlVm.holidayForm.rest_sick}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_private"
                   value="{{workOffFormCtrlVm.holidayForm.rest_private}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_observed"
                   value="{{workOffFormCtrlVm.holidayForm.rest_observed}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_special"
                   value="{{workOffFormCtrlVm.holidayForm.rest_special}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_married"
                   value="{{workOffFormCtrlVm.holidayForm.rest_married}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_mourning"
                   value="{{workOffFormCtrlVm.holidayForm.rest_mourning}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_official"
                   value="{{workOffFormCtrlVm.holidayForm.rest_official}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_workinjury"
                   value="{{workOffFormCtrlVm.holidayForm.rest_workinjury}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_maternity"
                   value="{{workOffFormCtrlVm.holidayForm.rest_maternity}}">
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <input type="text"
                   class="form-control workOffFormNumberInput input-sm"
                   ng-model="workOffFormCtrlVm.holidayForm.rest_paternity"
                   value="{{workOffFormCtrlVm.holidayForm.rest_paternity}}">
        </td>
    </tr>

    <!--5 row-->
    <tr style="vertical-align: inherit; text-align: center">
        <td style="vertical-align: inherit; text-align: center">
            休假總數
        </td>

        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_sick,
                workOffFormCtrlVm.holidayForm.rest_sick)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_private,
                workOffFormCtrlVm.holidayForm.rest_private)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_observed,
                workOffFormCtrlVm.holidayForm.rest_observed)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_special,
                workOffFormCtrlVm.holidayForm.rest_special)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_married,
                workOffFormCtrlVm.holidayForm.rest_married)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_mourning,
                workOffFormCtrlVm.holidayForm.rest_mourning)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_official,
                workOffFormCtrlVm.holidayForm.rest_official)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_workinjury,
                workOffFormCtrlVm.holidayForm.rest_workinjury)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_maternity,
                workOffFormCtrlVm.holidayForm.rest_maternity)}}
            </t>
        </td>
        <td class="form-group " style="vertical-align: inherit;">
            <t>{{total(workOffFormCtrlVm.holidayForm.calculate_paternity,
                workOffFormCtrlVm.holidayForm.rest_paternity)}}
            </t>
        </td>
    </tr>

    </tbody>

</table>

<h3 class="with-line"></h3>
<div class="form-group">
    <button type="submit"
            ng-click="updateUserHolidayData()"
            class="btn btn-info">儲存 {{workOffFormCtrlVm.user.selected.name}} 資料
    </button>
</div>