<!--<div class="add-row-editable-table">-->
<!--<button class="btn btn-primary" ng-click="addWorkItem()">新增項目</button>-->
<!--</div>-->
<uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab heading="填寫工時">
        <div class="row"
             id="rowHead">
            <div class="col-md-12"
                 id="colHead">
                <div class="form-group">
                    <label for="projectName">專案名稱 - 類型 - 代碼</label>
                    <ui-select ng-model="workHourTableCtrlVm.prjItems.selected"
                               class="btn-group bootstrap-select form-control"
                               id="projectName"
                               ng-disabled="false"
                               ng-change="addWorkItem($select.selected); tableChange()"
                               append-to-body="true"
                               search-enabled="true">
                        <ui-select-match placeholder="選擇專案">
                            {{$select.selected.name}} - {{prjTypeToName($select.selected.type)}} -
                            {{$select.selected.prjCode}}
                        </ui-select-match>
                        <ui-select-choices
                                ng-model="prjName"
                                repeat="prjItems in workHourTableCtrlVm.projects | groupSelectpickerOptions: {name: $select.search, prjCode: $select.search}"
                                group-by="'name'">
                            <span ng-bind-html="prjItems.name + ' - ' + prjTypeToName(prjItems.type) + ' - ' + prjItems.prjCode| highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <hr>
            </div>
        </div>
        <p class="text-center" ng-show="loading">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr >
                <td rowspan="3" style="vertical-align: inherit; text-align: center">專案代碼</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">專案名稱</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">經理</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">類型</td>

                <td colspan="2" style="vertical-align: inherit; text-align: center">3/19</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">3/20</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">3/21</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">3/22</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">3/23</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">3/24</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">3/25</td>

                <td rowspan="3" style="vertical-align: inherit; text-align: center">合計</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期一</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期二</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期三</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期四</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期五</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期六</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期日</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">8</td>
            </tr>
            </thead>

            <tbody ng-repeat="table in tablesItems">
            <tr style="vertical-align: inherit; text-align: center">
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{showPrjCode(table.prjDID)}}</span>
                    <span style="display: none;" id="prjDID">{{table.prjDID}}</span>
                    <br>
                    <button class="btn btn-danger editable-table-button btn-xs"
                            ng-click="removeWorkItem($index)">移除
                    </button>
                </td>
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    {{showPrjName(table.prjDID)}}
                </td>

                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span>{{ showMajor(table.prjDID)}}</span>
                </td>

                <td rowspan="2">
                    <span>
                        正常
                        <br>
                        加班/換休
                    </span>
                </td>

                <td class="form-group has-success">
                    <span editable-text="table.mon_hour"
                          e-form="rowform1"
                          id="mon_hour"
                          e-required>{{ table.mon_hour || 0 }}</span>
                </td>
                <td>
                   <span editable-text="table.mon_memo"
                         e-form="rowform1"
                         id="mon_memo"
                         e-required>{{ table.mon_memo}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.tue_hour"
                          e-form="rowform1"
                          id="tue_hour"
                          e-required>{{ table.tue_hour || 0 }}</span>
                </td>
                <td>
                    <span editable-text="table.tue_memo"
                          e-form="rowform1"
                          id="tue_memo"
                          e-required>{{ table.tue_memo}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.wes_hour"
                          e-form="rowform1"
                          id="wes_hour"
                          e-required>{{ table.wes_hour || 0 }}</span>
                </td>
                <td>
                    <span editable-text="table.wes_memo"
                          e-form="rowform1"
                          id="wes_memo"
                          e-required>{{ table.wes_memo}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.thu_hour"
                          e-form="rowform1"
                          id="thu_hour"
                          e-required>{{ table.thu_hour || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.thu_memo"
                          e-form="rowform1"
                          id="thu_memo"
                          e-required>{{ table.thu_memo}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.fri_hour"
                          e-form="rowform1"
                          id="fri_hour"
                          e-required>{{ table.fri_hour || 0}}</span>
                </td>
                <td>
                   <span editable-text="table.fri_memo"
                         e-form="rowform1"
                         id="fri_memo"
                         e-required>{{ table.fri_memo}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.sat_hour"
                          e-form="rowform1"
                          id="sat_hour"
                          e-required>{{ table.sat_hour || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.sat_memo"
                          e-form="rowform1"
                          id="sat_memo"
                          e-required>{{ table.sat_memo}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.sun_hour"
                          e-form="rowform1"
                          id="sun_hour"
                          e-required>{{ table.sun_hour || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.sun_memo"
                          e-form="rowform1"
                          id="sun_memo"
                          e-required>{{ table.sun_memo}}</span>
                </td>

                <td>
                    <form editable-form name="rowform1" ng-show="rowform1.$visible" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform1.$waiting"
                                class="btn btn-primary editable-table-button btn-xs">
                            確認
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform1.$visible">
                        <button class="btn btn-info editable-table-button btn-xs" ng-click="rowform1.$show(); tableChange()">編輯</button>
                    </div>
                </td>
            </tr>
            <!--加班欄位-->
            <tr class="row1" style="vertical-align: inherit; text-align: center">
                <td class="form-group has-success">
                    <span editable-text="table.mon_hour_add"
                          e-form="rowform2"
                          id="mon_hour_add"
                          e-required>{{ table.mon_hour_add || 0}}</span>
                </td>
                <td>
                   <span editable-text="table.mon_memo_add"
                         e-form="rowform2"
                         id="mon_memo_add"
                         e-required>{{ table.mon_memo_add}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.tue_hour_add"
                          e-form="rowform2"
                          id="tue_hour_add"
                          e-required>{{ table.tue_hour_add || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.tue_memo_add"
                          e-form="rowform2"
                          id="tue_memo_add"
                          e-required>{{ table.tue_memo_add}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.wes_hour_add"
                          e-form="rowform2"
                          id="wes_hour_add"
                          e-required>{{ table.wes_hour_add || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.wes_memo_add"
                          e-form="rowform2"
                          id="wes_memo_add"
                          e-required>{{ table.wes_memo_add}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.thu_hour_add"
                          e-form="rowform2"
                          id="thu_hour_add"
                          e-required>{{ table.thu_hour_add || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.thu_memo_add"
                          e-form="rowform2"
                          id="thu_memo_add"
                          e-required>{{ table.thu_memo_add}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.fri_hour_add"
                          e-form="rowform2"
                          id="fri_hour_add"
                          e-required>{{ table.fri_hour_add || 0}}</span>
                </td>
                <td>
                   <span editable-text="table.fri_memo_add"
                         e-form="rowform2"
                         id="fri_memo_add"
                         e-required>{{ table.fri_memo_add}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.sat_hour_add"
                          e-form="rowform2"
                          id="sat_hour_add"
                          e-required>{{ table.sat_hour_add || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.sat_memo_add"
                          e-form="rowform2"
                          id="sat_memo_add"
                          e-required>{{ table.sat_memo_add}}</span>
                </td>
                <td class="form-group has-success">
                    <span editable-text="table.sun_hour_add"
                          e-form="rowform2"
                          id="sun_hour_add"
                          e-required>{{ table.sun_hour_add || 0}}</span>
                </td>
                <td>
                    <span editable-text="table.sun_memo_add"
                          e-form="rowform2"
                          id="sun_memo_add"
                          e-required>{{ table.sun_memo_add}}</span>
                </td>

                <td>
                    <form editable-form name="rowform2" ng-show="rowform2.$visible" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform2.$waiting"
                                class="btn btn-primary editable-table-button btn-xs">
                            確認
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform2.$visible">
                        <button class="btn btn-info editable-table-button btn-xs" ng-click="rowform2.$show(); tableChange()">編輯</button>
                    </div>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <!--休假-->
            <tr>
                <td colspan="2" rowspan="2"></td>
                <td colspan="2">
                    <span>
                        休假
                    </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
            </tr>

            <!--國定假日-->
            <tr>
                <td colspan="2">
                    <span>
                        國定假日
                    </span>
                </td>

                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>
                        1
                    </span>
                </td>
            </tr>
            </tfoot>
        </table>
        <hr>
        <div class="add-row-editable-table" >
            <button class="btn btn-warning" ng-click="createSubmit()" id="btnSubmit" style="display: none;">暫存</button>
        </div>

    </uib-tab>
    <uib-tab heading="工時審核">
        <div ng-repeat="prj in projectsItems">
            {{prj.name}}
        </div>
    </uib-tab>
</uib-tabset>


