<div >
    <button type="button" class="btn btn-default btn-icon" ng-click="decreaseWeek_executive()"><i
            class="ion-chevron-left"></i></button>
    {{firstDate_executive}} ~ {{lastDate_executive}}
    <button type="button" class="btn btn-default btn-icon" ng-click="addWeek_executive()"><i
            class="ion-chevron-right"></i></button>
</div>
<br>

<uib-accordion ng-repeat="form in workHourFormsForExecutive">
    <uib-accordion-group heading="{{showUser(form.creatorDID)}}"
                         ng-click="showTableOfItem(form, true, null, null, 2)"
                         panel-class="bootstrap-panel accordion-panel panel-default">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">代碼</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center"width="240px">名稱</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">經理</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">類型</td>

                <td colspan="2" style="vertical-align: inherit; text-align: center">{{monDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{tueDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{wesDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{thuDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{friDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{satDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{sunDate_executive}}</td>

                <td rowspan="3" style="vertical-align: inherit; text-align: center">合計</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">經理確認</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">行政確認</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期一</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期二</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期三</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期四</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期五</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期六</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期日</td>
            </tr>
            </thead>

            <tbody ng-repeat="table in fetchFormDataFromScope(form)">
            <tr style="vertical-align: inherit; text-align: center">
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{showPrjCode(table.prjDID)}}</span>
                    <span style="display: none;" id="prjDID">{{table.prjDID}}</span>
                </td>
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <p class="mytooltip">{{showPrjName(table.prjDID)}}
                        <span class="tooltiptext">{{showPrjName(table.prjDID)}}</span>
                    </p>
                </td>

                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span>{{ showProjectManager(table.prjDID)}}</span>
                </td>

                <td rowspan="2" style="vertical-align: inherit;">
                        <span>
                            正常
                            <br>
                            加班/換休
                        </span>
                </td>

                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.mon_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="mon_hour"
                              e-required>{{ table.mon_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.mon_memo !== undefined && table.mon_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 1, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.mon_memo}}</span>
                    </my>
                    <span editable-textarea="table.mon_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="mon_memo"
                          e-required>{{ table.mon_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.tue_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="tue_hour"
                              e-required>{{ table.tue_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.tue_memo !== undefined && table.tue_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 2, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.tue_memo}}</span>
                    </my>
                    <span editable-textarea="table.tue_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="tue_memo"
                          e-required>{{ table.tue_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.wes_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="wes_hour"
                              e-required>{{ table.wes_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.wes_memo !== undefined && table.wes_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 3, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.wes_memo}}</span>
                    </my>
                    <span editable-textarea="table.wes_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="wes_memo"
                          e-required>{{ table.wes_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.thu_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="thu_hour"
                              e-required>{{ table.thu_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.thu_memo !== undefined && table.thu_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 4, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.thu_memo}}</span>
                    </my>
                    <span editable-textarea="table.thu_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="thu_memo"
                          e-required>{{ table.thu_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.fri_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="fri_hour"
                              e-required>{{ table.fri_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.fri_memo !== undefined && table.fri_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 5, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.fri_memo}}</span>
                    </my>
                    <span editable-textarea="table.fri_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="fri_memo"
                          e-required>{{ table.fri_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.sat_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="sat_hour"
                              e-required>{{ table.sat_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.sat_memo !== undefined && table.sat_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 6, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.sat_memo}}</span>
                    </my>
                    <span editable-textarea="table.sat_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="sat_memo"
                          e-required>{{ table.sat_memo}}</span>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="table.sun_hour"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="sun_hour"
                              e-required>{{ table.sun_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.sun_memo !== undefined && table.sun_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 7, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.sun_memo}}</span>
                    </my>
                    <span editable-textarea="table.sun_memo"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="sun_memo"
                          e-required>{{ table.sun_memo}}</span>
                </td>

                <!--合計-->
                <td style="vertical-align: inherit;">
                        <span e-form="rowform1"
                              e-required>{{table.hourTotal}}</span>
                </td>
                <!--經理確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <div ng-show="rowform1.$waiting || (table.isSendReview && !table.isManagerCheck)">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            確認作業中
                        </button>
                    </div>
                    <div ng-show="table.isManagerCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(table.prjDID)}}
                            <br>
                            確認完成
                        </button>
                    </div>
                </td>
                <!--行政確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <form editable-form name="rowform1" ng-show="rowform1.$visible"
                          class="form-buttons form-inline">
                    </form>
                    <div ng-show="!table.isExecutiveCheck && table.isManagerCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                ng-click="reviewWHExecutiveItem(form, table, $index)"
                                style="color: black">
                            同意
                        </button>
                    </div>
                    <div ng-show="!table.isExecutiveCheck && table.isManagerCheck">
                        <button class="btn btn-danger editable-table-button btn-xs"
                                ng-click="disagreeWHItem_executive(form, table, $index)"
                                style="color: black">
                            退回
                        </button>
                    </div>
                    <div ng-show="table.isExecutiveCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            確認完成
                        </button>
                    </div>
                </td>

            </tr>
            <!--加班欄位-->
            <tr class="row1" style="vertical-align: inherit; text-align: center">
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.mon_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.mon_hour_add, table, 1)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.mon_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="mon_hour_add"
                              e-required>{{ table.mon_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.mon_memo_add !== undefined && table.mon_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 11, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.mon_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.mon_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="mon_memo_add"
                          e-required>{{ table.mon_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.tue_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.tue_hour_add, table, 2)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.tue_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="tue_hour_add"
                              e-required>{{ table.tue_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.tue_memo_add !== undefined && table.tue_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 12, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.tue_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.tue_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="tue_memo_add"
                          e-required>{{ table.tue_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.wes_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.wes_hour_add, table, 3)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.wes_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="wes_hour_add"
                              e-required>{{ table.wes_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.wes_memo_add !== undefined && table.wes_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 13, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.wes_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.wes_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="wes_memo_add"
                          e-required>{{ table.wes_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.thu_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.thu_hour_add, table, 4)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.thu_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="thu_hour_add"
                              e-required>{{ table.thu_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.thu_memo_add !== undefined && table.thu_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 14, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.thu_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.thu_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="thu_memo_add"
                          e-required>{{ table.thu_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.fri_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.fri_hour_add, table, 5)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.fri_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="fri_hour_add"
                              e-required>{{ table.fri_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.fri_memo_add !== undefined && table.fri_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 15, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.fri_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.fri_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="fri_memo_add"
                          e-required>{{ table.fri_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.sat_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.sat_hour_add, table, 6)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.sat_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="sat_hour_add"
                              e-required>{{ table.sat_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.sat_memo_add !== undefined && table.sat_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 16, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.sat_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.sat_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="sat_memo_add"
                          e-required>{{ table.sat_memo_add}}</span>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (table.sun_hour_add > 0)"
                    ng-click="showWorkAddCheck(table.sun_hour_add, table, 7)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="table.sun_hour_add"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="sun_hour_add"
                              e-required>{{ table.sun_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="table.sun_memo_add !== undefined && table.sun_memo_add !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(table, 17, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{table.sun_memo_add}}</span>
                    </my>
                    <span editable-textarea="table.sun_memo_add"
                          e-form="rowform1"
                          style="display: none"
                          e-style="display: none"
                          id="sun_memo_add"
                          e-required>{{ table.sun_memo_add}}</span>
                </td>
                <!--合計-->
                <td style="vertical-align: inherit;">
                        <span e-form="rowform1"
                              e-required>{{table.hourAddTotal}}</span>
                </td>

            </tr>
            </tbody>

            <tfoot>
            <!--休假-->
            <tr>
                <td colspan="2" rowspan="3"></td>

                <td colspan="2">
                        <span>
                            休假
                        </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>{{monOffTotal_executive}}</span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>{{tueOffTotal_executive}}</span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>{{wesOffTotal_executive}}</span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>{{thuOffTotal_executive}}</span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>{{friOffTotal_executive}}</span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>{{satOffTotal_executive}}</span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>{{sunOffTotal_executive}}</span>
                </td>
            </tr>

            <!--國定假日-->
            <tr>
                <td colspan="2">
                        <span>
                            國定假日
                        </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{monNH_executive}}
                        </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{tueNH_executive}}
                        </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{wesNH_executive}}
                        </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{thuNH_executive}}
                        </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{friNH_executive}}
                        </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{satNH_executive}}
                        </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{sunNH_executive}}
                        </span>
                </td>
            </tr>

            <!--小計-->
            <tr>
                <td colspan="2">
                        <span>
                            小計
                        </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 1, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 1, 3, form)}}
                        </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 2, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 2, 3, form)}}
                        </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 3, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 3, 3, form)}}
                        </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 4, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 4, 3, form)}}
                        </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 5, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 5, 3, form)}}
                        </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 6, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 6, 3, form)}}
                        </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 7, 3, form) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 7, 3, form)}}
                        </span>
                </td>
                <!-- summation-->
                <td style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(form), 1001, 3, form) !== 40 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(form), 1001, 3, form)}}
                        </span>
                    <br>
                    <span>
                            {{showCalculateHour(fetchFormDataFromScope(form), 2001, 3, form)}}
                        </span>
                </td>
            </tr>
            </tfoot>
        </table>
    </uib-accordion-group>
</uib-accordion>
