<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>選擇員工</label>
            <ui-select ng-model="workHourTableCtrlVm.history.selected"
                       class="btn-group bootstrap-select form-control"
                       ng-disabled="false"
                       ng-change="getTable_history()"
                       append-to-body="true"
                       search-enabled="true">
                <ui-select-match placeholder="選擇員工">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                        repeat="user in workHourTableCtrlVm.historyUsers | groupSelectpickerOptions: {name: $select.search}">
                    <span ng-bind-html="user.name| highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<hr/>

<div ng-show="workHourTableCtrlVm.history.selected">
    <button type="button" class="btn btn-default btn-icon" ng-click="decreaceWeek_manager()"><i
            class="ion-chevron-left"></i></button>
    {{firstDate_manager}} ~ {{lastDate_manager}}
    <button type="button" class="btn btn-default btn-icon" ng-click="addWeek_manager()"><i
            class="ion-chevron-right"></i></button>
</div>
<br>

<table class="table table-bordered table-hover table-condensed" ng-show="workHourTableCtrlVm.history.selected">
    <thead>
    <tr>
        <td rowspan="3" style="vertical-align: inherit; text-align: center">專案代碼</td>
        <td rowspan="3" style="vertical-align: inherit; text-align: center"width="240px">名稱</td>
        <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">經理</td>
        <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">類型</td>


        <td colspan="2" style="vertical-align: inherit; text-align: center">{{monDate_manager}}</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">{{tueDate_manager}}</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">{{wesDate_manager}}</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">{{thuDate_manager}}</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">{{friDate_manager}}</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">{{satDate_manager}}</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">{{sunDate_manager}}</td>

        <td rowspan="3" style="vertical-align: inherit; text-align: center">合計</td>
    </tr>
    <tr>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期一</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期二</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期三</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期四</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期五</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期六</td>
        <td colspan="2" style="vertical-align: inherit; text-align: center">星期日</td>
    </tr>
    </thead>

    <tbody ng-repeat="table in tablesManagerItems">
    <tr style="vertical-align: inherit; text-align: center">
        <td rowspan="2" style="vertical-align: inherit; text-align: center">
            <span id="prjCode">{{showPrjCode(table.prjDID)}}</span>
            <span style="display: none;" id="prjDID">{{table.prjDID}}</span>
            <br>
            <button class="btn btn-danger editable-table-button btn-xs"
                    ng-show="!rowform1.$waiting && !table.isSendReview"
                    ng-click="removeWorkItem($index);">移除
            </button>
        </td>
        <td rowspan="2" style="vertical-align: inherit; text-align: center">
            {{showPrjName(table.prjDID)}}
        </td>

        <td rowspan="2" style="vertical-align: inherit; text-align: center">
            <span>{{ showProjectManager(table.prjDID)}}</span>
        </td>

        <td rowspan="2" style="vertical-align: inherit;">
                    <span>
                        正常
                        <br>
                        加班/換休
                    </span>
        </td>

        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.mon_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="mon_hour"
                          e-required>{{ table.mon_hour || 0 }}</span>
        </td>
        <td style="vertical-align: inherit;">
                   <span editable-textarea="table.mon_memo"
                         e-form="rowform1"
                         id="mon_memo"
                         e-required>{{ table.mon_memo}}</span>
        </td>
        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.tue_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="tue_hour"
                          e-required>{{ table.tue_hour || 0 }}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.tue_memo"
                          e-form="rowform1"
                          id="tue_memo"
                          e-required>{{ table.tue_memo}}</span>
        </td>
        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.wes_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="wes_hour"
                          e-required>{{ table.wes_hour || 0 }}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.wes_memo"
                          e-form="rowform1"
                          id="wes_memo"
                          e-required>{{ table.wes_memo}}</span>
        </td>
        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.thu_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="thu_hour"
                          e-required>{{ table.thu_hour || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.thu_memo"
                          e-form="rowform1"
                          id="thu_memo"
                          e-required>{{ table.thu_memo}}</span>
        </td>
        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.fri_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="fri_hour"
                          e-required>{{ table.fri_hour || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                   <span editable-textarea="table.fri_memo"
                         e-form="rowform1"
                         id="fri_memo"
                         e-required>{{ table.fri_memo}}</span>
        </td>
        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.sat_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="sat_hour"
                          e-required>{{ table.sat_hour || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sat_memo"
                          e-form="rowform1"
                          id="sat_memo"
                          e-required>{{ table.sat_memo}}</span>
        </td>
        <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="table.sun_hour"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="sun_hour"
                          e-required>{{ table.sun_hour || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sun_memo"
                          e-form="rowform1"
                          id="sun_memo"
                          e-required>{{ table.sun_memo}}</span>
        </td>

        <!--合計-->
        <td style="vertical-align: inherit;">
                    <span e-form="rowform1"
                          e-required>{{table.hourTotal}}</span>
        </td>

    </tr>
    <!--加班欄位-->
    <tr class="row1" style="vertical-align: inherit; text-align: center">
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.mon_hour_add > 0)"
            ng-click="showWorkAddCheck(table.mon_hour_add, table, 1)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.mon_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="mon_hour_add"
                          e-required>{{ table.mon_hour_add || 0}}</span>
            <button type="button" ng-disabled="rowform1.$waiting"
                    ng-show="rowform1.$visible"
                    ng-click="showModal(table)"
                    class="btn btn-primary editable-table-button btn-xs">
                新增
            </button>
        </td>
        <td style="vertical-align: inherit;">
                   <span editable-textarea="table.mon_memo_add"
                         e-form="rowform1"
                         id="mon_memo_add"
                         e-required>{{ table.mon_memo_add}}</span>
        </td>
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.tue_hour_add > 0)"
            ng-click="showWorkAddCheck(table.tue_hour_add, table, 2)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.tue_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="tue_hour_add"
                          e-required>{{ table.tue_hour_add || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.tue_memo_add"
                          e-form="rowform1"
                          id="tue_memo_add"
                          e-required>{{ table.tue_memo_add}}</span>
        </td>
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.wes_hour_add > 0)"
            ng-click="showWorkAddCheck(table.wes_hour_add, table, 3)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.wes_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="wes_hour_add"
                          e-required>{{ table.wes_hour_add || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.wes_memo_add"
                          e-form="rowform1"
                          id="wes_memo_add"
                          e-required>{{ table.wes_memo_add}}</span>
        </td>
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.thu_hour_add > 0)"
            ng-click="showWorkAddCheck(table.thu_hour_add, table, 4)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.thu_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="thu_hour_add"
                          e-required>{{ table.thu_hour_add || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.thu_memo_add"
                          e-form="rowform1"
                          id="thu_memo_add"
                          e-required>{{ table.thu_memo_add}}</span>
        </td>
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.fri_hour_add > 0)"
            ng-click="showWorkAddCheck(table.fri_hour_add, table, 5)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.fri_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="fri_hour_add"
                          e-required>{{ table.fri_hour_add || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                   <span editable-textarea="table.fri_memo_add"
                         e-form="rowform1"
                         id="fri_memo_add"
                         e-required>{{ table.fri_memo_add}}</span>
        </td>
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.sat_hour_add > 0)"
            ng-click="showWorkAddCheck(table.sat_hour_add, table, 6)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.sat_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="sat_hour_add"
                          e-required>{{ table.sat_hour_add || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sat_memo_add"
                          e-form="rowform1"
                          id="sat_memo_add"
                          e-required>{{ table.sat_memo_add}}</span>
        </td>
        <td class="form-group has-success"
            ng-class="{workAdd: hover}"
            ng-mouseover="hover = (table.sun_hour_add > 0)"
            ng-click="showWorkAddCheck(table.sun_hour_add, table, 7)"
            ng-mouseleave="hover = false"
            style="vertical-align: inherit;">
                    <span editable-number="table.sun_hour_add"
                          e-form="rowform1"
                          e-ng-change="hourAddChange(this)"
                          e-min="0"
                          id="sun_hour_add"
                          e-required>{{ table.sun_hour_add || 0}}</span>
        </td>
        <td style="vertical-align: inherit;">
                    <span editable-textarea="table.sun_memo_add"
                          e-form="rowform1"
                          id="sun_memo_add"
                          e-required>{{ table.sun_memo_add}}</span>
        </td>
        <!--合計-->
        <td style="vertical-align: inherit;">
                    <span e-form="rowform1"
                          e-required>{{table.hourAddTotal}}</span>
        </td>

    </tr>
    </tbody>

    <tfoot>
    <!--休假-->
    <tr>
        <td colspan="2" rowspan="3"></td>

        <td colspan="2">
                    <span>
                        休假
                    </span>
        </td>
        <!--MON-->
        <td colspan="2" style="text-align: center">
            <span>{{monOffTotal_manager}}</span>
        </td>
        <!--TUE-->
        <td colspan="2" style="text-align: center">
            <span>{{tueOffTotal_manager}}</span>
        </td>
        <!--WED-->
        <td colspan="2" style="text-align: center">
            <span>{{wesOffTotal_manager}}</span>
        </td>
        <!--THU-->
        <td colspan="2" style="text-align: center">
            <span>{{thuOffTotal_manager}}</span>
        </td>
        <!--FRI-->
        <td colspan="2" style="text-align: center">
            <span>{{friOffTotal_manager}}</span>
        </td>
        <!--SAT-->
        <td colspan="2" style="text-align: center">
            <span>{{satOffTotal_manager}}</span>
        </td>
        <!--SUN-->
        <td colspan="2" style="text-align: center">
            <span>{{sunOffTotal_manager}}</span>
        </td>
    </tr>

    <!--國定假日-->
    <tr>
        <td colspan="2">
                    <span>
                        國定假日
                    </span>
        </td>
        <!--MON-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{monNH_manager}}
                    </span>
        </td>
        <!--TUE-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{tueNH_manager}}
                    </span>
        </td>
        <!--WED-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{wesNH_manager}}
                    </span>
        </td>
        <!--THU-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{thuNH_manager}}
                    </span>
        </td>
        <!--FRI-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{friNH_manager}}
                    </span>
        </td>
        <!--SAT-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{satNH_manager}}
                    </span>
        </td>
        <!--SUN-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{sunNH_manager}}
                    </span>
        </td>
    </tr>

    <!--小計-->
    <tr>
        <td colspan="2">
                    <span>
                        小計
                    </span>
        </td>
        <!--MON-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 1, 2)}}
                    </span>
        </td>
        <!--TUE-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 2, 2)}}
                    </span>
        </td>
        <!--WED-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 3, 2)}}
                    </span>
        </td>
        <!--THU-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 4, 2)}}
                    </span>
        </td>
        <!--FRI-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 5, 2)}}
                    </span>
        </td>
        <!--SAT-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 6, 2)}}
                    </span>
        </td>
        <!--SUN-->
        <td colspan="2" style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 7, 2)}}
                    </span>
        </td>
        <!-- summation-->
        <td style="text-align: center">
                    <span>
                        {{showCalculateHour(tablesManagerItems, 1001, 2)}}
                    </span>
            <br>
            <span>
                        {{showCalculateHour(tablesManagerItems, 2001, 2)}}
                    </span>
        </td>
    </tr>
    </tfoot>
</table>
