<div >
    <button type="button" class="btn btn-default btn-icon" ng-click="decreaseWeek_executive()"><i
            class="ion-chevron-left"></i></button>
    {{firstDate_executive}} ~ {{lastDate_executive}}
    <button type="button" class="btn btn-default btn-icon" ng-click="addWeek_executive()"><i
            class="ion-chevron-right"></i></button>
</div>
<br>

<uib-accordion ng-repeat="user in usersReviewForExecutive">
    <uib-accordion-group heading="{{showUser(user.DID)}}"
                         ng-click="showTableOfItem(user, true, true, false, 2)"
                         panel-class="bootstrap-panel accordion-panel panel-default">
        <table class="table table-bordered table-hover table-condensed"
               ng-repeat="table in fetchReviewTableFromScope(user)">
            <thead>
            <tr>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">代碼</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center"width="240px">名稱</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">經理</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center" width="80px">類型</td>

                <td colspan="2" style="vertical-align: inherit; text-align: center">{{monDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{tueDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{wesDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{thuDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{friDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{satDate_executive}}</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">{{sunDate_executive}}</td>

                <td rowspan="3" style="vertical-align: inherit; text-align: center">合計</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">經理確認</td>
                <td rowspan="3" style="vertical-align: inherit; text-align: center">行政確認</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期一</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期二</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期三</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期四</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期五</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期六</td>
                <td colspan="2" style="vertical-align: inherit; text-align: center">星期日</td>
            </tr>
            </thead>

            <tbody ng-repeat="item in fetchFormDataFromScope(table)">
            <tr style="vertical-align: inherit; text-align: center">
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span id="prjCode">{{showPrjCode(item.prjDID)}}</span>
                    <span style="display: none;" id="prjDID">{{item.prjDID}}</span>
                </td>
                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <p class="mytooltip">{{showPrjName(item.prjDID)}}
                        <span class="tooltiptext">{{showPrjName(item.prjDID)}}</span>
                    </p>
                </td>

                <td rowspan="2" style="vertical-align: inherit; text-align: center">
                    <span>{{ showProjectManager(item.prjDID)}}</span>
                </td>

                <td rowspan="2" style="vertical-align: inherit;">
                        <span>
                            正常
                            <br>
                            加班/換休
                        </span>
                </td>

                <td class="form-group has-success" style="vertical-align: inherit;">
                    <span editable-number="item.mon_hour"
                          ng-if="$parent.$index === 0"
                          e-form="rowform1"
                          e-ng-change="hourChange(this)"
                          e-min="0"
                          id="mon_hour"
                          e-required>{{ item.mon_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.mon_memo !== undefined && item.mon_memo !== '' && !rowform1.$visible"
                        ng-class="{workAdd: hover}"
                        ng-if="$parent.$index === 0"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 1, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.mon_memo}}</span>
                    </my>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="item.tue_hour"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 2 && $parent.$index === 0)
                          || (user.crossDay <= 2 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="tue_hour"
                              e-required>{{ item.tue_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.tue_memo !== undefined && item.tue_memo !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 2 && $parent.$index === 0)
                          || (user.crossDay <= 2 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 2, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.tue_memo}}</span>
                    </my>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="item.wes_hour"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 3 && $parent.$index === 0)
                          || (user.crossDay <= 3 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="wes_hour"
                              e-required>{{ item.wes_hour || 0 }}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.wes_memo !== undefined && item.wes_memo !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 3 && $parent.$index === 0)
                          || (user.crossDay <= 3 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 3, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.wes_memo}}</span>
                    </my>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="item.thu_hour"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 4 && $parent.$index === 0)
                          || (user.crossDay <= 4 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="thu_hour"
                              e-required>{{ item.thu_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.thu_memo !== undefined && item.thu_memo !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 4 && $parent.$index === 0)
                          || (user.crossDay <= 4 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 4, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.thu_memo}}</span>
                    </my>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="item.fri_hour"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 5 && $parent.$index === 0)
                          || (user.crossDay <= 5 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="fri_hour"
                              e-required>{{ item.fri_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.fri_memo !== undefined && item.fri_memo !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 5 && $parent.$index === 0)
                          || (user.crossDay <= 5 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 5, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.fri_memo}}</span>
                    </my>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="item.sat_hour"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 6 && $parent.$index === 0)
                          || (user.crossDay <= 6 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="sat_hour"
                              e-required>{{ item.sat_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.sat_memo !== undefined && item.sat_memo !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 6 && $parent.$index === 0)
                          || (user.crossDay <= 6 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 6, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.sat_memo}}</span>
                    </my>
                </td>
                <td class="form-group has-success" style="vertical-align: inherit;">
                        <span editable-number="item.sun_hour"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 7 && $parent.$index === 0)
                          || (user.crossDay <= 7 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourChange(this)"
                              e-min="0"
                              id="sun_hour"
                              e-required>{{ item.sun_hour || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.sun_memo !== undefined && item.sun_memo !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 7 && $parent.$index === 0)
                          || (user.crossDay <= 7 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 7, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.sun_memo}}</span>
                    </my>
                </td>

                <!--合計-->
                <td style="vertical-align: inherit;">
                        <span e-form="rowform1"
                              e-required>{{item.hourTotal}}</span>
                </td>
                <!--經理確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <div ng-show="rowform1.$waiting || (item.isSendReview && !item.isManagerCheck)">
                        <button class="btn btn-warning editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(item.prjDID)}}
                            <br>
                            確認作業中
                        </button>
                    </div>
                    <div ng-show="item.isManagerCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            {{ showProjectManager(item.prjDID)}}
                            <br>
                            確認完成
                        </button>
                    </div>
                </td>
                <!--行政確認-->
                <td rowspan="2" style="vertical-align: inherit;">
                    <form editable-form name="rowform1" ng-show="rowform1.$visible"
                          class="form-buttons form-inline">
                    </form>
                    <div ng-show="!item.isExecutiveCheck && item.isManagerCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                ng-click="reviewWHExecutiveItem(user, item, $index)"
                                style="color: black">
                            同意
                        </button>
                    </div>
                    <div ng-show="!item.isExecutiveCheck && item.isManagerCheck">
                        <button class="btn btn-danger editable-table-button btn-xs"
                                ng-click="disagreeWHItem_executive(user, item, $index)"
                                style="color: black">
                            退回
                        </button>
                    </div>
                    <div ng-show="item.isExecutiveCheck">
                        <button class="btn btn-info editable-table-button btn-xs"
                                style="color: black">
                            行政
                            <br>
                            確認完成
                        </button>
                    </div>
                </td>

            </tr>
            <!--加班欄位-->
            <tr class="row1" style="vertical-align: inherit; text-align: center">
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.mon_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.mon_hour_add, item, 1)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.mon_hour_add"
                              ng-if="$parent.$index === 0"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="mon_hour_add"
                              e-required>{{ item.mon_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.mon_memo_add !== undefined && item.mon_memo_add !== '' && !rowform1.$visible"
                        ng-if="$parent.$index === 0"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 11, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.mon_memo_add}}</span>
                    </my>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.tue_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.tue_hour_add, item, 2)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.tue_hour_add"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 2 && $parent.$index === 0)
                          || (user.crossDay <= 2 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="tue_hour_add"
                              e-required>{{ item.tue_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.tue_memo_add !== undefined && item.tue_memo_add !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 2 && $parent.$index === 0)
                          || (user.crossDay <= 2 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 12, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.tue_memo_add}}</span>
                    </my>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.wes_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.wes_hour_add, item, 3)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.wes_hour_add"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 3 && $parent.$index === 0)
                          || (user.crossDay <= 3 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="wes_hour_add"
                              e-required>{{ item.wes_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.wes_memo_add !== undefined && item.wes_memo_add !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 3 && $parent.$index === 0)
                          || (user.crossDay <= 3 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 13, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.wes_memo_add}}</span>
                    </my>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.thu_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.thu_hour_add, item, 4)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.thu_hour_add"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 4 && $parent.$index === 0)
                          || (user.crossDay <= 4 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="thu_hour_add"
                              e-required>{{ item.thu_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.thu_memo_add !== undefined && item.thu_memo_add !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 4 && $parent.$index === 0)
                          || (user.crossDay <= 4 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 14, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.thu_memo_add}}</span>
                    </my>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.fri_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.fri_hour_add, item, 5)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.fri_hour_add"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 5 && $parent.$index === 0)
                          || (user.crossDay <= 5 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="fri_hour_add"
                              e-required>{{ item.fri_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.fri_memo_add !== undefined && item.fri_memo_add !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 5 && $parent.$index === 0)
                          || (user.crossDay <= 5 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 15, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.fri_memo_add}}</span>
                    </my>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.sat_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.sat_hour_add, item, 6)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.sat_hour_add"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 6 && $parent.$index === 0)
                          || (user.crossDay <= 6 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="sat_hour_add"
                              e-required>{{ item.sat_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.sat_memo_add !== undefined && item.sat_memo_add !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 6 && $parent.$index === 0)
                          || (user.crossDay <= 6 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 16, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.sat_memo_add}}</span>
                    </my>
                </td>
                <td class="form-group has-success"
                    ng-class="{workAdd: hover}"
                    ng-mouseover="hover = (item.sun_hour_add > 0)"
                    ng-click="showWorkAddCheck(item.sun_hour_add, item, 7)"
                    ng-mouseleave="hover = false"
                    style="vertical-align: inherit;">
                        <span editable-number="item.sun_hour_add"
                              ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 7 && $parent.$index === 0)
                          || (user.crossDay <= 7 && $parent.$index === 1)"
                              e-form="rowform1"
                              e-ng-change="hourAddChange(this)"
                              e-min="0"
                              id="sun_hour_add"
                              e-required>{{ item.sun_hour_add || 0}}</span>
                </td>
                <td style="vertical-align: inherit;">
                    <my ng-show="item.sun_memo_add !== undefined && item.sun_memo_add !== '' && !rowform1.$visible"
                        ng-if="checkIsCrossMonth(firstFullDate_executive) < 0
                          || (user.crossDay > 7 && $parent.$index === 0)
                          || (user.crossDay <= 7 && $parent.$index === 1)"
                        ng-class="{workAdd: hover}"
                        class="mytooltip"
                        ng-mouseover="hover = true"
                        ng-mouseleave="hover = false"
                        id="mon_memo"
                        ng-click="editMemo(item, 17, false)">
                        <i class="fa fa-pencil"></i>
                        <span class="tooltiptext">{{item.sun_memo_add}}</span>
                    </my>
                </td>
                <!--合計-->
                <td style="vertical-align: inherit;">
                        <span e-form="rowform1"
                              e-required>{{item.hourAddTotal}}</span>
                </td>

            </tr>
            </tbody>

            <tfoot>
            <!--休假-->
            <tr>
                <td colspan="2" rowspan="3"></td>

                <td colspan="2">
                        <span>
                            休假
                        </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 1)}}</span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 2)}}</span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 3)}}</span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 4)}}</span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 5)}}</span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 6)}}</span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                    <span>{{showWorkOffCalculateHour(fetchWorkOffTableFormDataFromScope(table), 0)}}</span>
                </td>
            </tr>

            <!--國定假日-->
            <tr>
                <td colspan="2">
                        <span>
                            國定假日
                        </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{monNH_executive}}
                        </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{tueNH_executive}}
                        </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{wesNH_executive}}
                        </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{thuNH_executive}}
                        </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{friNH_executive}}
                        </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{satNH_executive}}
                        </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                        <span>
                            {{sunNH_executive}}
                        </span>
                </td>
            </tr>

            <!--小計-->
            <tr>
                <td colspan="2">
                        <span>
                            小計
                        </span>
                </td>
                <!--MON-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 1, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 1, 3, table)}}
                        </span>
                </td>
                <!--TUE-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 2, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 2, 3, table)}}
                        </span>
                </td>
                <!--WED-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 3, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 3, 3, table)}}
                        </span>
                </td>
                <!--THU-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 4, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 4, 3, table)}}
                        </span>
                </td>
                <!--FRI-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 5, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 5, 3, table)}}
                        </span>
                </td>
                <!--SAT-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 6, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 6, 3, table)}}
                        </span>
                </td>
                <!--SUN-->
                <td colspan="2" style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 7, 3, table) > 8 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 7, 3, table)}}
                        </span>
                </td>
                <!-- summation-->
                <td style="text-align: center">
                        <span ng-class="showCalculateHour(fetchFormDataFromScope(table), 1001, 3, table) !== 40 ? 'sumWarning' : 'sunNormal'">
                            {{showCalculateHour(fetchFormDataFromScope(table), 1001, 3, table)}}
                        </span>
                    <br>
                    <span>
                            {{showCalculateHour(fetchFormDataFromScope(table), 2001, 3, table)}}
                        </span>
                </td>
            </tr>
            </tfoot>
        </table>
    </uib-accordion-group>
</uib-accordion>
