<uib-accordion ng-repeat="contract in tableData">
    <uib-accordion-group heading="{{contract.name}} - {{contract.code}}"
                         ng-click="showContractInformation(contract)"
                         panel-class="bootstrap-panel accordion-panel panel-default">
        <table class="table table-bordered table-hover table-condensed" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="vertical-align: inherit; text-align: center; width: 50px" class="head_blue">序號</th>
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">契約編號</th>
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >契約名稱</th>

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >契約金額</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >擴充金額</th><!--管理部人員-->

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">契約工程數量</th>
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">已執行金額</th>

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >服務費率</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >評選日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >決標日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >議價日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >訂約日期</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >履約期限</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >保險期限</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >機關承辦</th><!--管理部人員-->
                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue" >結案</th><!--管理部人員-->

                    <th style="vertical-align: inherit; text-align: center; width: 150px" class="head_blue">更新狀態</th>

                </tr>
            </thead>

            <!--<tbody ng-repeat="item in fetchFormDataFromScope(table)">-->
            <tbody >
                <tr style="vertical-align: inherit; text-align: center;">
                    <td style="vertical-align: inherit; text-align: center;" >
                        <span >{{$index + 1}}</span>
                        <!--<span style="display: none;" id="prjDID">{{item.prjDID}}</span>-->
                    </td><!--序號-->
                    <td style="vertical-align: inherit; text-align: center;" ><span >{{contract.code}}</span></td><!--契約編號-->
                    <td style="vertical-align: inherit; text-align: center;" ><span >{{contract.name}}</span></td><!--契約名稱-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.mount}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.mount"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">

                        <!--<button type="button"-->
                                <!--ng-click="insertContractMemo(contract)"-->
                                <!--class="btn btn-info btn-icon">-->
                            <!--<i class="ion-plus-round"/>-->
                        <!--</button>-->
                    </td><!--契約金額-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.ext_mount}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.ext_mount"
                               placeholder="0"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">

                        <!--<button type="button"-->
                                <!--ng-click="insertContractMemo(contract)"-->
                                <!--class="btn btn-info btn-icon">-->
                            <!--<i class="ion-plus-round"/>-->
                        <!--</button>-->

                    </td><!--擴充金額-->

                    <td style="vertical-align: inherit; text-align: center;" ><span >{{contract.caseOptions.length}}</span></td><!--契約工程數量-->
                    <td style="vertical-align: inherit; text-align: center;" ><span >[自動統計]</span></td><!--已執行金額-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.service_percent}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.service_percent"
                               placeholder="西元年/月/日"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td><!--服務費率-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.date_1}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.date_1"
                               placeholder="西元年/月/日"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td><!--評選日期-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.date_2}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.date_2"
                               placeholder="西元年/月/日"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td><!--決標日期-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.date_3}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.date_3"
                               placeholder="西元年/月/日"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                        <!--<button type="button"-->
                                <!--ng-click="insertContractMemo(contract)"-->
                                <!--class="btn btn-info btn-icon">-->
                            <!--<i class="ion-plus-round"/>-->
                        <!--</button>-->
                        <!--可新增-->
                    </td><!--議價日期-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.date_4}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.date_4"
                               placeholder="西元年/月/日"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td><!--訂約日期-->

                    <!--履約期限-->
                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.date_5}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <div style="margin-top: 5px">
                            <input type="text"
                                   ng-model="contract.date_5"
                                   placeholder="西元年/月/日"
                                   style="text-align: right"
                                   class="form-control input-sm"
                                   value="">
                        </div>

                        <div style="margin-top: 10px">
                            <!--<ba-switcher style="horiz-align: center; vertical-align: center"-->
                                         <!--ng-click="changeContractStatus(contract)"-->
                                         <!--ng-model="contract.enable"-->
                                         <!--switcher-style="primary"-->
                                         <!--switcher-value="contract.enable"/>-->
                            <span >提醒</span>
                            <br>
                            <cj-switcher
                                    style="horiz-align: center; vertical-align: center"
                                    ng-click="changeContractDate5Notify(contract)"
                                    ng-model="contract.date5Enable"
                                    switcher-on="提醒"
                                    switcher-off="關閉"
                                    switcher-style="primary"
                                    switcher-value="contract.date5Enable"/>
                            <br>
                            <p class="mytooltip" ng-if="contract.date5Enable">
                                <i class="ion-information-circled"/>
                                <span class="tooltiptext">
                                    通知對象：管理部
                                    <br>
                                    時間：
                                </span>
                            </p>
                        </div>
                        <!--<button type="button"-->
                                <!--ng-click="insertContractMemo(contract)"-->
                                <!--class="btn btn-info btn-icon">-->
                            <!--<i class="ion-plus-round"/>-->
                        <!--</button>-->
                        <!--可新增-->
                    </td>

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.date_6}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <div style="margin-top: 5px">
                            <input type="text"
                                   ng-model="contract.date_6"
                                   placeholder="西元年/月/日"
                                   style="text-align: right"
                                   class="form-control input-sm"
                                   value="">
                        </div>

                        <div style="margin-top: 10px">
                            <span >提醒</span>
                            <br>
                            <cj-switcher
                                    style="horiz-align: center; vertical-align: center"
                                    ng-click="changeContractDate6Notify(contract)"
                                    ng-model="contract.date6Enable"
                                    switcher-on="提醒"
                                    switcher-off="關閉"
                                    switcher-style="primary"
                                    switcher-value="contract.date6Enable"/>
                            <br>
                            <p class="mytooltip" ng-if="contract.date6Enable">
                                <i class="ion-information-circled"/>
                                <span class="tooltiptext">
                                    通知對象：管理部
                                    <br>
                                    時間：
                                </span>
                            </p>
                        </div>
                        <!--<button type="button"-->
                                <!--ng-click="insertContractMemo(contract)"-->
                                <!--class="btn btn-info btn-icon">-->
                            <!--<i class="ion-plus-round"/>-->
                        <!--</button>-->
                        <!--可新增-->
                    </td><!--保險期限-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        {{contract.boss}}
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <input type="text"
                               ng-model="contract.boss"
                               placeholder="機關承辦"
                               style="text-align: right"
                               class="form-control input-sm"
                               value="">
                    </td><!--機關承辦-->

                    <td style="vertical-align: inherit; text-align: center;" ng-if="!isDepG">
                        <span ng-if="contract.enable">
                            未結
                        </span>
                        <span ng-if="!contract.enable">
                            已結案
                        </span>
                    </td>
                    <td style="vertical-align: inherit; text-align: center;" ng-if="isDepG">
                        <div style="margin-top: 15px">
                            <ba-switcher style="horiz-align: center; vertical-align: center"
                                         ng-click="changeContractStatus(contract)"
                                         ng-model="contract.enable"
                                         switcher-style="primary"
                                         switcher-value="contract.enable"/>
                            <br>
                            <p class="mytooltip" ng-if="contract.enable">
                                <i class="ion-information-circled"/>
                                <span class="tooltiptext">
                                    此契約項下工程全部關閉才可以選擇結案
                                </span>
                            </p>
                        </div>
                    </td><!--結案-->

                    <td style="vertical-align: inherit; text-align: center;"><span >{{contract.userUpdateTs}}</span></td><!--更新日期-->
                </tr>
            </tbody>

            <tbody id="tableItemBody_{{$index}}"
                   ng-if="isDepG"
                   ng-repeat="memo in contract.contractMemo">
                    <tr style="vertical-align: inherit; text-align: center;">
                        <td> ( {{$index + 1}} ) </td>
                        <td colspan="2"></td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.mount_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.ext_mount_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>
                        </td>
                        <td colspan="2"></td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_1"-->
                                   <!--placeholder="0"-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--服務費率-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_2"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--評選日期-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_3"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--決標日期-->
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.data3_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>
                            <!--議價日期-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_5"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--訂約日期-->
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.data5_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>

                            <!--履約期限-->
                        </td>
                        <td>
                            <div style="margin:3px">
                                <input type="text"
                                       ng-model="memo.data6_ext"
                                       placeholder=""
                                       style="text-align: right"
                                       class="form-control input-sm"
                                       value="">
                            </div>

                            <!--保險期限-->
                        </td>
                        <td>
                            <!--<input type="text"-->
                                   <!--ng-model="memo.field_8"-->
                                   <!--placeholder=""-->
                                   <!--style="text-align: right"-->
                                   <!--class="form-control input-sm"-->
                                   <!--value="">-->
                            <!--機關承辦-->
                        </td>
                    </tr>
            </tbody>
        </table>
        <div style="margin-top: 10px" ng-if="isDepG">
        <!--<div style="margin-top: 10px" ng-if="true">-->
            <button type="button"
                    ng-click="insertContractMemo(contract)"
                    class="btn btn-info btn-icon">
                <i class="ion-plus-round"/>
            </button>
        </div>
        <div style="margin-top: 10px" ng-if="isDepG">
        <!--<div style="margin-top: 10px" ng-if="true">-->
            <button ng-click="updateContract(contract)"
                    style="float: left; padding: 0 30px; line-height: 4"
                    id="btnReview"
                    pb-style="shrink"
                    class="btn btn-primary">
                <span>
                    儲存
                </span>
            </button>
        </div>

    </uib-accordion-group>
</uib-accordion>