<!DOCTYPE html>
<html lang="en" ng-app="loginCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>源隆－登入</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
    <link rel="stylesheet" href="../bower_components/noty/lib/noty.css">
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/login.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="server/restfulAPI/login/loginCtrl.js"></script>
    <script src="../bower_components/noty/lib/noty.js"></script>


</head>
<body ng-controller="loginController" ng-init="initLogin()">
<main class="auth-main">
    <div class="auth-block">
        <h1>登入</h1>

        <p class="text-center" ng-show="loading">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                           ng-model="formData.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                           ng-model="formData.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-auth" ng-click="findUser()">Sign In</button>
                    <!--<button type="submit" class="btn btn-default btn-auth" ng-click="createUser()">Sign Up</button>-->
                    <!--<button type="button" class="btn btn-default btn-auth" ng-click="signOut()">Sign Out</button>-->
                    <!--<button type="button" class="btn btn-warning" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/warningModal.html')">-->
                    <!--<button type="button" class="btn btn-warning" data-toggle="modal" onclick="userNoFind()">-->
                    <!--Warning Message-->
                    <!--</button>-->
                    <button type="submit" class="btn btn-default btn-auth" ng-click="forgetPWD()" style="display:none;">忘記密碼</button>
                </div>
            </div>
        </form>

        <div class="auth-sep"><span><span>© 2022 源隆技術顧問有限公司 All rights reserved.</span></span></div>

    </div>
</main>

</body>
<script>

    function userNoFind() {
        new Noty({
            text: 'User Not Find!',
            layout: 'center',
            theme: 'light',
            type: 'error',
        }).show();
    }

    // function Error(txt) {
    //     new Noty({
    //         text: txt,
    //         layout: 'center',
    //         theme: 'light',
    //         type: 'error',
    //     }).show();
    // }

    function userNoActivate() {
        new Noty({
            text: 'User Not Activate!, please contact your administrator.',
            layout: 'center',
            theme: 'light',
            type: 'error',
        }).show();
    }

    function sendMailToCJMail(targetMail) {
        new Noty({
            text: 'ERM has send mail to [' + targetMail + '] !, please check the mail.',
            layout: 'center',
            theme: 'light',
            type: 'success',
        }).show();
    }

    function userPWDWrong() {
        new Noty({
            text: 'Wrong Password!',
            layout: 'center',
            theme: 'light',
            type: 'error',
        }).show();
    }

    function userPWDChanged(data) {
        var updateTime = "更新時間：" + data.passwordChangeTs + " </br>";
        var updateUser = "變更人：" + data.pwdChangeUserName;
        new Noty({
            text: '近期有更新密碼，請確認 </br> ' + updateTime + updateUser,
            layout: 'center',
            theme: 'light',
            type: 'error',
        }).show();
    }

    function signOutSucess() {
        new Noty({
            text: 'Sign Out Success.',
            layout: 'center',
            theme: 'light',
            type: 'success',
        }).show();
    }

</script>

</html>