<div>
    <div class="modal-header bg-warning">
        <i class="ion-android-warning modal-icon"></i>
        <strong>請確認休假日 - {{checkText}}</strong>
    </div>
    <div class="modal-body text-center">
        <input type="text" class="form-control" placeholder="請填寫原因"
               ng-model="rejectMsg" required>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                ng-click="closeThisDialog();sendDisagree_executive(checkingTable
                , mIndex
                , rejectMsg)">確定
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-click="closeThisDialog()">取消
        </button>
    </div>
</div>
