<div>
    <div class="modal-header bg-warning">
        <i class="ion-android-warning modal-icon"></i>
        <strong>請確認</strong>
    </div>
    <div class="modal-body text-center">
        {{checkText}}
    </div>
    <div class="form-group">
        <label class="col-sm-12 control-label">退回原因</label>

        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="請填寫原因"
                   ng-model="rejectMsg" required>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                ng-click="closeThisDialog();sendWHDisagree_manager(checkingTable, mIndex, rejectMsg)">確定
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-click="closeThisDialog()">取消
        </button>
    </div>
</div>
