<!-- 執行專案 -->
<div class="horizontal-scroll">
    <table class="table table-hover" st-table="items">
        <thead>
        <tr>
            <td>
                <button class="btn btn-primary btn-auth" ng-click="addMember()">新增會員</button>
            </td>
            <td colspan="8" class="text-center">
                <div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
            </td>
        </tr>
        <tr class="sortable">
            <th class="table-id" st-sort="_member_info.user_number" st-sort-default="true" style="width: 10%">會員號碼</th>
            <th st-sort="_member_info.user_name" style="width: 10%">姓名</th>
            <th st-sort="_member_info.user_birth" style="width: 13%">生日</th>
            <th st-sort="_member_info.user_mobile" style="width: 13%">手機</th>
            <!--<th st-sort="user_email" style="width: 13%">Email</th>-->
            <!--<th st-sort="user_address" style="width: 20%">住址</th>-->
            <th st-sort="_member_info.user_memo" style="width: 13%">備註</th>
            <th  style="width: 10px">消費筆數</th>
            <th  style="width: 5%">消費總額</th>
        </tr>
        <tr>
            <th><input st-search="_member_info.user_number"
                       placeholder="尋找會員號碼"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="_member_info.user_name"
                       placeholder="輸入姓名"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="_member_info.user_birth"
                       placeholder="輸入生日"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="_member_info.user_mobile"
                       placeholder="輸入手機"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <!--<th><input st-search="user_email"-->
                       <!--placeholder="輸入Email"-->
                       <!--class="input-sm form-control search-input"-->
                       <!--type="search"/>-->
            <!--</th>-->
            <!--<th><input st-search="user_address"-->
                       <!--placeholder="輸入住址"-->
                       <!--class="input-sm form-control search-input"-->
                       <!--type="search"/>-->
            </th>
            <th><input st-search="_member_info.user_memo"
                       placeholder="輸入備註"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>

        </tr>

        </thead>
        <tbody>

        <tr ng-repeat="item in items" class="editable-tr-wrap"
            ng-class="{vhcMember: hover}"
            ng-mouseover="hover = true"
            ng-mouseleave="hover = false"
            ng-click="fetchPurchase(item)"
            >

            <!--會員ID-->
            <td class="table-id" style="width: 5%">
                {{item._member_info.user_number}}
            </td>
            <!--姓名-->
            <td style="width: 20%">
                {{item._member_info.user_name}}
            </td>
            <!--生日-->
            <td style="width: 13%">
                {{item._member_info.user_birth}}
            </td>
            <!--手機-->
            <td style="width: 13%">
                {{item._member_info.user_mobile}}
            </td>
            <!--Email-->
            <!--<td style="width: 13%">-->
                <!--{{mem.user_email}}-->
            <!--</td>-->
            <!--&lt;!&ndash;住址&ndash;&gt;-->
            <!--<td style="width: 13%">-->
                <!--{{mem.user_address}}-->
            <!--</td>-->
            <!--備註-->
            <td style="width: 13%">
                {{item._member_info.user_memo}}
            </td>
            <!--消費筆數-->
            <td style="width: 10px">
                {{item.purchases.length}}
            </td>
            <!--消費總額-->
            <td style="width: 5%">
                {{totalPurchase(item)}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>